<div id="tab-pannel" class="panel-group">
	<form name="nonRegularPayForm" validate>
		<div class="panel panel-default" modal-movable>
			<div class="panel-heading">
				<h4 class="panel-title">Non Regular Pay Allowance- Codes</h4>
			</div>
			<div class="panel-body">
				<div class="col-sm-12 col-md-12 col-lg-12 no-padding">
					<div class="col-sm-5 col-md-5 col-lg-5">
						<md-input-container><label readonly="readonly" class="labelName">Country</label> <input
								type="text" ng-model="countryName" tabindex=-1 readonly="readonly" />
						</md-input-container>
					</div>
					<div class="col-sm-2 col-md-2 col-lg-2"></div>
					<div class="col-sm-5 col-md-5 col-lg-5">
						<md-input-container><label readonly="readonly" class="labelName">Province</label> <input
								type="text" tabindex=-1 ng-model="provisionName" readonly="readonly" data-test="NonRegularPay_Province"/>
						</md-input-container>
					</div>
				</div>
				<div class="col-sm-12 col-md-12 col-lg-12 no-padding">
					<div class="col-sm-5 col-md-5 col-lg-5">
						<md-input-container><label readonly="readonly" class="labelName">Effective Date </label> <input
								type="text" tabindex=-1 ng-model="effectiveDate" name="yard" readonly="readonly" data-test="NonRegularPay_EffectiveDate"/>
						</md-input-container>
					</div>
					<div class="col-sm-2 col-md-2 col-lg-2"></div>
					<div class="col-sm-5 col-md-5 col-lg-5">
						<md-input-container><label readonly="readonly" class="labelName">Non Regular Pay Allowances
								- Code List ID </label> <input type="text" tabindex=-1 ng-model="nonRegularPayCycleDisplayId"
								name="NonRegularPayAllowanceCodeListId" readonly="readonly" disabled data-test="NonRegularPay_ListID"/>
						</md-input-container>
					</div>
				</div>

				<div class="popUpTableResHeight">
					<table class="table table-striped table-hover table-bordered popUpTableHeight">
						<thead>
							<tr>
								<th >Select</th>
								<th>Code</th>
								<th>Description</th>
								<th>Is Taxable</th>
								<th>Notes</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="nonRegularPay in nonRegularPays">
								<td >
									<input type="checkbox" value="nonRegularPay.id" ng-model="nonRegularPay.selected"
										ng-change="nonRegularPayPopupRowSelect(nonRegularPay)"></td> 
								<td ng-if="nonRegularPay.actionType == 'View' ">{{nonRegularPay.code}}</td>  
								<td ng-if="nonRegularPay.actionType != 'View'" ng-form name="classform">
									<input class="form-control" type="text" name="code" ng-model="nonRegularPay.code"
										pattern="^[a-zA-Z\d\s.,]+$" minlength="1" maxlength="20" placeholder="Code"
										required="required" data-test="NonRegularPay_Code">
									<span ng-show="classform.code.$dirty && classform.code.$error.required">This field
										is mandatory</span>
									<span ng-show="classform.code.$error.pattern">Must enter required format</span>
									<span ng-show="classform.code.$error.maxlength">You reached max length</span>
								</td>
								<td ng-if="nonRegularPay.actionType == 'View' ">{{nonRegularPay.description}}</td>
								<td ng-if="nonRegularPay.actionType != 'View' " ng-form name="classform">
									<input class="form-control" type="text" name="name"
										ng-model="nonRegularPay.description" pattern="^[a-zA-Z\d\s.,]+$" minlength="2"
										maxlength="50" placeholder="Description" required="required" data-test="NonRegularPay_Description">
									<span ng-show="classform1.name.$dirty && classform1.name.$error.required">This field
										is mandatory</span>
									<span ng-show="classform1.name.$error.pattern">Must enter required format</span>
									<span ng-show="classform1.name.$error.maxlength">You reached max length</span>
								</td>
								<td ng-if="nonRegularPay.actionType == 'View' ">{{nonRegularPay.isTaxable}}</td>
								<td ng-if="nonRegularPay.actionType != 'View'"><select
										ng-model="nonRegularPay.isTaxable" ng-required="true" tabindex="-1"
										class="form-control" data-test="NonRegularPay_IsTaxable">
										<option ng-repeat="isTaxable in taxable" ng-value="isTaxable.name">
											{{isTaxable.name}}</option>
									</select></td>
								<td ng-if="nonRegularPay.actionType == 'View' ">{{nonRegularPay.notes}}</td>
								<td ng-if="nonRegularPay.actionType != 'View' " ng-form name="classform">
									<!--<input type="text" name="notes" ng-model="nonRegularPay.notes" placeholder="Notes"
										class="form-control" data-test="NonRegularPay_Notes"/>-->
									 <textarea cols="20" rows="3" ng-model="nonRegularPay.notes"
										placeholder="Notes"></textarea> 
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="panel-footer">
				<div class="pull-left">
					<input type="submit" ng-click="nonRegularPayForm.$valid && addRows()" class="btn btn-primary btn-sm"
						value="Add" ng-show="action =='Add' || action =='Edit'" validate data-test="NonRegularPay_Add">
					<input type="button" ng-click="deleteRows()" value="Delete" ng-show="action =='Add' || action =='Edit'"
						class="btn  btn-secondary btn-sm" validate data-test="NonRegularPay_Delete">
				</div>

				<div class="pull-right" ng-if="actionTypeSave != 'View' ">
					<input type="submit" ng-click=" viewpastrecords()" value="View Past Records" class="btn btn-primary btn-sm" data-test="NonRegularPay_ViewPastRecords"/>
					<input type="submit" ng-click="nonRegularPayForm.$valid && saveNonRegularPayPayRate()" value="Save" data-test="NonRegularPay_Save"
						class="btn btn-primary btn-sm" />
				</div>
			</div>
			<div class="ngdialog-close"></div>
		</div>
	</form>
</div>