<div id="tab-pannel" class="potPopupContainer panel panel-default" modal-movable>

    <div class="panel panel-default help-background" modal-movable>
        <div class="panel-heading">
            <h4 class="panel-title blink">Help : Company List</h4>
        </div>
        <div class="panel-body">
            <div class="b-sh overflow-auto" style="height: 468.97048px;">
                <div class="text-center">
                    <img src="images/Pot_Help/CentralLibrary/CompanyList/CompanyList_Buttons_TabsDetails.png"
                        width="95%">
                </div>
                <div class="text-matter">
                    <strong>COMPANY LIST</strong>: It holds all the Companies that provide various services like Man
                    Power, Plant, Material and Services to our organization.
                </div>
                <hr />
                <div class="text-center">
                    <img src="images/Pot_Help/CentralLibrary/CompanyList/CompanyList_ Create company.png" width="95%">
                </div>
                <div class="text-matter">
                    <strong>ADD ROWS</strong>: To Create Single/Multiple Companies.<br />
                    <strong>SAVE</strong>: To save added Companies.<br />
                    <strong>DELETE ROWS</strong>: To Delete Single/Multiple Companies Added ( User need to select the
                    company records
                    using checkbox to delete ).

                </div>
                <hr />
                <div class="text-center">
                    <img src="images/Pot_Help/CentralLibrary/CompanyList/CompanyList_Address_ButtonsDetails.png"
                        width="95%">
                        <hr />
                    <img src="images/Pot_Help/CentralLibrary/CompanyList/CompanyList_Address_Create.png" width="95%">
                </div>
                <div class="text-matter">
                    <strong>CREATE</strong>: To Create a Company’s Address.<br />
                    <strong>EDIT</strong> : To Edit a created Company’s Address.<br />
                    <strong>DEACTIVATE</strong>: To Deactivate the Selected Company’s Address.
                    ( User need to select the Company’s Address using checkbox to deactivate ).

                </div>
                <hr />
                <div class="text-center">
                    <img src="images/Pot_Help/CentralLibrary/CompanyList/CompanyList_ Contact_ButtonsDetails.png"
                        width="95%">
                        <hr />
                    <img src="images/Pot_Help/CentralLibrary/CompanyList/CompanyList_Contacts_Create.png" width="95%">
                </div>
                <div class="text-matter">
                    <strong>CREATE</strong>: To Create a Company’s Contacts.<br />
                    <strong>EDIT</strong> : To Edit a created Company’s Contacts.<br />
                    <strong>DEACTIVATE</strong>: To Deactivate the Selected Company’s Contacts.
                    ( User need to select the Company’s Contacts using checkbox to deactivate ).

                </div>
                <hr />
                <div class="text-center">
                    <img src="images/Pot_Help/CentralLibrary/CompanyList/CompanyList_ CurrentProjects_ButtonsDetails.png"
                        width="95%">
                        <hr />
                    <img src="images/Pot_Help/CentralLibrary/CompanyList/CompanyList_CurrentProjects_Create.png"
                        width="95%">
                </div>
                <div class="text-matter">
                    <strong>ADD ROWS</strong>: To Create Single/Multiple Companies.<br />
                    <strong>SAVE</strong> : To save added Companies.<br />
                    <strong>DELETE ROWS</strong>: To Delete Single/Multiple Companies Added ( User need to select the
                    company records using checkbox to delete ).

                </div>
                <hr />
                <div class="text-center">
                    <img src="images/Pot_Help/CentralLibrary/CompanyList/CompanyList_ ClosedProjects.png" width="95%">

                </div>

            </div>
        </div>
    </div>
    <div class="ngdialog-close"></div>
</div>