<div id="tab-pannel" class="potPopupContainer panel panel-default" modal-movable>

    <div class="panel panel-default help-background" modal-movable>
        <div class="panel-heading">
            <h4 class="panel-title blink">Help : Cost Code Classification</h4>
        </div>
        <div class="panel-body">
            <div class="b-sh overflow-auto" style="height: 468.97048px;">
                <div class="text-matter">
                    <strong>COST CODE CLASSIFICATION</strong>: The Cost is segregated into different types of Cost Code
                    Classifications for ease of use. These Cost Code Classifications can be used in creating Cost
                    Codes(Project Library).
                </div>
                <div class="text-center">
                    <img src="images/Pot_Help/CentralLibrary/CostCode Classification/CostCode Classification_Buttons.png"
                        width="95%">
                </div>
                <div class="text-matter">
                    <strong>CREATE</strong>: To Create New Cost Code ID/Name.<br />
                    <strong>EDIT</strong> : To Edit a created Cost Code ID/Name.<br />
                    <strong>DEACTIVATE</strong>: To Deactivate the Selected Cost Code ID/Name( User need
                    to select
                    the Cost Code Classification using checkbox to deactivate ).<br />
                    <strong>ACTIVATE</strong>: To Activate the Selected Cost Code ID/Name( User need to
                    select the
                    deactivated
                    Cost Code ID/Name using checkbox to Activate ).<br />
                    <strong>SEARCH</strong> : To Search Existing Cost Code ID/Names.<br />
                    <strong>RESET</strong> : To Reset Page with default page load view.
                </div>
                <hr />
                <div class="text-center">
                    <img
                        src="images/Pot_Help/CentralLibrary/CostCode Classification/CostCode Classification_Create.png">
                </div>
                <div class="text-matter">
                    <strong>ADD ROWS</strong>: To Create Single/Multiple Cost Code Classifications.<br />
                    <strong>SAVE</strong>: To save added Cost Code Classifications.<br />
                    <strong>DELETE ROWS</strong>: To Delete Single/Multiple Cost Code Classifications Added ( User need
                    to
                    select
                    the Cost Code Classifications records using checkbox to delete ).

                </div>

            </div>
        </div>
    </div>
    <div class="ngdialog-close"></div>
</div>