<div id="tab-pannel" class="potPopupContainer panel panel-default" modal-movable>

    <div class="panel panel-default help-background" modal-movable>
        <div class="panel-heading">
            <h4 class="panel-title blink">Help : Country and State/Province Codes</h4>
        </div>
        <div class="panel-body">
            <div class="b-sh overflow-auto" style="height: 468.97048px;">
                <div class="text-matter">
                    <strong>COUNTRY AND STATE/PROVINCE CODES</strong>: Country details with Financial Year(Cycle Period)
                    are maintained in this page. These Country Codes can be used in Finance Centre Master.
                </div>
                <div class="text-center">
                    <img src="images/Pot_Help/CentralLibrary/Country Codes/CL_Country Codes_Main Screen.png"
                        width="95%">
                </div>
                <div class="text-matter">
                    <strong>ADD</strong>: To Create New Country and Province Code.<br />
                    <strong>EDIT</strong> : To Edit a created Country and Province Code.<br />
                    <strong>SEARCH</strong> : To Search Existing Country and Province Code.<br />
                    <strong>RESET</strong> : To Reset Page with default page load view.<br />

                </div>
                <hr />
                <div class="text-center">
                    <img src="images/Pot_Help/CentralLibrary/Country Codes/CL_Country Codes_Create.png" >
                </div>
                <div class="text-matter">
                    <strong>ADD ROWS</strong>: To Create Single/Multiple Country Codes.<br />
                    <strong>SAVE</strong>: To save added Country Codes.<br />
                    <strong>DELETE ROWS</strong>: To Delete Single/Multiple Country Codes Added ( User need
                    to
                    select
                    the Country Codes records using checkbox to delete ).
                </div>
                <hr />
                <div class="text-center">
                    <img src="images/Pot_Help/CentralLibrary/Country Codes/CL_Country Codes_Created Record.png"
                        width="95%">
                </div>
            </div>
        </div>
    </div>
    <div class="ngdialog-close"></div>
</div>