<div id="tab-pannel" class="potPopupContainer panel panel-default" modal-movable>

    <div class="panel panel-default help-background" modal-movable>
        <div class="panel-heading">
            <h4 class="panel-title blink">Help : Country and Province Codes</h4>
        </div>
        <div class="panel-body">
            <div class="b-sh overflow-auto" style="height: 468.97048px;">
                <div class="text-matter">
                    <strong>COUNTRY AND PROVINCE CODES</strong>: Country details with Financial Year, Financial Half
                    Year, Financial Quarter Year are maintained in this page. These Country Codes can be used in Finance
                    Centre Master.
                </div>
                <div class="text-center">
                    <img src="images/Pot_Help/CentralLibrary/Finance Codes_Country Province Codes/CL_Finance Codes_Country Province Codes_Main Screen.png"
                        width="95%">
                </div>
                <div class="text-matter">
                    <strong>CREATE</strong>: To Create New Country and Province Code.<br />
                    <strong>EDIT</strong> : To Edit a created Country and Province Code.<br />
                    <strong>DELETE</strong>: To Deactivate the Selected Country and Province Code( User need
                    to select
                    the Country and Province Code using checkbox to deactivate ).<br />
                    <strong>VIEW</strong>: To View the Selected Country and Province Code Financial Years.<br />

                </div>
                <hr />
                <div class="text-center">
                    <img
                        src="images/Pot_Help/CentralLibrary/Finance Codes_Country Province Codes/CL_Finance Codes_Country Province Codes_Create.png" width="95%">
                </div>
                <div class="text-matter">
                    <strong>ADD/EDIT</strong>: To Add/Edit Financial Year from and to dates.<br />
                    <strong>SAVE</strong>: To save added Country Province Codes.<br />
                </div>
                <hr />
                <div class="text-center">
                    <img
                        src="images/Pot_Help/CentralLibrary/Finance Codes_Country Province Codes/CL_Finance Codes_Country Province Codes_Created Record.png" width="95%">
                </div>
            </div>
        </div>
    </div>
    <div class="ngdialog-close"></div>
</div>