<div id="tab-pannel" class="potPopupContainer panel panel-default" modal-movable>

    <div class="panel panel-default help-background" modal-movable>
        <div class="panel-heading">
            <h4 class="panel-title blink">Help : Employee Classification</h4>
        </div>
        <div class="panel-body">
            <div class="b-sh overflow-auto" style="height: 468.97048px;">
                <div class="text-matter">
                    <strong>EMPLOYEE CLASSIFICATION</strong>: Employee Classification is used to categorize the
                    employee based on the skill he has. This classification is required while registering the employee
                    into the project. E.g. Carpenter, Boil Maker, Welder, Electrician etc.
                </div>
                <div class="text-center">
                    <img src="images/Pot_Help/CentralLibrary/EmployeeClassification/EmployeeClassification_Buttons.png"
                        width="95%">
                </div>
                <div class="text-matter">
                    <strong>CREATE</strong>: To Create New Employee Classification Code/Name.<br />
                    <strong>EDIT</strong> : To Edit a created Employee Classification Code/Name.<br />
                    <strong>DEACTIVATE</strong>: To Deactivate the Selected Employee Classification Code/Name( User need
                    to select
                    the Employee Classification
                    Code/Name using checkbox to deactivate ).<br />
                    <strong>ACTIVATE</strong>: To Activate the Selected Employee Classification Code/Name( User need to
                    select the
                    deactivated
                    Employee Classification Code/Name using checkbox to Activate ).<br />
                    <strong>SEARCH</strong> : To Search Existing Employee Classification Code/Names.<br />
                    <strong>RESET</strong> : To Reset Page with default page load view.
                </div>
                <hr />
                <div class="text-center">
                    <img src="images/Pot_Help/CentralLibrary/EmployeeClassification/EmployeeClassification_Create.png">
                </div>
                <div class="text-matter">
                    <strong>ADD ROWS</strong>: To Create Single/Multiple Employee Classifications.<br />
                    <strong>SAVE</strong>: To save added Employee Classifications.<br />
                    <strong>DELETE ROWS</strong>: To Delete Single/Multiple Employee Classifications Added ( User need
                    to
                    select
                    the Employee Classifications records using checkbox to delete ).

                </div>

            </div>
        </div>
    </div>
    <div class="ngdialog-close"></div>
</div>