<div id="tab-pannel" class="potPopupContainer panel panel-default" modal-movable>

    <div class="panel panel-default help-background" modal-movable>
        <div class="panel-heading">
            <h4 class="panel-title blink">Help : Employee Wage Factors</h4>
        </div>
        <div class="panel-body">
            <div class="b-sh overflow-auto" style="height: 468.97048px;">
                <div class="text-matter">
                    <strong>EMPLOYEE WAGE FACTORS</strong>: Wages to be paid for Employees is classified into different
                    types for ease of use. For Example: Ordinary Rates, Double, Time & Quarter, Time & Half.. etc.,
                </div>
                <div class="text-center">
                    <img src="images/Pot_Help/CentralLibrary/Employee Wage Factors/CL_Employee Wage Factor_Main Screen.png"
                        width="95%">
                </div>
                <div class="text-matter">
                    <strong>CREATE</strong>: To Create New Wage Factor Code/Name.<br />
                    <strong>EDIT</strong> : To Edit a created Wage Factor Code/Name.<br />
                    <strong>DEACTIVATE</strong>: To Deactivate the Selected Wage Factor Code/Name( User need
                    to select
                    the Wage Factor Code/Name using checkbox to deactivate ).<br />
                    <strong>ACTIVATE</strong>: To Activate the Selected Wage Factor Code/Name( User need to
                    select the
                    deactivated
                    Wage Factor Code/Name using checkbox to Activate ).<br />
                    <strong>SEARCH</strong> : To Search Existing Wage Factor Code/Names.<br />
                    <strong>RESET</strong> : To Reset Page with default page load view.
                </div>
                <hr />
                <div class="text-center">
                    <img src="images/Pot_Help/CentralLibrary/Employee Wage Factors/CL_Employee Wage Factor_Create.png">
                </div>
                <div class="text-matter">
                    <strong>ADD ROWS</strong>: To Create Single/Multiple Employee Wage Factors.<br />
                    <strong>SAVE</strong>: To save added Employee Wage Factors.<br />
                    <strong>DELETE ROWS</strong>: To Delete Single/Multiple Employee Wage Factors Added (User need
                    to
                    select
                    the Employee Wage Factors records using checkbox to delete).
                </div>
                <hr />
                <div class="text-center">
                    <img src="images/Pot_Help/CentralLibrary/Employee Wage Factors/CL_Employee Wage Factor_Created Record.png" width="95%">
                </div>

            </div>
        </div>
    </div>
    <div class="ngdialog-close"></div>
</div>