<div id="tab-pannel" class="potPopupContainer panel panel-default" modal-movable>

    <div class="panel panel-default" modal-movable>
        <div class="panel-heading">
            <h4 class="panel-title blink">Help : Enterprise Project Structure</h4>
        </div>
        <div class="panel-body">
            <div class="b-sh overflow-auto" style="height: 468.97048px;">
                <div class="text-center">
                    <img src="images/Pot_Help/EPS/Side Bar_Main Scren.png" width="95%">
                </div>
                <div class="text-matter">
                    <strong>Enterprise Project Structure</strong>: Use this page for defining the Enterprise Project
                    Structure
                </div>
                <div class="text-center">
                    <img src="images/Pot_Help/EPS/EPS_Mainscreen_Buttons.png" width="95%">
                </div>
                <div class="text-matter">
                    <strong>CREATE</strong>: To Create new EPS ID/Name.<br />
                    <i class="fa fa-edit" aria-hidden="true"></i>: To Edit a created EPS ID/Name.<br />
                    <i class="fa fa-plus" aria-hidden="true"></i>: To Expand EPS Project Structure.<br />
                    <i class="fa fa-minus" aria-hidden="true"></i>: To Collapse the EPS Project Structure.<br />
                    <strong>DEACTIVATE</strong>: To Deactivate the Selected EPS (User need to select the EPS using
                    checkbox to deactivate).

                </div>
                <div class="text-center">
                    <img src="images/Pot_Help/EPS/EPS_Create Page.png" width="95%">
                </div>
                <div class="text-matter">
                    <i class="fa fa-plus" aria-hidden="true"></i>: To Create EPS Sub Group ID/Name.<br />
                    <i class="fa fa-trash" aria-hidden="true"></i>: To Delete created EPS Sub Group ID/Name.<br />
                    <strong>Save</strong>: To Save Created EPS ID/Name & EPS Sub Group ID/Name.<br />
                </div>
            </div>
        </div>
    </div>
    <div class="ngdialog-close"></div>
</div>