<div id="tab-pannel" class="potPopupContainer panel panel-default" modal-movable>

    <div class="panel panel-default help-background" modal-movable>
        <div class="panel-heading">
            <h4 class="panel-title blink">Help : Immovable Assets Category</h4>
        </div>
        <div class="panel-body">
            <div class="b-sh overflow-auto" style="height: 468.97048px;">
                <div class="text-matter">
                    <strong>IMMOVABLE ASSETS</strong>:Asset Type, Category are specified in this page. These Immovable
                    Assets can be used in Resources-Immovable Assets.
                </div>
                <div class="text-center">
                    <img src="images/Pot_Help/CentralLibrary/Immovable Assets/CL_Immovable Assets_Main Page.png"
                        width="95%">
                </div>
                <div class="text-matter">
                    <strong>CREATE</strong>: To Create New Asset Category Code.<br />
                    <i class="fa fa-plus" aria-hidden="true"></i>: To Expand Asset Category.<br />
                    <i class="fa fa-minus" aria-hidden="true"></i>: To Collapse the Asset Category.<br />
                    <i class="fa fa-edit" aria-hidden="true"></i>: To Edit a created Asset Category Code.<br />
                    <strong>SEARCH</strong> : To Search Existing Asset Category Codes.<br />
                    <strong>RESET</strong> : To Reset Page with default page load view.<br />
                    <strong>DEACTIVATE</strong>: To Deactivate the Selected Asset Category Code( User need
                    to select
                    the Asset Category Code using checkbox to deactivate ).<br />

                </div>
                <hr />
                <div class="text-center">
                    <img src="images/Pot_Help/CentralLibrary/Immovable Assets/CL_Immovable Assets_Create.png">
                </div>
                <div class="text-matter">
                    <i class="fa fa-plus" aria-hidden="true"></i>: To Create Asset Sub Category Code/Name.<br />
                    <i class="fa fa-plus-square-o" aria-hidden="true"></i>: To Create Immovable Asset Items.<br />
                    <i class="fa fa-trash" aria-hidden="true"></i>: To Delete Immovable Asset Item ID/Name, Sub Group
                    Code/Name.<br />
                    <strong>SAVE</strong>: To Save Created Immovable Asset Category Code/Name & Sub Category Code/Name
                    with Items.<br />
                </div>
                <hr />
                <div class="text-center">
                    <img src="images/Pot_Help/CentralLibrary/Immovable Assets/CL_Immovable Assets_Created Record.png"
                        width="95%">
                </div>
            </div>
        </div>
    </div>
    <div class="ngdialog-close"></div>
</div>