<div id="tab-pannel" class="potPopupContainer panel panel-default" modal-movable>

    <div class="panel panel-default help-background" modal-movable>
        <div class="panel-heading">
            <h4 class="panel-title blink">Help : Leave Types</h4>
        </div>
        <div class="panel-body">
            <div class="b-sh overflow-auto" style="height: 468.97048px;">
                <div class="text-matter">
                    <strong>LEAVE TYPES</strong>: Different types of leaves which can be provided for Employees are
                    maintained in this page. Leave Types can be created and maintained based on respective Country
                    Codes.
                </div>
                <div class="text-center">
                    <img src="images/Pot_Help/CentralLibrary/Leave Types/CL_Leave Types Main Page.png" width="95%">
                </div>
                <div class="text-matter">
                    <strong>CREATE</strong>: To Create Leave Types.<br />
                    <strong>EDIT</strong> : To Edit a created Leave Types.<br />
                    <strong>SEARCH</strong> : To Search Existing Leave Types.<br />
                    <strong>RESET</strong> : To Reset Page with default page load view.
                </div>
                <hr />
                <div class="text-center">
                    <img src="images/Pot_Help/CentralLibrary/Leave Types/CL_Leave Types_Create.png" width="95%">
                </div>
                <hr />
                <div class="text-center">
                    <img src="images/Pot_Help/CentralLibrary/Leave Types/CL_Leave Types_Created Record.png" width="95%">
                </div>

            </div>
        </div>
    </div>
    <div class="ngdialog-close"></div>
</div>