<div id="tab-pannel" class="potPopupContainer panel panel-default" modal-movable>

    <div class="panel panel-default help-background" modal-movable>
        <div class="panel-heading">
            <h4 class="panel-title blink">Help : Material Classification</h4>
        </div>
        <div class="panel-body">
            <div class="b-sh overflow-auto" style="height: 468.97048px;">
                <div class="text-matter">
                    <strong>MATERIAL CLASSIFICATION</strong>: Material Classification is used for classifying the
                    materials across project wise. The Materials that are assigned for a project can only be used in
                    that same project. The Materials will be assigned for every project based on the requirement of the
                    project.
                </div>
                <div class="text-center">
                    <img src="images/Pot_Help/CentralLibrary/MaterialClassification/MaterialClassification_Buttons.png"
                        width="95%">
                </div>
                <div class="text-matter">
                    <strong>CREATE</strong>: To Create New Material Group ID/Name.<br />
                    <i class="fa fa-plus" aria-hidden="true"></i>: To Expand Material Classification Structure.<br />
                    <i class="fa fa-minus" aria-hidden="true"></i>: To Collapse the Material Classification
                    Structure.<br />
                    <i class="fa fa-edit" aria-hidden="true"></i>: To Edit a created Material Group ID/Name, Sub Group
                    ID/Name.<br />
                    <strong>SEARCH</strong> : To Search Existing Material Group ID/Names.<br />
                    <strong>RESET</strong> : To Reset Page with default page load view.<br />
                    <strong>DEACTIVATE</strong>: To Deactivate the Selected Material Group ID/Name( User need
                    to select
                    the Material Group Classification using checkbox to deactivate ).<br />

                </div>
                <hr />
                <div class="text-center">
                    <img src="images/Pot_Help/CentralLibrary/MaterialClassification/MaterialClassification_Create.png">
                </div>
                <div class="text-matter">
                    <i class="fa fa-plus" aria-hidden="true"></i>: To Create Material Sub Group ID/Name.<br />
                    <i class="fa fa-plus-square-o" aria-hidden="true"></i>: To Create Material Items.<br />
                    <i class="fa fa-trash" aria-hidden="true"></i>: To Delete Material Item ID/Name, Sub Group
                    ID/Name.<br />
                    <strong>SAVE</strong>: To Save Created Material Group ID/Name & Material Sub Group ID/Name with
                    Items.<br />
                </div>

            </div>
        </div>
    </div>
    <div class="ngdialog-close"></div>
</div>