<div id="tab-pannel" class="potPopupContainer panel panel-default" modal-movable>

    <div class="panel panel-default help-background" modal-movable>
        <div class="panel-heading">
            <h4 class="panel-title blink">Help : Measuring Units</h4>
        </div>
        <div class="panel-body">
            <div class="b-sh overflow-auto" style="height: 468.97048px;">
                <div class="text-matter">
                    <strong>MEASURING UNITS</strong>: These are the units for the raw materials that can be used in the
                    project.
                    Measuring units are fixed for the materials as per their usage in the project. Example: Metres,
                    KiloMeters, Numbers, Hours etc..,
                </div>
                <div class="text-center">
                    <img src="images/Pot_Help/CentralLibrary/Measuring Units/MeasuringUnits_Buttons.png" width="95%">
                </div>
                <div class="text-matter">
                    <strong>CREATE</strong>: To Create New Measurement Code/Name.<br />
                    <strong>EDIT</strong> : To Edit a created Measurement Code/Name.<br />
                    <strong>DEACTIVATE</strong>: To Deactivate the Selected Measurement Code/Name( User need to select
                    the Measurement
                    Code/Name using checkbox to deactivate ).<br />
                    <strong>ACTIVATE</strong>: To Activate the Selected Measurement Code/Name( User need to select the
                    deactivated
                    Measurement Code/Name using checkbox to Activate ).<br />
                    <strong>SEARCH</strong> : To Search Existing Measurement Code/Names.<br />
                    <strong>RESET</strong> : To Reset Page with default page load view.
                </div>
                <hr />
                <div class="text-center">
                    <img src="images/Pot_Help/CentralLibrary/Measuring Units/MeasuringUnits_Create.png">
                </div>
                <div class="text-matter">
                    <strong>ADD ROWS</strong>: To Create Single/Multiple Measuring Units.<br />
                    <strong>SAVE</strong>: To save added Measuring Units.<br />
                    <strong>DELETE ROWS</strong>: To Delete Single/Multiple Measuring Units Added ( User need to select
                    the Measuring Units records using checkbox to delete ).

                </div>

            </div>
        </div>
    </div>
    <div class="ngdialog-close"></div>
</div>