<div id="tab-pannel" class="potPopupContainer panel panel-default" modal-movable>

    <div class="panel panel-default help-background" modal-movable>
        <div class="panel-heading">
            <h4 class="panel-title blink">Help : Plant Classification</h4>
        </div>
        <div class="panel-body">
            <div class="b-sh overflow-auto" style="height: 468.97048px;">
                <div class="text-matter">
                    <strong>PLANT CLASSIFICATION</strong>: Plant classification is used to categorize the equipment or
                    vehicles that are used at all stages of the project. This classification is required while
                    registering the plant in central resources. E.g. Excavator, Road Roller, Front end Loader etc..,
                </div>
                <div class="text-center">
                    <img src="images/Pot_Help/CentralLibrary/PlantClassification/PlantClassification_Buttons.png"
                        width="95%">
                </div>
                <div class="text-matter">
                    <strong>CREATE</strong>: To Create New Plant Classification Code/Name.<br />
                    <strong>EDIT</strong> : To Edit a created Plant Classification Code/Name.<br />
                    <strong>DEACTIVATE</strong>: To Deactivate the Selected Plant Classification Code/Name( User need
                    to select
                    the Plant Classification
                    Code/Name using checkbox to deactivate ).<br />
                    <strong>ACTIVATE</strong>: To Activate the Selected Plant Classification Code/Name( User need to
                    select the
                    deactivated
                    Plant Classification Code/Name using checkbox to Activate ).<br />
                    <strong>SEARCH</strong> : To Search Existing Plant Classification Code/Names.<br />
                    <strong>RESET</strong> : To Reset Page with default page load view.
                </div>
                <hr />
                <div class="text-center">
                    <img src="images/Pot_Help/CentralLibrary/PlantClassification/PlantClassification_Create.png">
                </div>
                <div class="text-matter">
                    <strong>ADD ROWS</strong>: To Create Single/Multiple Plant Classifications.<br />
                    <strong>SAVE</strong>: To save added Plant Classifications.<br />
                    <strong>DELETE ROWS</strong>: To Delete Single/Multiple Plant Classifications Added ( User need
                    to
                    select
                    the Plant Classifications records using checkbox to delete ).

                </div>

            </div>
        </div>
    </div>
    <div class="ngdialog-close"></div>
</div>