<div id="tab-pannel" class="potPopupContainer panel panel-default" modal-movable>

    <div class="panel panel-default help-background" modal-movable>
        <div class="panel-heading">
            <h4 class="panel-title blink">Help : Procurement Category</h4>
        </div>
        <div class="panel-body">
            <div class="b-sh overflow-auto" style="height: 468.97048px;">
                <div class="text-matter">
                    <strong>PROCUREMENT CATEGORY</strong>: It is defined as the action of obtaining or procuring
                    something.
                    It maintains different types of Categories like Manpower, Materials, Plants, Project Sub Contract,
                    Services. These categories can be used in Resources & Schedule of Items.
                </div>
                <div class="text-center">
                    <img src="images/Pot_Help/CentralLibrary/Procurement Category/CL_Procurement Category_Main Screen.png"
                        width="95%">
                </div>
                <div class="text-matter">
                    <strong>CREATE</strong>: To Create Procurement Category.<br />
                    <strong>EDIT</strong> : To Edit a created Procurement Category.<br />
                    <strong>DEACTIVATE</strong>: To Deactivate the Selected Procurement Category( User need
                    to select
                    the Procurement Category using checkbox to deactivate ).<br />
                    <strong>ACTIVATE</strong>: To Activate the Selected Procurement Category( User need to
                    select the
                    deactivated
                    Procurement Category using checkbox to Activate ).<br />
                    <strong>SEARCH</strong> : To Search Existing Procurement Category.<br />
                    <strong>RESET</strong> : To Reset Page with default page load view.
                </div>
                <hr />
                <div class="text-center">
                    <img src="images/Pot_Help/CentralLibrary/Procurement Category/CL_Procurement Category_Create.png">
                </div>
                <div class="text-matter">
                    <strong>ADD ROWS</strong>: To Create Single/Multiple Procurement Categories.<br />
                    <strong>SAVE</strong>: To save added Procurement Categories.<br />
                    <strong>DELETE ROWS</strong>: To Delete Single/Multiple Procurement Categories Added (User need
                    to
                    select
                    the Procurement Categories records using checkbox to delete).
                </div>
                <hr />
                <div class="text-center">
                    <img src="images/Pot_Help/CentralLibrary/Procurement Category/CL_Procurement Category_Created Record.png"
                        width="95%">
                </div>

            </div>
        </div>
    </div>
    <div class="ngdialog-close"></div>
</div>