<div id="tab-pannel" class="potPopupContainer panel panel-default" modal-movable>

    <div class="panel panel-default help-background" modal-movable>
        <div class="panel-heading">
            <h4 class="panel-title blink">Help : Profit Center</h4>
        </div>
        <div class="panel-body">
            <div class="b-sh overflow-auto" style="height: 468.97048px;">
                <div class="text-matter">
                    <strong>PROFIT CENTER</strong>: To Maintain Profit Center Codes.
                </div>
                <div class="text-center">
                    <img src="images/Pot_Help/CentralLibrary/Finance Codes_Profit Center/CL_Finance Codes_Profit Center_Main Screen.png"
                        width="95%">
                </div>
                <div class="text-matter">
                    <strong>CREATE</strong>: To Create New Profit Center Code/Name.<br />
                    <i class="fa fa-plus" aria-hidden="true"></i>: To Expand Profit Center Structure.<br />
                    <i class="fa fa-minus" aria-hidden="true"></i>: To Collapse the Profit Center
                    Structure.<br />
                    <i class="fa fa-edit" aria-hidden="true"></i>: To Edit a created Profit Center Code/Name.<br />
                    <strong>SEARCH</strong> : To Search Existing Profit Center Code/Names.<br />
                    <strong>RESET</strong> : To Reset Page with default page load view.<br />
                    <strong>DEACTIVATE</strong>: To Deactivate the Selected Profit Center Code/Name( User need
                    to select
                    the Profit Center Code/Name using checkbox to deactivate ).<br />

                </div>
                <hr />
                <div class="text-center">
                    <img
                        src="images/Pot_Help/CentralLibrary/Finance Codes_Profit Center/CL_Finance Codes_Profit Center_Create.png">
                </div>
                <div class="text-matter">
                    <i class="fa fa-plus" aria-hidden="true"></i>: To Create Profit Center Code/Name.<br />
                    <i class="fa fa-trash" aria-hidden="true"></i>: To Delete Profit Center Code/Name.<br />
                    <strong>SAVE</strong>: To Save Created Profit Center Code/Name.<br />
                </div>
                <hr />
                <div class="text-center">
                    <img src="images/Pot_Help/CentralLibrary/Finance Codes_Profit Center/CL_Finance Codes_Profit Center_Created Record.png"
                        width="95%">
                </div>
            </div>
        </div>
    </div>
    <div class="ngdialog-close"></div>
</div>