<div id="tab-pannel" class="potPopupContainer panel panel-default" modal-movable>

    <div class="panel panel-default help-background" modal-movable>
        <div class="panel-heading">
            <h4 class="panel-title blink">Help : Resource Curves</h4>
        </div>
        <div class="panel-body">
            <div class="b-sh overflow-auto" style="height: 468.97048px;">
                <div class="text-matter">
                    <strong>RESOURCE CURVES</strong>: Resource curves are defined to specify how you want resource units
                    or costs spread over the duration of an activity. Resource Curves are used in Schedule.
                </div>
                <div class="text-center">
                    <img src="images/Pot_Help/CentralLibrary/Tools_Resource Curves/Tools_Resource Curves_Main Page.png"
                        width="95%">
                </div>
                <div class="text-matter">
                    <strong>CREATE</strong>: To Create Resource Curves.<br />
                    <strong>EDIT</strong> : To Edit a created Resource Curves.<br />
                </div>
                <hr />
                <div class="text-center">
                    <img src="images/Pot_Help/CentralLibrary/Tools_Resource Curves/Tools_Resource Curves_Create.png"
                        width="95%">
                </div>
                <div class="text-matter">
                    <strong>ADD ROWS</strong>: To Create Single/Multiple Resource Curves.<br />
                    <strong>SAVE</strong>: To save Resource Curves.<br />
                    <strong>DELETE ROWS</strong>: To Delete Single/Multiple Resource Curves.
                </div>
                <hr />
                <div class="text-center">
                    <img src="images/Pot_Help/CentralLibrary/Tools_Resource Curves/Tools_Resource Curves_Created Record.png"
                        width="95%">
                </div>

            </div>
        </div>
    </div>
    <div class="ngdialog-close"></div>
</div>