<div id="tab-pannel" class="potPopupContainer panel panel-default" modal-movable>

    <div class="panel panel-default help-background" modal-movable>
        <div class="panel-heading">
            <h4 class="panel-title blink">Help : Service Classification</h4>
        </div>
        <div class="panel-body">
            <div class="b-sh overflow-auto" style="height: 468.97048px;">
                <div class="text-matter">
                    <strong>SERVICE CLASSIFICATION</strong>: Based on Service Type, Services provided are classified
                    into different types like Engineering Services, Construction Services, Project Management Services
                    etc..,
                </div>
                <div class="text-center">
                    <img src="images/Pot_Help/CentralLibrary/Service Classification/CL_Service Classification Main Page.png"
                        width="95%">
                </div>
                <div class="text-matter">
                    <strong>CREATE</strong>: To Create Service Classification ID/Name.<br />
                    <strong>EDIT</strong> : To Edit a created Service Classification ID/Name.<br />
                    <strong>DEACTIVATE</strong>: To Deactivate the Selected Service Classification ID/Name( User need
                    to select
                    the Service Classification ID/Name using checkbox to deactivate ).<br />
                    <strong>ACTIVATE</strong>: To Activate the Selected Service Classification ID/Name( User need to
                    select the
                    deactivated
                    Service Classification ID/Name using checkbox to Activate ).<br />
                    <strong>SEARCH</strong> : To Search Existing Service Classification ID/Name.<br />
                    <strong>RESET</strong> : To Reset Page with default page load view.
                </div>
                <hr />
                <div class="text-center">
                    <img src="images/Pot_Help/CentralLibrary/Service Classification/CL_Service Classification_Create.png">
                </div>
                <div class="text-matter">
                    <strong>ADD ROWS</strong>: To Create Single/Multiple Service Classification ID/Name.<br />
                    <strong>SAVE</strong>: To save added Service Classification ID/Name.<br />
                    <strong>DELETE ROWS</strong>: To Delete Single/Multiple Service Classification ID/Name Added (User need
                    to
                    select
                    the Service Classification ID/Name records using checkbox to delete).
                </div>
                <hr />
                <div class="text-center">
                    <img src="images/Pot_Help/CentralLibrary/Service Classification/CL_Service Classification_Created Record.png"
                        width="95%">
                </div>

            </div>
        </div>
    </div>
    <div class="ngdialog-close"></div>
</div>