<div id="tab-pannel" class="potPopupContainer panel panel-default" modal-movable>

    <div class="panel panel-default help-background" modal-movable>
        <div class="panel-heading">
            <h4 class="panel-title blink">Help : Calendars</h4>
        </div>
        <div class="panel-body">
            <div class="b-sh overflow-auto" style="height: 468.97048px;">
                <div class="text-matter">
                    <strong>CALENDARS</strong>: Working Days, Non Working Days, Exception etc are specified in these
                    Calendars. We can use these Calendars in Project Settings(Assign calendar to a project),
                    Schedules(Calculation of Planned Values).
                </div>
                <div class="text-center">
                    <img src="images/Pot_Help/CentralLibrary/Tools_Calendar/Tools_Calendars_Global_Create.png"
                        width="95%">
                </div>
                <div class="text-matter">
                    <i class="fa fa-dot-circle-o" aria-hidden="true"></i>: To select Global/Project Calendars.<br />
                    <strong>ADD</strong>: To Add Calendars.<br />
                    <strong>EDIT</strong> : To Edit a created Calendar Name, Default Check Box.<br />
                    <strong>VIEW/EDIT DETAILS</strong> : To edit a created Calendar.<br />
                    <strong>DELETE</strong> : To delete Single/Multiple Calendars.<br />

                </div>
                <hr />
                <div class="text-center">
                    <img src="images/Pot_Help/CentralLibrary/Tools_Calendar/Tools_Calendars_Project_Create.png"
                        width="95%">
                </div>
                <div class="text-matter">
                    <strong>SEARCH</strong> : To Search Existing Calendar.<br />
                    <strong>RESET</strong> : To Reset Page with default page load view.<br />
                    <strong>COPY</strong> : To To Copy Calendar.<br />
                </div>
                <hr />
                <div class="text-center">
                    <img src="images/Pot_Help/CentralLibrary/Tools_Calendar/Tools_Calendars_Create.png">
                </div>
                <div class="text-matter">
                    <strong>ADD ROWS</strong> : To Add Single/Multiple Calendars.<br />
                    <strong>SAVE</strong> : To save created Calendars.<br />
                    <strong>DELETE ROWS</strong> : To Delete Single/Multiple Calendars.<br />
                </div>
                <hr />
                <div class="text-center">
                    <img src="images/Pot_Help/CentralLibrary/Tools_Calendar/Tools_Calendars_Created Record.png"
                        width="95%">
                    <hr />
                    <img src="images/Pot_Help/CentralLibrary/Tools_Calendar/Tools_Calendars_View Edit Details.png">
                </div>
                <div class="text-matter">
                    <strong>NON WORK</strong> : To Add Non-Working Days for a created Calendar.<br />
                    <strong>SAVE</strong> : To save created Calendar details.<br />
                    <strong>EXCEPTION</strong> : To Add Exception Days for a created Calendar.<br />
                </div>
            </div>
        </div>
    </div>
    <div class="ngdialog-close"></div>
</div>