<div id="tab-pannel" class="potPopupContainer panel panel-default" modal-movable>

    <div class="panel panel-default help-background" modal-movable>
        <div class="panel-heading">
            <h4 class="panel-title blink">Help : Warehouse and Stockyard List</h4>
        </div>
        <div class="panel-body">
            <div class="b-sh overflow-auto" style="height: 468.97048px;">
                <div class="text-matter">
                    <strong>WAREHOUSE AND STOCKYARD LIST</strong>: List of WareHouses specified to a selected Client are
                    maintained in this page.
                </div>
                <div class="text-center">
                    <img src="images/Pot_Help/CentralLibrary/Ware House List/CL_Ware House List_Main Page.png"
                        width="95%">
                </div>
                <div class="text-matter">
                    <strong>CREATE</strong>: To Create Store/Location ID/Name.<br />
                    <strong>EDIT</strong> : To Edit a created Store/Location ID/Name.<br />
                    <strong>DEACTIVATE</strong>: To Deactivate the Selected Store/Location ID/Name( User need
                    to select
                    the Store/Location ID/Name using checkbox to deactivate ).<br />
                    <strong>ACTIVATE</strong>: To Activate the Selected Store/Location ID/Name( User need to
                    select the
                    deactivated
                    Store/Location ID/Name using checkbox to Activate ).<br />
                    <strong>SEARCH</strong> : To Search Existing Store/Location ID/Name.<br />
                    <strong>RESET</strong> : To Reset Page with default page load view.
                </div>
                <hr />
                <div class="text-center">
                    <img src="images/Pot_Help/CentralLibrary/Ware House List/CL_Ware House List_Create.png">
                </div>
                <div class="text-matter">
                    <strong>ADD ROWS</strong>: To Create Single/Multiple Store/Location ID/Name.<br />
                    <strong>SAVE</strong>: To save added Store/Location ID/Name.<br />
                    <strong>DELETE ROWS</strong>: To Delete Single/Multiple Store/Location ID/Name Added (User need
                    to
                    select
                    the Store/Location ID/Name records using checkbox to delete).
                </div>
                <hr />
                <div class="text-center">
                    <img src="images/Pot_Help/CentralLibrary/Ware House List/CL_Ware House List_Created Record.png"
                        width="95%">
                </div>

            </div>
        </div>
    </div>
    <div class="ngdialog-close"></div>
</div>