<div id="tab-pannel" class="panel-group">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">Project Cost Code</h4>
		</div>
		<div class="panel-body">
				<div class="popUpTableResHeight">
			<table id="tree" class="table table-hover table-bordered popUpTableHeight" >
				<thead>
					<tr>
						<th>Select</th>
						<th>Cost Id</th>
						<th>Cost Item Name</th>
						<th>Cost Class Id</th>
						<th>Cost Class Name</th>
						<th>Start Date</th>
						<th>Finish Date</th>
					</tr>
				</thead>
				<tbody>

					<tr
						fixed-header="" ng-repeat ="tab in popUpData | projCostFilterTree:itemId:isExpand"
						class="abc{{tab.level}}">
						<td><input type="checkbox" ng-model="tab.select"
							ng-change="popUpRowSelect(tab)" ng-show="(tab.leaf)"></td>
						<td><span ng-repeat="level in [].constructor(tab.level) track by $index" class="xyz" style="padding-left: 30px;"></span>
							<span
								ng-show="((!tab.leaf && tab.expand) || (!tab.leaf  && tab.projCostCodeItemTOs.length <= 0))"
								ng-click="itemClick(tab.id,tab.expand);" class="fa fa-minus"></span>
							<span
								ng-show="(!tab.leaf && !tab.expand && tab.projCostCodeItemTOs.length > 0)"
								ng-click="itemClick(tab.id,tab.expand);" class="fa fa-plus"></span>
							<span ng-show="(tab.leaf)" name="leaf"> </span> <span
							style="padding-left: 10px;">{{tab.code}} <span
								style="padding-left: 5px;"></span></span></td>

						<td>{{tab.name}}</td>
						<td>{{tab.costCodeTO.code}}</td>
						<td>{{tab.costCodeTO.name}}</td>
						<td>{{tab.startDate | date}}</td>
						<td>{{tab.finishDate | date }}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="panel-footer">
			<div class="pull-right">
				<input type="button" class="btn  btn-brown btn-sm"
					ng-click="saveProjCostCodes()" value="Save">
			</div>
		</div>
		<div class="ngdialog-close"></div>
	</div>
	<div class="ngdialog-close"></div>
</div>