<div ng-if="account.appCodeTemplate['PRJ_PRJSTG_PROGRESCLIAMNORMALTIME_VIEW']" id="tab-pannel" class="noTableInBottomBlockWithTabs">
	<form name="progressForm">
		<div class="bottomNestedTabTableResHeight no-border overflow-auto" style="overflow-x: hidden !important;">
			<div class="row" ng-repeat ="claim in projClaimDetails">
				<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
					<div class="col-lg-3 col-md-3 col-xs-3 col-sm-3 padL-0">
						<md-input-container class="md-block">
							<label>{{claim.claimType}} Cut off Days</label>
								<ng-form name="progressform"> 
									<input data-test='{{claim.claimType}}_Projects_ProjectSettings_ProgressClaimsTab_NormalTime_Cutoffdays' 
										class="form-control"
										type="text" ng-model="claim.cutOffDays" name="time"
										pattern="\d+"> <span
										ng-show="progressform.time.$error.pattern">Enter only
										numbers</span> </ng-form>
						</md-input-container>
					</div>
					<div class="col-lg-3 col-md-3 col-xs-3 col-sm-3 padL-0">
							<md-input-container class="md-block">
								<label>{{claim.claimType}} Cut off Hours</label>
									<ng-form name="progressform"> 
											<input data-test='{{claim.claimType}}_Projects_ProjectSettings_ProgressClaimsTab_NormalTime_Cutoftimehours' 
											type="number" min=0 max=23
											name="cutoffHours"
											ng-model="claim.cutOffHours" ng-required="true" maxlength=2 />
							</md-input-container>
					</div>
					<div class="col-lg-3 col-md-3 col-xs-3 col-sm-3">
							<md-input-container class="md-block">
								<label>{{claim.claimType}} Cut off Minutes</label>
								<input data-test='{{claim.claimType}}_Projects_ProjectSettings_ProgressClaimsTab_NormalTime_Cutoftimeminutes'
								type="number" min=0 max=59 
								name="cutoffMinutes" ng-model="claim.cutOffMinutes" />
							</md-input-container>
					</div>
					
				</div>
			</div>
		</div>
		<div class="panel-footer">
			<div class="pull-right">
				<input data-test='Projects_ProjectSettings_ProgressClaimsTab_NormalTime_Save' type="button" class="btn btn-primary btn-sm"
					value="Save" ng-click="progressForm.$valid && saveProjClaims()"
					title="{{ account.appCodeTemplate['PRJ_PRJSTG_PROGRESCLIAM_ADD'] ? '' : '! Permission Denied. Contact your admin.'}}"
					ng-disabled ="!account.appCodeTemplate['PRJ_PRJSTG_PROGRESCLIAM_ADD']">
			</div>
			<div class="pull-left">
				<input type="button" class="btn btn-primary btn-sm" value="Group" ng-click="group();">
				<input type="button" class="btn btn-primary btn-sm" value="Sort" ng-click="sort();">
				<input type="button" class="btn btn-primary btn-sm" value="Summarize" ng-click="summarize();">
				<input type="button" class="btn btn-primary btn-sm" value="Print" ng-click="print();">
				<input type="button" class="btn btn-primary btn-sm" value="Export" ng-click="export();">
			</div>
		</div>
	</form>
</div>