<div id="tab-pannel" class="panel-group">
	<div id="tab-pannel" class="panel panel-default" modal-movable>
		<div class="panel-heading">
			<h4 class="panel-title">SOE Notification List</h4>
		</div>
		<div class="panel-body">
			<div class="popUpTableResHeight">
	<table class="table table-striped table-hover table-bordered popUpTableHeight" >
				<thead>
					<tr>
						<th>Notification Number</th>
						<!-- <th>Crew Type</th>
						<th>Crew / Individual name</th> -->
						<!-- <th>SOE Period From Date</th>
						<th>SOE Period To Date</th> -->
						<th>Project</th>
						<th>Approver</th>
						<!-- <th>Additional time granted in Hours</th> -->
					</tr>

				</thead>
				<tbody>
					<tr data-test='Projects_ProjectSettings_TimeSheetTab_AdditionalTime_Select' fixed-header="" ng-repeat ="notification in notifications"
						ng-dblclick="soeNotificationPopup(notification)">
						<td>{{notification.soeNumber}}</td>
						<td>{{notification.projName}}</td>
						<td>{{notification.fromUserName}}</td>
					</tr>
				</tbody>
			</table>
			</div>
			<br> <br>
			<div ng-show="notifications.length <= 0">
				<h5 align="center" style="color: red">Notifications details are
					not found for selected project</h5>
			</div>
		</div>

		<div class="panel-footer"></div>
		<div class="ngdialog-close"></div>
	</div>
</div>
