<div ng-if="account.appCodeTemplate['PRJ_PRJSTG_TIMESHEETSTGADDITIONALTIME_VIEW']" id="tab-pannel" class="noTableInBottomBlockWithTabs" ng-init="timeSheetOnLoadRecords()">
    <div class="bottomNestedTabTableResHeight no-border">
            <div class="row">
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                        <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3 padL-0">
                            <md-input-container class="md-block">
                                <label>Request Notification#</label>
                                <input data-test='Projects_ProjectSettings_TimeSheetTab_AdditionalTime' type="text" ng-required="true" ng-model="timeSheetAppr.notification"
                                    ng-click="timeSheetNotificationList(timeSheetAppr)">
                            </md-input-container>
                        </div>
                        <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3">
                                <md-input-container class="md-block">
                                    <label>Crew Type</label>
                                    <input data-test='Projects_ProjectSettings_TimeSheetTab_AdditionalTime_CrewType' type="text" ng-required="true" 
                                        ng-model="timeSheetAppr.crewType"/>
                                </md-input-container>
                        </div>
                        <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3">
                                <md-input-container class="md-block">
                                    <label>Crew Name</label>
                                    <input data-test='Projects_ProjectSettings_TimeSheetTab_AdditionalTime_CrewName' type="text" ng-required="true" 
                                        ng-model="timeSheetAppr.crewName"/>
                                </md-input-container>
                        </div>
                        <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3">
                                <md-input-container class="md-block">
                                    <label>From Date</label>
                                    <input data-test='Projects_ProjectSettings_TimeSheetTab_AdditionalTime_weekcomencingday' type="text" ng-model="timeSheetAppr.timeSheetDate" required />
                                </md-input-container>
                        </div>
                    </div>
            </div>

            <div class="row">
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                        <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3 padL-0">
                            <md-input-container class="md-block">
                                <label>Approver</label>
                                <input data-test='Projects_ProjectSettings_TimeSheetTab_AdditionalTime_approver' type="text" ng-required="true"  
                                    ng-model="usersMap[timeSheetAppr.apprUserId].code" >
                            </md-input-container>
                        </div>
                        <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3">
                                <md-input-container class="md-block">
                                    <label>To Date</label>
                                    <input data-test='Projects_ProjectSettings_TimeSheetTab_AdditionalTime_timesheetnumber' type="text" ng-required="true" 
                                        ng-model="timeSheetAppr.timeSheetEndDate" />
                                </md-input-container>
                        </div>
                        <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3">
                                <md-input-container class="md-block">
                                    <label>Additional Hours</label>
                                    <input type="text" ng-required="true" ng-model="timeSheetAppr.grantHrs" data-test='Projects_ProjectSettings_TimeSheetTab_AdditionalTimeGrantedInHours'>
                                </md-input-container>
                        </div>
                    </div>
            </div>

            <div class="row horizontalSpace">
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                        <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3 padL-0">
                            <md-checkbox data-test='Projects_ProjectSettings_TimeSheetTab_AdditionalTime_forsubmission' ng-disabled="true" ng-model="timeSheetAppr.forSubmission">
                                    For Submission
                            </md-checkbox>
                        </div>
                        <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3">
                            <md-checkbox data-test='Projects_ProjectSettings_TimeSheetTab_AdditionalTime_forapproval' ng-disabled="true" ng-model="timeSheetAppr.forApproval">
                                    For Approval
                            </md-checkbox>
                        </div>
                        <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3">
                        
                        </div>
                       
                    </div>
            </div>
 </div>
 <div class="panel-footer">
        <div class="pull-right">
            <input data-test='Projects_ProjectSettings_TimeSheetTab_AdditionalTime_Approve' type="button" class="btn btn-primary btn-sm"
                value="Approve" ng-click="saveProjTimeSheetAppr()"
                title="{{ account.appCodeTemplate['PRJ_PRJSTG_TIMSHETSTG_APPROVE'] ? '' : '! Permission Denied. Contact your admin.'}}"
                ng-disabled ="!account.appCodeTemplate['PRJ_PRJSTG_TIMSHETSTG_APPROVE']">
        </div>
        <div class="pull-left">
            <input type="button" class="btn btn-primary btn-sm" value="Group" ng-click="group();">
            <input type="button" class="btn btn-primary btn-sm" value="Sort" ng-click="sort();">
            <input type="button" class="btn btn-primary btn-sm" value="Summarize" ng-click="summarize();">
            <input type="button" class="btn btn-primary btn-sm" value="Print" ng-click="print();">
            <input type="button" class="btn btn-primary btn-sm" value="Export" ng-click="export();">
        </div>
</div>
</div>


