<section class="content-header">
		<h1>Scope of Works</h1>	
		<!-- <input type="submit" value ="Help !"
		ng-click="helpPage();" class="pull-right btn  btn-primary btn-sm help-each-page"> -->
	<button class="pull-right btn btn-primary btn-sm help-each-page" 
		onclick="window.open('views/helptutorials/ScopeOfWorks.html', '_blank', 
		'toolbar=yes,scrollbars=yes,resizable=no,top=50,left=100,width=1400,height=700')">
		Help
	</button>
</section>
<section class="content">
<div id="tab-pannel" class="panel-group">
	<div class="panel panel-default">
		<div class="panel-body">
				<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 no-padding">
						<div class="col-lg-3 col-md-3 col-xs-3 col-sm-3 padL-0">
								<md-input-container class="md-block">
										<input data-test='Projects_ProjectLibrary_SOW_EpsSelect' type="text" ng-model="searchProject.parentName"
						placeholder="Select EPS ID/EPS Name" ng-click="getUserProjects()"
						readonly="readonly">
							</md-input-container>
							</div>
						
						<div class="col-lg-3 col-md-3 col-xs-3 col-sm-3">
							<md-input-container class="md-block">
									<input type="text" data-test='Projects_ProjectLibrary_SOW_ProjectSelect' ng-model="searchProject.projName"
									placeholder="Select Project ID/Project Name"
									ng-click="getUserProjects()" readonly="readonly">
							</md-input-container>
						</div>
						<div class="col-lg-6 col-md-6 col-xs-6 col-sm-6 padR-0">
							<div class="pull-right right-padding marT15">
									<input data-test='Projects_ProjectLibrary_SOW_Search' type="button" ng-click="getSOWItems(searchProject)"
									class="btn  btn-primary btn-sm" value="Search" ng-model="searchText">
								<input data-test='Projects_ProjectLibrary_SOW_Reset' type="reset" class="btn  btn-default btn-sm"
									ng-click="resetSOWData()" value="Reset">
							</div>
						</div>
				</div>
		<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 no-padding">
				<div class="singleTableResHeight_2">
				<table id="tree" class="table table-striped table-hover table-bordered singleTableHeight_2" >
					<thead id="tab-head">
						<tr>
							<th>SOW Item Id</th>
							<th>SOW Item Desc</th>
							<th class="justify-right">Estimated Man Hours</th>
							<th>Unit Of Measure</th>
							<th>SOE Item Id</th>
							<th>Tangible Item Id</th>
							<th>SOR Item Id</th>
							<th>Cost Item Id</th>
							<th>Start Date</th>
							<th>Finish Date</th>
							<th class="justify-right">Original Estimation</th>
							<th class="justify-right">Revised Estimation</th>
							<th class="justify-right">Actual Quantity</th>
							<th class="justify-right">Balance</th>
							<th>SOW Comments</th>
						</tr>
					</thead>
					<tbody>
						<tr fixed-header="" ng-repeat="tab in SOWData | orderBy: 'parent'" class="abc{{tab.level}}" ng-show="!tab.collapse">
							<td style="white-space: nowrap;">
								<span ng-repeat="level in [].constructor(tab.level) track by $index" class="xyz" style="padding-left: 30px;"></span>
								<span ng-show="tab.expand || (!tab.item  && tab.childSOWItemTOs.length <= 0)"  ng-click="sowItemClick(tab,true);"
								 class="fa fa-minus" title="Collapse SOW">
								</span>
								<span ng-show="!tab.expand && tab.childSOWItemTOs.length > 0" data-test='Projects_ProjectLibrary_SOW_Groupexpandicon' ng-click="sowItemClick(tab,false);" class="fa fa-plus" title="Expand SOW"></span>
								<i class="fa fa-leaf" ng-show="(tab.item)"></i>
								<span style="padding-left: 10px; color: black !important;margin-right:5px;">{{tab.code}}</span>
								<i class="fa fa-edit fa-fw" ng-show="tab.level==0 && !tab.item && account.appCodeTemplate['PRJ_PRJLIB_SCOPEOFWRK_ADD']"
								 ng-click="editSOWDetails(tab,searchProject.projId)" data-test='Projects_ProjectLibrary_SOW_EditIcon' title="Edit SOW"> </i>
							</td>
							<td>{{tab.name}}</td>
							<td class="justify-right">{{tab.manHours | number:2}}</td>
							<td>{{tab.measureUnitTO.name}}</td>
							<td>{{tab.projSOEItemTO.code}}</td>
							<td>{{tab.tangibleClassTO.code}}</td>
							<td>{{tab.projSORItemTO.code}}</td>
							<td>{{tab.projCostItemTO.code}}</td>
							<td>{{tab.startDate | date }}</td>
							<td>{{tab.finishDate | date }}</td>
							<td class="justify-right">{{tab.quantity | number:2}}</td>
							<td class="justify-right">{{tab.revisedQty | number:2}}</td>
							<td class="justify-right">{{tab.actualQty | number:2}}</td>
							<td  class="justify-right" ng-init="balance=(tab.revisedQty ? tab.revisedQty : tab.quantity) - tab.actualQty">{{ tab.projSOEItemTO.code ==
								null ? '' : (balance | number:2) }}</td>
							<td class="text-center">
								<span class="fa fa-comment fa-flip-horizontal" ng-show="tab.item" name="comment" flip="horizontal" ng-click="show(tab.comments)" title="Comments"
								 role="button" tabindex="0"></span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
		<div class="panel-footer">
			<div class="pull-left padL-0">
				<input type="button" class="btn btn-primary btn-sm" value="Group" ng-click="group();">
				<input type="button" class="btn btn-primary btn-sm" value="Sort" ng-click="sort();">
				<input type="button" class="btn btn-primary btn-sm" value="Summarize" ng-click="summarize();">
				<input type="button" class="btn btn-primary btn-sm" value="Print" ng-click="print();">
				<input type="button" class="btn btn-primary btn-sm" value="Export" ng-click="export();">
				<input class="btn  btn-default btn-sm" type="button"
					ng-click="deactivateSOWDetails()" value="Deactivate"
					ng-if="account.appCodeTemplate['PRJ_PRJLIB_SCOPEOFWRK_DELETE'] && activeFlag==1" />
			</div>
		</div>
	</div>
</div>
</section>
