<div class="nav-tabs-custom">
<ul class="nav nav-tabs">
	<li ng-class="{'active': account.appCodeTemplate[tab.appCodeTemplateKey] && isActivePlantAttendanceTab(tab.urlValue),
					'disabled': !account.appCodeTemplate[tab.appCodeTemplateKey]}"
		fixed-header="" ng-repeat ="tab in projTabs[0].childTabs[5].childTabs">
		<a  data-toggle="tab" ng-if="account.appCodeTemplate[tab.appCodeTemplateKey]"
			 ng-click="onClickPlantAttendanceTab(tab)" data-test="{{tab.SelenumLocator}}" >{{tab.name}}</a>
	    <a ng-if="!account.appCodeTemplate[tab.appCodeTemplateKey]" data-test="{{tab.SelenumLocator}}" >{{tab.name}}</a> 
	</li>
</ul>
 
<div class="tab-content">
	<div class="tab-pane fade in active">
		<div ng-include="currentPlantAttendanceTab"></div>
	</div>
</div>
</div>