<section class="content-header">
    <h1>Bank Finances (Overdraft) List</h1>
</section>
<section class="content">
    <div class="panel panel-default block footer-parent">
        <div class="panel-body" ng-init="getCountries();">
            <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 no-padding">
                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3 padL-0">
                    <md-input-container>
                        <label>Country</label>
                        <md-select ng-model="" ng-change="getCountryDetailsById(item,$index);">
                            <md-option fixed-header="" ng-repeat="" ng-value="">
                                {{  }}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                    <md-input-container>
                        <label>Account Status</label>
                        <md-select ng-model="">
                            <md-option value="open">Open</md-option>
                            <md-option value="closed">Closed</md-option>
                            <md-option value="all">All</md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                    <md-input-container>
                        <label>Last Status Date (dd-mm-yyyy)</label>
                        <potdate-picker dir-index="$index" date-name="Date" ng-model="" custom-read-only />
                    </md-input-container>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                    <div class="pull-right marT15">
                        <input type="button" class="btn btn-primary btn-sm" value="Search" ng-click="" />
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 no-padding">
                <div class="singleTableResHeight_2 overflow-auto">
                    <table class="table table-hover table-bordered singleTableHeight_2">
                        <thead>
                            <tr>
                                <th>Bank Loan #</th>
                                <th>Country</th>
                                <th>Province (Bank Location)</th>
                                <th>Name of the Bank/Institution (Lender)</th>
                                <th>Bank Address</th>
                                <th>Bank Reg Number</th>
                                <th>Bank Tax File Number</th>
                                <th>Company Name (Borrower)</th>
                                <th>Type of Loan or Finance</th>
                                <th>Loan Start Date</th>
                                <th>Loan Finish Date</th>
                                <th>Original Loan principal amount</th>
                                <th>Remaining Loan principal amount</th>
                                <th>Fixed or variable rate of Interest</th>
                                <th>If Variable interest, Minimum Repayment amount</th>
                                <th>If fixed, Rate of Interest per annum</th>
                                <th>Payment Cycle</th>
                                <th>Payment Cycle Due Date</th>
                                <th>Principle repayment amount per cycle</th>
                                <th>Interest amount per Cycle</th>
                                <th>Tax Payment per cycle</th>
                                <th>Total Gross Repayment per cycle</th>
                                <th>Expenditure Type</th>
                                <th>Receiver Bank/Institution Name</th>
                                <th>Receiver Bank Code #</th>
                                <th>Receiver Bank AC #</th>
                                <th>Account Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="">
                                <td>{{ }}</td>
                                <td>{{ }}</td>
                                <td>{{ }}</td>
                                <td>{{ }}</td>
                                <td>{{ }}</td>
                                <td>{{ }}</td>
                                <td>{{ }}</td>
                                <td>{{ }}</td>
                                <td>{{ }}</td>
                                <td>{{ }}</td>
                                <td>{{ }}</td>
                                <td>{{ }}</td>
                                <td>{{ }}</td>
                                <td>{{ }}</td>
                                <td>{{ }}</td>
                                <td>{{ }}</td>
                                <td>{{ }}</td>
                                <td>{{ }}</td>
                                <td>{{ }}</td>
                                <td>{{ }}</td>
                                <td>{{ }}</td>
                                <td>{{ }}</td>
                                <td>{{ }}</td>
                                <td>{{ }}</td>
                                <td>{{ }}</td>
                                <td>{{ }}</td>
                                <td>{{ }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panel-footer">
                <div class="pull-right right-padding">
                    <input type="button" ng-click="addOverdraftList('Add')" class="btn btn-primary btn-sm" value="Add">
                    <input type="submit" class="btn btn-primary btn-sm" ng-click="addOverdraftList('Edit')"
                        value="Edit">
                </div>
                <div class="pull-left">
                    <input type="button" class="btn btn-primary btn-sm" value="Group" ng-click="group();">
                    <input type="button" class="btn btn-primary btn-sm" value="Sort" ng-click="sort();">
                    <input type="button" class="btn btn-primary btn-sm" value="Summarize" ng-click="summarize();">
                    <input type="button" class="btn btn-primary btn-sm" value="Print" ng-click="print();">
                    <input type="button" class="btn btn-primary btn-sm" value="Export" ng-click="export();">
                </div>
            </div>
        </div>
    </div>
</section>