<style>
md-checkbox.md-checked.blue .md-icon {
	background-color: #2d7ab5;
}
</style>
<div id="tab-pannel" class="panel-group">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">{{title}}</h4>
		</div>
		<div class="panel-body">
			<div class="popUpTableResHeight" style="overflow-y:auto;">
				<div class="col-md-12" style="height: 280px;">
					<div ng-if="error==true">
						<ul>
							<li ng-repeat="message in errormsgs" style="color:red;">{{message}}</li>
						</ul>
					</div>
					<div style="display:block">
						<div class="row">
		                    <div class="col-md-6" ng-show="displayExternalApprovalRequired">
						        <input type="checkbox" ng-model="isExternalApprovalRequired" ng-click="toggleExternalApprovalRequired($event)"/>Is external approval required?
		                    </div>		                    
		                   <div class="col-md-6" ng-show="displayApproverList">
								<md-input-container class="md-block">
		                            <label>Select Approver User</label>
		                            <md-select ng-model="approverUserId">
								    	<md-option ng-value="user.userId" ng-repeat="user in users">{{user.empCode}}-{{user.dispName}}</md-option>
								    </md-select>
		                        </md-input-container>       
		                    </div>
		                    <div class="col-md-12" ng-show="displayApproverComments">
								<div class="col-md-12">
						        <textarea ng-model="approverComments" placeholder="Please enter your comments...."></textarea>
		                    </div>
	                    </div>                
					</div>		
				</div>
				<div class="col-md-12">
					<input type="button" class="btn btn-primary btn-sm pull-right" value="Approve" ng-click="approve();" ng-show="displayApproveBtn">
					<input type="button" class="btn btn-primary btn-sm pull-right" value="Submit" ng-click="submit();" ng-show="displaySubmitBtn">
					<!-- <input type="button" class="btn btn-primary btn-sm pull-right" value="Return With Comments" ng-click="returnWithComments();" ng-show="displayReturnCommentsBtn"> -->
				</div>
			</div>
		</div>
		<div class="ngdialog-close"></div>
	</div>
</div>