<section class="content-header">
    <h1>Earned Value by Project</h1>
    <input type="submit" value ="Help !"
		ng-click="helpPage();" class="pull-right btn  btn-primary btn-sm help-each-page">
</section>
<section class="content">
    <div class="panel panel-default block footer-parent">
        <div class="panel-body">
            <div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 padL-0">
                        <md-input-container>
                            <label class="labelName">EPS Name</label>
                            <input type="text" ng-model="searchProject.parentName" ng-click="getUserProjects()"
                                readonly data-test="EarnedValue_EarnedValueByProject_EPS">
                        </md-input-container>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        <md-input-container>
                            <label class="labelName">Project Name</label>
                            <input type="text" ng-model="searchProject.projName" ng-click="getUserProjects()" readonly
                            data-test="EarnedValue_EarnedValueByProject_Project">
                        </md-input-container>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2  col-lg-2">
                        <md-input-container>
                            <label>Earned value Type</label>
                            <md-select ng-model="earnedValueType" ng-required="true" data-test="EarnedValue_EarnedValueByProject_EarnedValueType">
                                <md-option ng-repeat="type in earnedValueTypes" ng-value="type">
                                    {{type.name}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 padR-0">
                        <div class="pull-right spacer3 marT15">
                            <input type="button" ng-click="getEarnedValueByProjectDetails()"
                                class="btn btn-primary btn-sm" value="Apply" data-test="EarnedValue_EarnedValueByProject_Apply">
                        </div>
                    </div>
                </div>
            </div>
            <div class="singleTableResHeight_2" style="overflow: auto;">
                <div ng-include="'views/dashboards/earnedvalue/earnedvaluebyproject.html'"></div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="pull-left">
                <input type="button" class="btn btn-primary btn-sm" value="Group" ng-click="group();">
                <input type="button" class="btn btn-primary btn-sm" value="Sort" ng-click="sort();">
                <input type="button" class="btn btn-primary btn-sm" value="Summarize" ng-click="summarize();">
                <input type="button" class="btn btn-primary btn-sm" value="Print" ng-click="print();">
                <input type="button" class="btn btn-primary btn-sm" value="Export" ng-click="export();">
            </div>
        </div>
    </div>
</section>