<section class="content-header">
    <h1>Projects Gantt Chart</h1>
    <input type="submit" value ="Help !" class="pull-right btn btn-primary btn-sm help-each-page">
</section>
<section class="content">
	<div class="panel panel-default block footer-parent">
		<div class="panel-body">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 padL-0">
                    <md-input-container>
                        <label class="labelName">EPS Name</label>
                        <input type="text" ng-model="searchFilter.searchProject.parentName" ng-click="getUserProjects()" readonly>
                    </md-input-container>
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <md-input-container>
                        <label class="labelName">Project Name</label>
                        <input type="text" ng-model="searchFilter.searchProject.projName" ng-click="getUserProjects()" readonly>
                    </md-input-container>
                </div>
                <div class="col-sm-2">
					<md-input-container>
						<label>Time Scale</label>
						<md-select ng-model="options.selectedTimeScale" title="Select Time Scale">
							<md-option ng-repeat="timeScale in options.timeScales" ng-value="timeScale">
								{{timeScale.type}} </md-option>
						</md-select>
					</md-input-container>
				</div>
				<div class="col-sm-2">
					<md-input-container>
						<label>Time Scale Size</label>
						<input type="range" min="{{options.selectedTimeScale.minSize}}" max="{{options.selectedTimeScale.maxSize}}" ng-model="options.selectedTimeScale.selectedSize"/>
					</md-input-container>
				</div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 padR-0">
                    <div class="pull-right marT15 marB15">
                        <input type="button" ng-click="generateReport()" class="btn btn-primary btn-sm" value="Apply">
                    </div>
                </div>
			</div>
			<div class="col-sm-12 no-padding">
				<div class="singleTableResHeight_2" ng-show="options.showGanttChart">
					<div gantt data="data" column-width="options.selectedTimeScale.selectedSize" headers="options.selectedTimeScale.header" headers-formats="options.selectedTimeScale.headerFormat" from-date="options.selectedTimeScale.fromDate" to-date="options.selectedTimeScale.toDate" current-date="options.currentDate" current-date-value="options.currentDateValue">
						<gantt-tree keep-ancestor-on-filter-row="true"></gantt-tree>
						<gantt-table columns="options.columns" headers="options.columnsHeaders" formatters="options.columnsFormatters" classes="options.columnsClasses"></gantt-table>
						<gantt-progress></gantt-progress>
						<gantt-tooltips></gantt-tooltips>
					</div>
				</div>
			</div>
		</div>
		<div class="panel-footer">
			<div class="pull-left">
				<input type="button" class="btn btn-primary btn-sm" value="Group" ng-click="group();">
				<input type="button" class="btn btn-primary btn-sm" value="Sort" ng-click="sort();">
				<input type="button" class="btn btn-primary btn-sm" value="Summarize" ng-click="summarize();">
				<input type="button" class="btn btn-primary btn-sm" value="Print" ng-click="print();">
				<input type="button" class="btn btn-primary btn-sm" value="Export" ng-click="export();">
			</div>
		</div>
	</div>
</section>