<div id="tab-pannel">
	<form name="changeForm" class="left-padding right-padding">
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-4"></div>
			<div class="col-lg-4 col-md-4 col-sm-4 text-center">
				<a href="#" class="text-center"><img src="images/Project on Track logo.png"
					alt="project on track" class="img-responsive" style="width: 220px !important; display: inline;"></a>
			</div>
		</div>
		<br>
		<div class="row" id="changepasswordpage">
			<div class="col-lg-4 col-md-4 col-sm-4 "></div>

			<div class="col-lg-4 col-md-4 col-sm-4 text-center">
				<div class="panel panel-default">
					<div id="password">
						<div class="panel-body">

							<div class="back-color" ng-if="account.appCodeTemplate['CHANGE_PASSWORD_VIEW']">
									<span>CHANGE PASSWORD
										</span>
								<!-- <i class="fa fa-user" style="color: #777;" aria-hidden="true"></i>
								<span>CHANGE PASSWORD INTO PROJECT ON TRACK
								</span> -->
							</div>
							<div class="forminline spacer2">
								<div class="form-group control-group"
									ng-class="{true: 'error'}[submitted && form.username.$invalid]">
									<!-- <label class="col-md-5 form-grp control-label spacer2"
										for="username">Old Password:</label> -->
									<div class="col-md-12 form-grp controls">
										<input type="username" class="form-control" id="oldpassword"
											name="oldpassword" ng-model="passwordReq.oldPassword"
											placeholder="Enter Old Password" required /> <span
											class="help-inline pull-right"
											ng-show="submitted && form.oldpassword.$error.required"
											style="color: red">Required</span>
									</div>
								</div>
							</div>
							<div class="forminline">
								<div class="form-group control-group "
									ng-class="{true: 'error'}[submitted && form.password.$invalid]">
									<!-- <label class="col-md-5 form-grp control-label spacer2"
										for="pwd">New PassWord:</label> -->
									<div class="col-md-12 form-grp controls">
										<input type="password" class="form-control" id="newpassword"
											name="newpassword" ng-model="passwordReq.newPassword"
											placeholder="Enter New Password" name="password" required />
										<span class="help-inline pull-right"
											ng-show="submitted && form.newpassword.$error.required"
											style="color: red">Required</span>
									</div>
								</div>
							</div>
							<div class="forminline">
								<div class="form-group spacer1">
									<!-- <label class="col-md-5 form-grp spacer2" for="code">Confirmation
										Password:</label> -->
									<div class="col-md-12 form-grp controls">
										<input class="form-control" type="text" id="confirmpassword"
											name="confirmpassword"
											placeholder="Enter Confirmation Password" name="clientcode"
											ng-required="true" ng-model="passwordReq.confirmPassword">
										<span class="help-inline pull-right"
											ng-show="submitted && form.confirmpassword.$error.required"
											style="color: red">Required</span>
									</div>
								</div>
							</div>

							<div class="row "></div>

							<div class="row spacer1">
								<br>
								<ul class="list-inline">
									<li>
											<button type="reset" class="btn bg-navy btn-flat"
											ng-click="Reset()">Reset</button>
									</li>
									<li>
								
									<button type="submit" class="btn bg-navy btn-flat"
										ng-click="changeForm.$valid && changepassword()">CHANGE
										PASSWORD</button>
									</li>
									</ul>
								
							</div>
						</div>
					</div>

				</div>

			</div>
		</div>
	</form>

</div>
