<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<style>
    body {
        font-size: 14px !important;
    }

    .container-fluid {
        padding: 0px !important;
    }

    .pwd {
        margin-top: 15px !important;
        line-height: 40px;
    }

    #tab-pannel .spacer1 {
        margin-top: 0px !important;
    }
</style>
<div id="tab-pannel">
    <form class="left-padding right-padding" name="form">
        <div class="row" id="loginpage">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <div class="panel panel-default">
                            <div id="login">
                                <div class="panel-body">
                                    <div class="text-center">
                                        <a href="#"><img src="images/Project on Track logo.png" alt="project on track"
                                                class="img-responsive"
                                                style="width: 220px !important; display: inline;"></a>
                                    </div>
                                    <p class="text-center">Use the form below to change your password.</p>
                                    <div class="login-content">
                                        <div class="input-group">
                                            <span class="input-group-addon no-border"><i
                                                    class="fa fa-lock f-1x primary-color"></i></span>
                                            <md-input-container md-no-float>
                                                <label>Current Password</label>
                                                <input type="password" id="currpassword-field" ng-model="currpassword"
                                                    name="currentpassword" required />
                                                <span toggle="#currpassword-field"
                                                    class="fa fa-fw fa-eye field-icon toggle-password"></span>
                                            </md-input-container>
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon no-border"><i
                                                    class="fa fa-lock f-1x primary-color"></i></span>
                                            <md-input-container md-no-float>
                                                <label>New Password</label>
                                                <input type="password" id="newpassword-field" ng-model="newpassword"
                                                    name="newpassword" required />
                                                <span toggle="#newpassword-field"
                                                    class="fa fa-fw fa-eye field-icon toggle-password1"></span>
                                            </md-input-container>
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon no-border"><i
                                                    class="fa fa-lock f-1x primary-color"></i></span>
                                            <md-input-container md-no-float>
                                                <label>Verify New Password</label>
                                                <input type="password" id="verifypassword-field" ng-model="verifypassword"
                                                    name="verifypassword" required />
                                                <span toggle="#verifypassword-field"
                                                    class="fa fa-fw fa-eye field-icon toggle-password2"></span>
                                            </md-input-container>
                                        </div>
                                        <div class="pull-left">
                                            <input type="reset" class="btn btn-secondary btn-sm" ng-click="reset();"
                                                value="Reset" />
                                        </div>
                                        <div class="pull-right">
                                            <input type="submit" class="btn btn-primary btn-sm" ng-click="changepassword();"
                                                value="Save Changes" />

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/col-sm-6-->
                </div>
                <!--/row-->
            </div>
        </div>
    </form>
</div>