<section class="content-header">
		<h1>Material Transfer Approval</h1>
		<input type="submit" value ="Help !"
		ng-click="helpPage();" class="pull-right btn  btn-primary btn-sm help-each-page">
	</section>
	<section class="content">
		<div class="panel panel-default block footer-parent">
			<div class="panel-body">
				<div class="col-xs-12 col-sm-12 col-md-12 no-padding">
						<div class="col-lg-2 col-md-2 col-xs-2 col-sm-2 padL-0">
							<md-input-container class="md-block">
								<label class="labelName">From Date(dd-mm-yyyy)</label>
								<pot-currentdate-picker dir-index="$index" ng-model="approvalTransfer.fromDate" date-name="fromDate" data-test="MaterialApprovalTransfer_FromDate"/>
							</md-input-container>
						</div>
						<div class="col-lg-2 col-md-2 col-xs-2 col-sm-2">
							<md-input-container class="md-block">
								<label class="labelName">To Date(dd-mm-yyyy)</label>
								<pot-currentdate-picker dir-index="$index" ng-model="approvalTransfer.toDate" date-name="toDate" data-test="MaterialApprovalTransfer_ToDate"/>
							</md-input-container>
						</div>

						<div class="col-lg-2 col-md-2 col-xs-2 col-sm-2">
							<md-input-container class="md-block">
								<label class="labelName">Approval Status</label>
								<md-select ng-model="approvalType" name="approvalType" ng-required="true" data-test="MaterialApprovalTransfer_AppStatus"/>
								<md-option ng-repeat="approvalType in approvalTypeList" ng-value="approvalType">{{approvalType}}</md-option>
								</md-select>
							</md-input-container>
						</div>

						<div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
							<md-radio-group ng-model="approvalTransfer.userType" layout="row">
								<md-radio-button value="1" class="md-primary" name="request" data-test="MaterialApprovalTransfer_LoginUserRecords">Login User Records</md-radio-button>
								<md-radio-button value="2" class="md-primary" name="request" data-test="MaterialApprovalTransfer_AllUserRecords">All User Records</md-radio-button>
							</md-radio-group>
						</div>
						<div class="col-lg-2 col-md-2 col-xs-2 col-sm-2 padR-0">
							<div class="pull-right marT15">
								<input type="button" ng-click="getMaterialTransfers(false)" class="btn btn-primary btn-sm" value="Search" ng-model="searchText" data-test="MaterialApprovalTransfer_Search">
								<input type="reset" class="btn btn-default btn-sm" ng-click="reset()" value="Reset" data-test="MaterialApprovalTransfer_Reset">
							</div>
						</div>
					</div>
			<div class="col-xs-12 col-sm-12 col-md-12 no-padding">
				<div class="col-xs-12 col-sm-12 col-md-12 no-padding">
					<div class="singleTableResHeight_2">
							<!-- <table class="table table-striped table-hover table-bordered singleTableHeight_2">
					<thead>
						<tr>
						    <th>Select</th>
							<th>Date of Request</th>
							<th>Requester</th>
							<th>Approver</th>
							<th>Origin Project</th>
							<th>Destination Project</th>
							<th>Requisition ID</th>
							<th>Notification ID</th>
							<th>Approval Status</th>
							<th>More Details</th>
						</tr>
					</thead>
					<tbody>
						<tr fixed-header="" ng-repeat ="request in materialTransferReqApprTOs">
						<td><input type="checkbox" value="id"
						ng-model="request.selected"
						ng-change="newRequestRowSelect(request)"></td>
							<td>{{request.reqDate}}</td>
							<td>{{request.reqUserTO.empCode}}</td>
							<td>{{request.apprUserTO.empCode}}</td>
							<td>{{request.fromProjName}}</td>
							<td>{{request.toProjName}}</td>
							<td>{{request.reqCode}}</td>
							<td>{{request.notifyCode}}</td>
							<td>{{request.apprStatus}}</td>
							<td><input type="button"
								class="btn btn-primary btn-sm"
								ng-click="createOrEditTransRequest('Edit',request)"
								value="View More" data-test="MaterialApprovalTransfer_ViewMore"/></td>

						</tr>
					</tbody>
				</table> -->
				<div id="grid" ui-grid="gridOptions" class="singleTableResHeight_3"
						ng-if="stylesSvc.finishedStyling" ui-grid-exporter ui-grid-move-columns ui-grid-auto-resize ui-grid-grouping class="grid"></div>
					</div>
					</div>
					</div>
					</div>
					<div class="panel-footer">
							<div class="pull-right">
								<input type="button" class="btn btn-primary btn-sm"
									ng-click="requestForAdditionalTime()"
									value="Request For Additional Time" data-test="MaterialApprovalTransfer_ReqAddTime">
							</div>
							<!-- <div class="pull-left">
								<input type="button" class="btn btn-primary btn-sm" value="Group" ng-click="group();">
								<input type="button" class="btn btn-primary btn-sm" value="Sort" ng-click="sort();">
								<input type="button" class="btn btn-primary btn-sm" value="Summarize" ng-click="summarize();">
								<input type="button" class="btn btn-primary btn-sm" value="Print" ng-click="print();">
								<input type="button" class="btn btn-primary btn-sm" value="Export" ng-click="export();">
							</div> -->
						</div>
						<script type="text/ng-template" id="template.html">
    <div>
        <button ng-click="grid.appScope.createOrEditTransRequest('Edit', row.entity, row.entity.request)" data-test="Requests&Approvals_Requests_PlantTransfer_Viewreciverdetails" class="btn btn-primary btn-sm" class="btn bottomaligned btn-brown btn-sm">View More</button>
  </script>
  <script type="text/ng-template" id="template1.html">
    <div>
		<input type="checkbox" ng-model="row.entity.selected" ng-change="grid.appScope.newRequestRowSelect(row.entity)">
        <!-- <input type="checkbox" value="id"
						ng-model="request.selected"
						ng-change="newRequestRowSelect(request)"> -->
  </script>
					</section>
