<div id="tab-pannel" class="panel-group">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">Request For Additional Time</h4>
		</div>
		<div class="panel-body">
				<div class="col-xs-12 col-sm-12 col-md-12 no-padding">
						<div class="col-xs-2 col-sm-2 col-md-2 padL-0">
								<md-input-container>
						  <label>Project Name</label>
						  <input type="text" ng-model="projName" readonly="readonly"></md-input-container>
						</div>
						 <div class="col-xs-2 col-sm-2 col-md-2">
								<md-input-container>
						  <label>Crew Name</label>
						  <input type="text" ng-model="crewname" readonly="readonly"></md-input-container>
						</div>
						<div class="col-xs-2 col-sm-2 col-md-2">
								<md-input-container>
						  <label>Notification Id</label>
						  <input type="text" ng-model="reqNotifyCode" readonly="readonly"></md-input-container>
						</div>
						 <div class="col-xs-2 col-sm-2 col-md-2">
								<md-input-container>
						  <label><span style="color: red;font-size:6px">*</span>Approver</label>
						  <input type="text" ng-model="userLabelKeyTO.name" ng-click="getModuleUserDetails(userLabelKeyTO)" required>
						</md-input-container>
						</div>
						 <div class="col-xs-2 col-sm-2 col-md-2 padR-0">
								<md-input-container>
						  <label>Comments</label>
						  <textarea type="text" ng-model="comments"></textarea></md-input-container>
						</div>
					  </div>
		</div>

		<div class="panel-footer">
			<div class="pull-right">
				<input type="button" ng-click="submitNotifications(projId)"
					class="btn btn-primary btn-sm" value="Submit">
			</div>
		</div>
	</div>
</div>