<section class="content-header">
		<h1>Schedule of Estimate Quantities</h1>	
		<!-- <input type="submit" value ="Help !"
		ng-click="helpPage();" class="pull-right btn  btn-primary btn-sm help-each-page"> -->
	<button class="pull-right btn btn-primary btn-sm help-each-page" 
		onclick="window.open('views/helptutorials/ScheduleofEstimates.html', '_blank', 
		'toolbar=yes,scrollbars=yes,resizable=no,top=50,left=100,width=1400,height=700')">
		Help
	</button>
	</section>
	<section class="content">
	<div id="tab-pannel" class="panel-group">
		<div class="panel panel-default block footer-parent">
			<div class="panel-body">
					<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 no-padding">
							<div class="col-lg-3 col-md-3 col-xs-3 col-sm-3 padL-0">
									<md-input-container class="md-block">
										<label>EPS ID/EPS Name</label>
											<input data-test='Projects_ProjectLibrary_SOE_Eps' type="text" ng-model="searchProject.parentName"
											ng-click="getUserProjects()" 
											readonly="readonly">
								</md-input-container>
								</div>
							
							<div class="col-lg-3 col-md-3 col-xs-3 col-sm-3">
								<md-input-container class="md-block">
										<label>Project ID/Project Name</label>
										<input type="text" ng-model="searchProject.projName" ng-click="getUserProjects()" readonly="readonly">
								</md-input-container>
							</div>
							<div class="col-lg-6 col-md-6 col-xs-6 col-sm-6 padR-0">
								<div class="pull-left marT15">Status:<strong>{{soeStatus}}</strong></div>
								<div class="pull-right right-padding marT15">
								<input type="button" ng-show="disableBtns.displayAddtlTime" ng-click="requestForAddtinalTimeSoe()" class="btn btn-primary btn-sm" value="Request for Additional Time">
										<input data-test='Projects_ProjectLibrary_SOE_Search' type="submit" ng-click="getSOEDetails(searchProject)"
										class="btn  btn-primary btn-sm" value="Search"
										ng-model="searchText"> <input data-test='Projects_ProjectLibrary_SOE_Reset'  type="reset"
										class="btn bottomaligned btn-default btn-sm"
										ng-click="resetSOEData()" value="Reset">
								</div>
							</div>
						</div>
			<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 no-padding">
					<div class="singleTableResHeight_2">
					<table id="tree" class="table table-striped table-hover table-bordered singleTableHeight_2" >
						<thead id="tab-head">
							<tr>
								<th class="justify-center">Select</th>
								<th>SOE ID</th>
								<th>SOE Name</th>
								<th>Unit of Measure</th>
								<th class="justify-right">Estimated Quantity</th>
								<th class="justify-right">Man Hours</th>
								<th class="justify-center">Comments</th>
								<!-- <th><input type="button" class="btn btn-primary btn-sm" value="Return" ng-click="projSOESubmission('INTERNAL','SUBMIT')" ng-disabled="disableBtns.disableInternalSubmitBtn"></th> -->
								<th class="justify-center">&nbsp;&nbsp;&nbsp;</th>
							</tr>
						</thead>
						<tbody>
							<tr fixed-header="" ng-repeat="tab in SOEData | orderBy: 'parent'" ng-show="!tab.collapse" class="abc{{tab.level}}">
								<td class="justify-center">
									<input type="checkbox" ng-model="tab.select" ng-change="rowSelect(tab)">
								</td>
								<td><span ng-repeat="level in [].constructor(tab.level) track by $index" class="xyz" style="padding-left: 30px;"></span>
									<span ng-show="(tab.expand || (!tab.item  && tab.childSOEItemTOs.length <= 0))" ng-click="soeItemClick(tab,true);"
									 class="fa fa-minus" title="Collapse SOE"></span>
									<span ng-show="(!tab.expand && tab.childSOEItemTOs.length > 0)" data-test='Projects_ProjectLibrary_SOE_SOEexpandicon' title="Expand SOE"
									 ng-click="soeItemClick(tab,false);" class="fa fa-plus"></span>
									<i class="fa fa-leaf" ng-show="tab.item"> </i>
									<span style="padding-left: 10px; color: black !important;">{{tab.code}}
										<span style="padding-left: 5px;"></span>
									</span>
									<i class="fa fa-edit fa-fw" ng-show="tab.level==0 && !tab.item && account.appCodeTemplate['PRJ_PRJLIB_SCHEDOFESTQTY_ADD'] && disableEditValues"
									 data-test='Projects_ProjectLibrary_SOE_Edit' ng-click="editSOEDetails('Edit',tab,searchProject.projId)" title="Edit SOE"> </i>
								</td>
								<td>{{tab.name}}</td>
								<td>{{tab.measureUnitTO.name}}</td>
								<td class="justify-right">{{tab.quantity | number:2}}</td>
								<td class="justify-right">{{tab.manHours | number:2}}</td>
								<td class="justify-center"><span class="fa fa-comment fa-flip-horizontal" ng-show="(tab.item)" aria-hidden="true" name="comment" flip="horizontal"
									 ng-click="show(tab.comments)" role="button" tabindex="0" title="Comments"></span></td>
								<td ng-show="true"><input type="button" value="Return" class="btn btn-primary" ng-disabled="disableBtns.displayReturnBtn" ng-click="returnWithComments(tab)" ng-show="tab.item"/></td>						
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
			<div class="panel-footer">
				<div class="pull-right padR-0">
					<input class="btn bottomaligned btn-default btn-sm" type="button"
						data-test='Projects_ProjectLibrary_SOE_Deactivate' ng-click="deactivateSOEDetails()" value="Deactivate"
							ng-if="account.appCodeTemplate['PRJ_PRJLIB_SCHEDOFESTQTY_DELETE'] && activeFlag==1" />
					<input type="button" class="btn bottomaligned btn-primary btn-sm" data-test='Projects_ProjectLibrary_SOE_Create'
						ng-click="editSOEDetails('Add',null,searchProject.projId)"
						ng-if="account.appCodeTemplate['PRJ_PRJLIB_SCHEDOFESTQTY_ADD'] && activeFlag==1"
						value="Create" ng-disabled="disableCreateBtn"/>
				</div>
				<div class="pull-left">
					<input type="button" class="btn btn-primary btn-sm" value="Group" ng-click="group();">
					<input type="button" class="btn btn-primary btn-sm" value="Sort" ng-click="sort();">
					<input type="button" class="btn btn-primary btn-sm" value="Summarize" ng-click="summarize();">
					<input type="button" class="btn btn-primary btn-sm" value="Print" ng-click="print();">
					<input type="button" class="btn btn-primary btn-sm" value="Export" ng-click="export();">					
				</div>
				<div class="pull-right">
					<input type="button" class="btn btn-primary btn-sm" value="Submit for Internal Approval" ng-click="projSOESubmission('INTERNAL','SUBMIT')" ng-disabled="disableBtns.disableInternalSubmitBtn">
					<input type="button" class="btn btn-primary btn-sm" value="Submit for External Approval" ng-click="projSOESubmission('EXTERNAL','SUBMIT')" ng-disabled="disableBtns.disableExternalSubmitBtn">
					<!-- <input type="button" class="btn btn-primary btn-sm" value="Returned with Comments" ng-click="returnWithComments()"> -->
					<input type="button" class="btn btn-primary btn-sm" value="Internal Approval" ng-click="projSOEApproval('INTERNAL','APPROVAL')" ng-disabled="disableBtns.disableInternalApproveBtn">
					<input type="button" class="btn btn-primary btn-sm" value="External Approval" ng-click="projSOEApproval('EXTERNAL','APPROVAL')" ng-disabled="disableBtns.disableExternalApproveBtn">
					<input type="button" class="btn btn-primary btn-sm" value="View Records" ng-click="viewHistory()">
				</div>
			</div>
		</div>
	</div>
	</section>