<div class="tab-pannel">
  <form name="materialForm" validate>
      <!--<div class="panel pane-default">
          <div class="panel-body">-->
              <div class="tabTable_1_Res_height">
      <table id="vert-align" class="table table-striped table-hover table-bordered tabTable_1_height" >
        <thead>
          <tr>

            <th>Item ID</th>
            <th>Item Description</th>
            <th>Material Type</th>
            <th>Procurement<br>SubCategory
            </th>
            <th>Cost Code</th>
            <th>Delivery Place</th>
            <th>Start Date</th>
            <th>Finish Date</th>
            <th>Unit Of Measure</th>
            <th>Qty</th>
            <th>Estimate Rate<br>( {{preContractObj.currencyTO.code}})
            </th>
            <th>Estimate Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr fixed-header="" ng-repeat ="item in preContractObj.preContractMaterialDtlTOs" ng-init="getTotals(item)">

            <td class="input-width5"><input type="text" ng-model="item.itemCode" name="code" maxlength="100" placeHolder="Item Code" ng-disabled="true" /></td>

            <td class="input-width2" ng-form name="myForm1"><input type="text" ng-model="item.itemDesc" name="desc" maxlength="100" placeHolder="Item Description" pattern="^[a-zA-Z-\&\d\s.,]+$"
              required="required" ng-disabled="preContractObj.workFlowStatusTO.value ==5 " /> <span ng-show="myForm1.desc.$dirty && myForm1.desc.$error.required">This field is mandatory</span> <span
              ng-show="myForm1.desc.$error.maxlength">You reached Max Length</span> <span ng-show="myForm1.desc.$error.pattern">Special Characters Not Allowed</span></td>

            <td class="input-width2" ng-form name="myFormsub"><input type="text" ng-model="procureCategoryMap[item.procureSubCatgId].code" ng-click="selectProcureSubCategory(3,item);"
              placeHolder="Item SubCategory" name="subCategory" readonly="readonly" ng-disabled="preContractObj.workFlowStatusTO.value ==5 " /></td>

            <td class="input-width2" ng-form name="myForm2"><input type="text" ng-model="projMaterialClassmap[item.projMaterialLabelKey.id].code"
              ng-click="projmaterialClassDetails(item.projMaterialLabelKey);" name="material" placeHolder="Material Type" readonly="readonly" ng-disabled="preContractObj.workFlowStatusTO.value ==5 " /></td>

            <td class="input-width0"><input type="text" ng-model="projcostCodeMap[item.projCostLabelKey.id].code" ng-click="projCostCodeDetails(item.projCostLabelKey)" readonly="readonly"
              required="required" ng-disabled="preContractObj.workFlowStatusTO.value ==5 " /></td>


            <td class="input-width"><input type="text" ng-if="item.storeLabelKey.id > 0" ng-model="storeClassmap[item.storeLabelKey.id].code"
              ng-click="selectDeliveryPlace(item.storeLabelKey,item.projStoreLabelKey);" readonly="readonly" ng-disabled="preContractObj.workFlowStatusTO.value ==5 " /> <input type="text"
              ng-if="item.storeLabelKey.id <= 0 || item.projStoreLabelKey.id > 0" ng-model="projStoreClassmap[item.projStoreLabelKey.id].code"
              ng-click="selectDeliveryPlace(item.storeLabelKey,item.projStoreLabelKey);" readonly="readonly" /></td>

            <td class="input-width1"><potdate-picker ng-model="item.startDate" dir-index="$index" date-name="matstartDate" placeholder="dd-mm-yyyy" required="required"
                ng-disabled="preContractObj.workFlowStatusTO.value ==5 ">
              <potdate-picker></td>
            <td class="input-width1"><potdate-picker ng-model="item.finishDate" dir-index="$index" date-name="matfinishDate" placeholder="dd-mm-yyyy" required="required"
                ng-disabled="preContractObj.workFlowStatusTO.value ==5 "></potdate-picker></td>

            <td class="input-width2"><input type="text" ng-model="projMaterialClassmap[item.projMaterialLabelKey.id].unitOfMeasure" placeHolder="Unit Of Measure" name="unitOfMeasure"
              readonly="readonly" /></td>


            <td ng-form name="myForm3"><input type="text" ng-model="item.quantity" name="quan" pattern="^[\d]+$" maxlength="20" placeHolder="Quantity" required="required" style="width: 50px;"
              ng-disabled="preContractObj.workFlowStatusTO.value ==5 " /> <span ng-show="myForm3.quan.$dirty && myForm3.quan.$error.required">This field is mandatory</span> <span
              ng-show="myForm3.quan.$error.pattern">Only Digits Allowed</span> <span ng-show="myForm3.quan.$error.maxlength">You reached max length</span></td>

            <td ng-form name="myForm4"><input type="text" placeHolder="EstimateCost" maxlength="20" ng-model="item.estimateCost" name="escost" pattern="^[.\d]+$" required="required"
              ng-disabled="preContractObj.workFlowStatusTO.value ==5 " style="width: 50px;" /><span ng-show="myForm4.escost.$error.pattern">Only digits Allowed</span> <span
              ng-show="myForm4.escost.$dirty && myForm4.escost.$error.required">This field is mandatory</span> <span ng-show="myForm4.escost.$error.maxlength">You reached max length</span></td>

            <td class="input-width"><span>{{item.quantity * item.estimateCost}}<span></td>


          </tr>
        </tbody>
        <tfoot ng-if="preContractObj.preContractMaterialDtlTOs.length>0">
          <tr>
            <th>Total Amount</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <td>{{totalAmount}}</td>
          </tr>
        </tfoot>
      </table>
    </div>
    <!--</div>-->
    <div class="panel-footer">
      <div class="pull-right">
        <input type="Submit" value="Save" ng-click="materialForm.$valid && saveMaterialDetails()" class="btn  btn-brown btn-sm" validate />
      </div>
    </div>
    <!--</div>-->
    </form>
</div>