<div id="tab-pannel" class="panel-group">
	<div class="panel panel-default" modal-movable>
		<div class="panel-heading">
			<h4 class="panel-title">Create Employee Attendance</h4>
		</div>
		<div class="panel-body">
				<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12">
							<div class="col-xs-2 col-sm-2 col-md-2">
								<span>EPS Name</span>
							</div>
							<div class="col-xs-2 col-sm-2 col-md-2">
								<span>Project Name</span>
							</div>
							<div class="col-xs-2 col-sm-2 col-md-2">
								<span>Crew</span>
							</div>
			
							<div class="col-xs-2 col-sm-2 col-md-2">
								<span>Month:</span>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12">
								<div class="col-xs-2 col-sm-2 col-md-2">
									<input type="text" class="form-control" ng-model="parentName" readonly>
								</div>
								<div class="col-xs-2 col-sm-2 col-md-2">
									<input type="text" class="form-control" ng-model="projName" readonly>
								</div>
								<div class="col-xs-2 col-sm-2 col-md-2">
									<input type="text" class="form-control" ng-model="crewName" readonly>
								</div>
				
								<div class="col-xs-2 col-sm-2 col-md-2">
									<input type="text" class="form-control" ng-model="attendenceMonth" readonly>
								</div>
								<div class="col-xs-12 col-sm-12 col-md-12">
									<div class=" pull-right">
										<input type="button" ng-click="getEmpCopyTemplate()" data-test='AsbuiltRecords_AttendanceRecords_EmployeeAttendance_CopyTemplate'
											class="btn  btn-secondary btn-sm" value="Copy Template">								
									</div>
								</div>
							</div>
					</div>
					
		<div class="popUpTableResHeight" style="overflow: auto;">
				<table class="table table-striped table-hover popUpTableHeight"  >
				<thead>
					<tr>
						<th style="width: 30px !important">Select</th>
						<th>Employee ID</th>
						<th>First Name</th>
						<th>Last Name</th>

						<th>Trade</th>
						<th>Parent Company</th>
						<th><span ng-click="clickBackward(moreFlag)"
							ng-show="moreFlag >=7 && moreFlag <= empAttendanceDays.length"><i class="fa fa-angle-double-left"></i> </span></th>
						<th ng-repeat ="attendanceDay in empAttendanceDays "
							ng-if="$index >= moreFlag && $index < moreFlag + 7"><span
							ng-show="moreFlag >=0"> {{attendanceDay}}</span></th>
						<th><span
							ng-show="moreFlag >=0 && moreFlag < empAttendanceDays.length-7"
							ng-click="clickForward(moreFlag)"><i class="fa fa-angle-double-right"></i></span></th>
					</tr>
					
				</thead>
				<tbody>
					<tr ng-repeat ="empAttendence in empAttendenceDetails">
						<td><input type="checkbox" ng-model="empAttendence.select"
							ng-change="rowselect(empAttendence)"></td>
						<td>{{empAttendence.empCode}}</td>
						<td>{{empAttendence.empFirstName}}</td>
						<td>{{empAttendence.empLastName}}</td>
						<td>{{empAttendence.empClassType}}</td>
						<td>{{empAttendence.empCmpCatgName}}</td>
						<td></td>
						
						<td class="input-width"
							ng-if="$index >= moreFlag && $index < moreFlag + 7"
							ng-repeat ="attendenceDay in empAttendanceDays">
							<select ng-model="empAttendence.empAttendenceDtlMap[attendenceDay].attendanceTypeTO.code"
									ng-show="empAttendence.empAttendenceDtlMap[attendenceDay]" class="form-control"
									ng-disabled="!empAttendence.empAttendenceDtlMap[attendenceDay].attendenceFlag">
								<option ng-repeat ="empLeaveType in empLeaveTypes" ng-value="empLeaveType.code">
										{{ empLeaveType.code }}
								</option>
							</select>
						</td>
						<td
							ng-show="moreFlag >=0 && moreFlag < empAttendanceDays.length-7"></td>
					</tr>
				</tbody>
			</table>
			<script>
				window.onbeforeunload = function(e) {
					return 'Dialog text here.';
				};
			</script>
		</div>
	</div>
		<div class="panel-footer">
			<div class="pull-left">
				<input data-test='AsbuiltRecords_AttendanceRecords_EmployeeAttendance_Delete' type="button" class="btn  btn-secondary btn-sm" value="Delete"
					ng-click="deleteEmpRecords()">
			</div>
			<div class="pull-right">

				<input data-test='AsbuiltRecords_AttendanceRecords_EmployeeAttendance_AddEmployees' type="button" class="btn btn-secondary btn-sm"
					ng-click="addEmployeeDetails()" value="AddEmployees"> <input data-test='AsbuiltRecords_AttendanceRecords_EmployeeAttendance_Save'
					type="button" class="btn btn-primary btn-sm"
					ng-click="saveEmpAttendanceRecords()" value="Save">
			</div>
		</div>
		<div class="ngdialog-close"></div>
	</div>
</div>
