<section class="content-header" >
    <h1>Plant Working Status Records</h1>
    <!-- <input type="submit" value ="Help !"
		ng-click="helpPage();" class="pull-right btn  btn-primary btn-sm help-each-page"> -->
		<button class="pull-right btn btn-primary btn-sm help-each-page" 
	onclick="window.open('views/helptutorials/ListofPlantAttendanceRecordSheet.html', '_blank', 
		'toolbar=yes,scrollbars=yes,resizable=no,top=50,left=100,width=1400,height=700')">
		Help
	</button>
</section>
<section class="content">
    <div id="tab-pannel">
        <div class="panel panel-default block footer-parent">
            <div class="panel-body">

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 padL-0">
                        <md-input-container>
                            <label>EPS Name</label>
                            <input type="text" ng-model="searchCriteria.searchProject.parentName" ng-click="getUserProjects()" readonly>
                        </md-input-container>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        <md-input-container>
                            <label>Project Name</label>
                            <input type="text" ng-model="searchCriteria.searchProject.projName" ng-click="getUserProjects()" readonly>
                        </md-input-container>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        <md-radio-group ng-model="searchCriteria.userType" layout="row">
                            <md-radio-button value="1" class="md-primary">Login User Records</md-radio-button>
                            <md-radio-button value="2" class="md-primary">All User Records</md-radio-button>
                        </md-radio-group>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ">
                        <md-input-container class="md-block">
                            <label class="labelName">From Date</label>
                            <pot-month-year-picker ng-model="searchCriteria.fromDate" dir-index="$index" date-name="fromDate" readonly />
                        </md-input-container>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 ">
                        <md-input-container class="md-block">
                            <label>To Date</label>
                            <pot-month-year-picker ng-model="searchCriteria.toDate" dir-index="$index" date-name="toDate" readonly />
                        </md-input-container>
                    </div>
                    <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2 padR-0">
                        <div class="pull-right marT15">
                            <input type="button" ng-click="search12()" class="btn btn-primary btn-sm" value="Search" ng-model="searchText">
                            <input type="reset" class="btn btn-default btn-sm" ng-click="resetSearch()" value="Reset">
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
                    <div class="singleTableResHeight_2">
                        <!-- <table class="table table-striped table-hover table-bordered singleTableHeight_2">
                            <thead>
                                <tr>
                                    <th>Month</th>
                                    <th>Attendance Record Sheet ID</th>
                                    <th>EPS</th>
                                    <th>Project</th>
                                    <th>Crew</th>
                                    <th>Supervisor/Originator</th>
                                    <th>Status</th>
                                    <th class="text-center">More Details</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr fixed-header="" ng-repeat ="plantAttendanceMstrTO in plantAttendanceMstrTOs">

                                    <td>{{plantAttendanceMstrTO.attendanceMonth  | date}}</td>
                                    <td>{{plantAttendanceMstrTO.attendenceName}}</td>
                                    <td>{{plantAttendanceMstrTO.code}}</td>
                                    <td>{{plantAttendanceMstrTO.name}}</td>
                                    <td>{{plantAttendanceMstrTO.crewName}}</td>
                                    <td>{{plantAttendanceMstrTO.createdBy}}</td>
                                    <td>{{plantAttendanceMstrTO.status | openclosefilter :plantAttendanceMstrTO.status}}</td>
                                    <td class="text-center">
                                        <span class="btn btn-primary btn-sm" ng-click="showMore(plantAttendanceMstrTO)"
                                            class="btn bottomaligned btn-brown btn-sm">More Details</span>
                                    </td>

                                </tr>
                            </tbody>
                        </table> -->
                        <div class="singleTableResHeight_3 marT15 ui-rid-customization-pot">
                            <div id="grid" ui-grid="gridOptions" class="singleTableResHeight_3" ng-if="stylesSvc.finishedStyling"
                                ui-grid-exporter ui-grid-move-columns ui-grid-auto-resize ui-grid-resize-columns ui-grid-grouping class="grid"></div>
                        </div>
                    </div>
                </div>

                <div class="panel-footer">
                    <div class="pull-right">
                        <a class="btn btn-primary btn-sm"
                            ui-sref="plantattendence" ui-sref-opts="{reload: true}">Create New</a>
                    </div>
                    <!-- <div class="pull-left">
                        <input type="button" class="btn btn-primary btn-sm" ng-click="" value="Group" />
                        <input type="button" class="btn btn-primary btn-sm" ng-click="" value="Sort" />
                        <input type="button" class="btn btn-primary btn-sm" ng-click="" value="Export" />
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</section>