<div ng-if="account.appCodeTemplate['RESOURCE_PLANTREQFORTRANSFER_VIEW']" id="tab-pannel" class="panel-group">
	<div class="panel-body">
		<div class="pull-left left-padding input-width1">
			<span>From Date<br></span>
			<pot-currentdate-picker data-test='PlantandEquipment_RequestForTransfer_fromdate' dir-index="$index" ng-model="fromDate"
				date-name="fromDate" placeholder="dd-mm-yyyy" />
		</div>
		<div class="pull-left left-padding input-width1">
			<span>To Date<br></span>
			<pot-currentdate-picker data-test='PlantandEquipment_RequestForTransfer_todate' dir-index="$index" ng-model="toDate"
				date-name="toDate" placeholder="dd-mm-yyyy" />
		</div>

		<div class="pull-left left-padding spacer3">
			<input data-test='PlantandEquipment_RequestForTransfer_loginuserrecords_Radiobutton' type="radio" name="request" ng-model="userType" value="1">Login
			User Records <input data-test='PlantandEquipment_RequestForTransfer_alluserrecords_Radiobutton' type="radio" name="request" ng-model="userType"
				value="2">All User Records
		</div>

		<div class="pull-right right-padding spacer3">
			<input data-test='PlantandEquipment_RequestForTransfer_search' type="button" ng-click="getPlantTransfers(false)"
				class="btn  btn-brown btn-sm" value="Search">
		</div>

	</div>
	<div class="panel-body">
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>Date of Request</th>
					<th>Requester</th>
					<th>Approver</th>
					<th>Origin Project</th>
					<th>Destination Project</th>
					<th>Requisition ID</th>
					<th>Notification</th>
					<th>Approval Status</th>
					<th>More Details</th>
				</tr>
			</thead>
			<tbody>
				<tr fixed-header="" ng-repeat ="plantTransReqApprTO in plantTransferReqApprTOs">
					<td>{{plantTransReqApprTO.reqDate}}</td>
					<td>{{plantTransReqApprTO.reqUserTO.empCode}}</td>
					<td>{{plantTransReqApprTO.apprUserTO.empCode}}</td>
					<td>{{plantReqTransMap.userProjMap[plantTransReqApprTO.fromProjId].name}}</td>
					<td>{{plantReqTransMap.userProjMap[plantTransReqApprTO.toProjId].name}}</td>
					<td>{{plantTransReqApprTO.reqCode}}</td>
					<td>{{plantTransReqApprTO.notifyCode}}</td>
					<td>{{plantTransReqApprTO.apprStatus}}</td>
					<td><span data-test='PlantandEquipment_RequestForTransfer_moredetails_viewbutton'
						ng-click="createOrEditTransRequest('Edit',plantTransReqApprTO)">View</span></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="panel-footer">
		<div class="pull-right">
			<input type="button" class="btn btn-brown btn-sm" type="button" ng-if="account.appCodeTemplate['RESOURCE_PLANTREQFORTRANSFER_SUBMIT']"
				ng-click="createOrEditTransRequest('Add',null)" data-test='PlantandEquipment_RequestForTransfer_newrequest' value="New Request">
		</div>
	</div>
</div>
