<div id="tab-pannel">
	<div class="panel-group">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">Employee -Pay Calculation Sheet Records</h4>
			</div>
			<div class="panel-body5-1 spacer0">
				<div class="row">
					<div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
						<span class="labelName">EPS</span> <br> <input type="text" class="form-control"  class="form-control" 
							ng-model="searchProject.parentName" placeholder="EPS ID/EPS Name"
							ng-click="getUserProjects()">
					</div>
					<div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
						<span class="labelName">Project</span> <br> <input type="text" class="form-control" 
							ng-model="searchProject.projName"
							placeholder="Project ID/Project Name"
							ng-click="getUserProjects()">
					</div>
					<div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
						<span class="labelName">Parent Company</span> <input type="text" class="form-control" 
							placeholder="Comp list" ng-model="name"
							ng-click="getCompanies(company)">
					</div>
					<div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
						<span class="labelName">Pay Roll Cycle</span> <input type="text" class="form-control" 
							placeholder="Emp reg">
					</div>
					<div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
						<span class="labelName">Employee Category</span> <select class="form-control"
							ng-options="category.name for category in emppocureMentCatgMap  track by category.id"
							name="empType" ng-model="employee.procureLabelKeyTO"
							ng-required="true">
						</select>
					</div>
					<div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
						<span class="labelName">Employee Type</span> <select class="form-control"
							ng-options="category.name for category in emppocureMentCatgMap  track by category.id"
							name="empType" ng-model="employee.procureLabelKeyTO"
							ng-required="true">
						</select>
					</div>
				</div>
				<div class="row spacer1">
					<div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
						<span class="labelName">Period From</span>
						<potdate-picker dir-index="$index"
							date-name="fromDate" ng-model="employee.fromDate"
							placeholder="dd-mm-yyyy" class="form-control">
					</div>
					<div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
						<span class="labelName">Period To</span>
						<potdate-picker dir-index="$index"
							date-name="toDate" ng-model="employee.toDate"
							placeholder="dd-mm-yyyy" class="form-control">
					</div>
					<div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
						<span class="labelName">Leave Deduction</span> <select class="form-control"><option
								fixed-header="" ng-repeat ="leave in deductions">{{leave}}</option></select>
					</div>
					<div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
						<span class="labelName">Pay Report</span> <br> <input type="text" class="form-control" 
							placeholder="unique generate">
					</div>
					<div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
						<span class="labelName">Pay Sheet Run Date</span>
						<potdate-picker dir-index="$index"
							date-name="runDate" ng-model="date | date"
							placeholder="dd-mm-yyyy" class="form-control">
					</div>
					<!-- <div class="col-sm-1 col-xs-1 col-md-1 input-width0">
            <input type="button" value="Run" style="margin-top: 21px !important">
          </div>
          <div class="col-sm-1 col-xs-1 col-md-1">
            <input type="button" value="Trail Run" ng-click="generateInvoice()" style="margin-top: 21px !important">
          </div>
          </div>
          <div class="col-sm-1 col-xs-1 col-md-1">
            <input type="button" value="Generate Pay Roll" placeholder="Generate Pay Roll" ng-click="generatePayRoll()" style="margin-top: 21px !important">
          </div> --><div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
					<div class="pull-right right-padding spacer3">
						<input type="button"
							ng-click="getCountryProvisionDetails(countryProvision)"
							class="btn bottomaligned btn-brown btn-sm" value="Search">
						<input type="reset" class="btn bottomaligned btn-brown btn-sm"
							ng-click="resetTaxDetails()" value="Reset" />
					</div>
              </div>
				</div>
			</div>
			<div class="panel-body19-0">
				<div class="panel panel-default">
					<div class="panel-collapse collapse in">
						<table class="table table-striped table-hover table-bordered" style="height: 350px !important;" >
							<thead id="tab-head">
								<tr>
									<th>Company</th>
									<th>Eps</th>
									<th>Project</th>
									<th>Pay Sheet Run Date</th>
									<th>Pay Sheet Run</th>
									<th>Pay Roll Run</th>
									<th>Present Days</th>
									<th>Availed Pay Leave Days</th>
									<th>Total-Regular Pay</th>
									<th>Total-Non Regular Pay</th>
									<th>Allowances</th>
									<th>Total Deductions</th>
									<th>Contribution</th>
									<th>Net Amount Payable</th>
									<th>View For More Details</th>
								</tr>
							</thead>
							<tbody>
								<tr fixed-header="" ng-repeat ="empPay in empPaySheetRecord ">
									<td>{{empPay.code}}</td>
									<td>{{empPay.name}}</td>
									<td>{{empPay.notes}}</td>
									<td>{{empPay.status | potstatusfilter :unitPay.status}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<!-- <div class="panel-footer">
        <div class="pull-right">
          <input type="button" class="btn btn-brown btn-sm" ng-click="addPayRates('Add')" value="Create">
        </div>
        <div class="pull-left">
          <input type="button" class="btn  btn-brown btn-sm" ng-click="addPayRates('Edit')" value="Edit"> <input type="button" class="btn  btn-brown btn-sm" ng-click="deletePayRates()"
            value="Deactivate" ng-show="activeFlag==1"> <input type="button" class="btn btn-brown btn-sm" value="Activate" ng-click="activeCompanies()" ng-show="activeFlag==2" />
        </div>
      </div> -->
			</div>
		</div>
	</div>