<div id="tab-pannel" class="panel-group">
	<form name="revenueValueForm" validate>
		<div class="panel panel-default" modal-movable>
			<div class="panel-heading">
				<h4 class="panel-title">Buyer Details</h4>
			</div>
			<div class="panel-body">
				<div class="topTableResHeight overflow-auto">
					<table class="table table-striped table-bordered table-responsive popUpTableHeight">
						<thead id="tab-head">
							<tr>
								<!-- <th class="text-center" ng-if="action ==='Add'">Select</th> -->
								<th class="text-center">Buyer Name</th>
								<th class="text-center">Buyer Address</th>
								<th class="text-center">Total Sale Amount</th>
							</tr>
						</thead>
						<tbody>
							<tr fixed-header="" ng-repeat="salesDetails in salesRecordsDtlTO" ng-click="selectRecord(salesDetails)">															
								<td class="text-center">{{salesDetails.buyerName}}</td>		
								<td class="text-center">{{salesDetails.buyerAddress}}</td>
								<td class="text-center">{{salesDetails.totalSalesAmount}}</td>																																		
							</tr>
						</tbody>
					</table>
				</div>				
			</div>
			<div class="panel-footer">				
			</div>
		</div>
		<div class="ngdialog-close"></div>
	</form>
</div>
