        <div ng-if="account.appCodeTemplate['PROCURMT_PURCHASEORDR_STAGE1REQAPPR_VIEW']" ng-controller="PurchaseInternalController">
        <div class="tabTable_3_Res_height">
        <div id="grid" ui-grid="gridOptions" ng-if="stylesSvc.finishedStyling"
           ui-grid-exporter ui-grid-move-columns ui-grid-auto-resize ui-grid-resize-columns class="grid proc-tabs"></div>
      <!-- <table id="" class="table table-hover table-bordered tabTable_3_height">
        <thead>
          <tr>
            <th>EPS Name</th>
            <th>Project Name</th>
            <th>Pre-Contract ID</th>
            <th>Pre-Contract Description</th>
            <th>Requisition ID</th>
            <th>Requestor</th>
             <th>Approver</th>
            <th>Pre-Contract Type</th>
            <th>Schedule Items</th>
            <th>Response Status</th>
            <th>Approve Details</th>
            <th>Reference Documents</th>
          </tr>
        </thead>
        <tbody>
          <tr fixed-header="" ng-repeat ="req in preContractTOs">
            <td>{{userProjMap[req.projId].code}}</td>
            <td>{{userProjMap[req.projId].name}}</td>
            <td>{{req.code}}</td>
            <td>{{req.desc}}</td>
            <td>{{req.preContractReqApprTO.reqCode}}</td>
            <td>{{req.preContractReqApprTO.reqUserLabelkeyTO.code}}</td>
            <td>{{req.preContractReqApprTO.apprUserLabelkeyTO.code}}</td>
            <td>{{req.preContractType}}</td>
            <td class="text-center"><span class="link" ng-if="account.appCodeTemplate['PROCURMT_PURCHASEORDR_STAGE1REQAPPRSCHEDULEOFITEMS_VIEW']" ng-click="viewInternalRequestById(req)" data-test='PurchaseOrders_Stage1Requestscheduleview'>View</span></td>
            <td class="text-center">{{req.workFlowStatusTO.desc}}</td>
            <td class="text-center"><span class="link" ng-if="account.appCodeTemplate['PROCURMT_PURCHASEORDR_STAGE1REQAPPRAPPROVEDETAIILS_VIEW']" ng-click="getApprovelDetailss(req)" data-test="PurchaseOrders_Stage1Requestapprovedetailsview">View</span></td>
            <td class="text-center"><span class="btn btn-primary btn-sm" ng-if="account.appCodeTemplate['PROCURMT_PURCHASEORDR_STAGE1REQAPPRREFDOCUMENTS_VIEW']" ng-click="getRefDocument(req)" data-test="PurchaseOrders_Stage1Requestrefdocument">Ref Document</span></td>
          </tr>
        </tbody>
      </table> -->
      </div>
      <!-- <div class="panel-footer">
        <div class="pull-left">
          <input type="button" class="btn btn-primary btn-sm" value="Group" ng-click="group();">
          <input type="button" class="btn btn-primary btn-sm" value="Sort" ng-click="sort();">
          <input type="button" class="btn btn-primary btn-sm" value="Summarize" ng-click="summarize();">
          <input type="button" class="btn btn-primary btn-sm" value="Print" ng-click="print();">
          <input type="button" class="btn btn-primary btn-sm" value="Export" ng-click="export();">
        </div>
      </div> -->
    </div>
    