<div class="tab-pannel">
  <form name="plantForm" validate>
    <div class="tabTable_3_Res_height">
      <table id="" class="table table-hover table-bordered tabTable_3_height">
        <thead>
          <tr>
            <th>Item ID</th>
            <th>Item Description</th>
            <th>Procurement<br>SubCategory
            </th>
            <th>Plant Class</th>
            <th>Cost Code</th>
            <th>Delivery Place</th>
            <th>Start Date</th>
            <th>Finish Date</th>
            <th>Unit Of Measure</th>
            <th>Qty</th>
            <th>Estimate Rate<br>({{preContractObj.currencyTO.code}})
            </th>
            <th>Estimate Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr fixed-header="" ng-repeat ="item in preContractObj.preContractPlantDtlTOs">

            <td class="input-width3"><input type="text" ng-model="item.itemCode" placeHolder="Item Code" name="code" ng-disabled="true" maxlength="100" readonly="readonly"/> <span
              ng-show="myForm.code.$error.maxlength">You Reached Max Length</span> <span ng-show="myForm.code.$dirty && myForm.code.$error.required">This field is mandatory</span> <span
              ng-show="myForm.code.$error.pattern">Special Characters Not Allowed</span></td>

            <td class="input-width2" ng-form name="myForm1"><input type="text" ng-model="item.itemDesc" readonly="readonly" placeHolder="Item Descripton" name="desc" maxlength="100" pattern="^[a-zA-Z-\&\d\s.,]+$"
              required="required" /> <span ng-show="myForm1.desc.$error.maxlength">You reached Max Length</span> <span ng-show="myForm1.desc.$dirty && myForm1.desc.$error.required">This field
                is required</span> <span ng-show="myForm1.desc.$error.pattern">Special Characters not allowed</span></td>

            <td class="input-width2" ng-form name="myFormsub"><input type="text" ng-model="procureCategoryMap[item.procureSubCatgId].code" ng-click="selectProcureSubCategory(2,item);"
              placeHolder="Item SubCategory" name="subCategory" pattern="^[a-zA-Z-\&\d\s.,]+$" maxlength="100" required="required" readonly="readonly"/> <span
              ng-show="myFormsub.subCategory.$dirty && myFormsub.subCategory.$error.required">This field is mandatory</span> <span ng-show="myFormsub.subCategory.$error.pattern">Special
                characters not allowed</span> <span ng-show="myFormsub.subCategory.$error.maxlength">You reached max length</span></td>

            <td class="input-width2" ng-form name="myForm2"><input type="text" ng-model="projPlantClassmap[item.projPlantLabelKey.id].code"
               placeHolder="Plant Type" required="required" name="plant" readonly="readonly" /> <span
              ng-show="myForm2.plant.$dirty && myForm2.plant.$error.required">This field is mandatory</span></td>

            <td class="input-width0"><input type="text" ng-model="projcostCodeMap[item.projCostLabelKey.id].code" readonly="readonly"
              required="required" /></td>

            <td class="input-width"><input type="text" ng-model="item.deliveryPlace" tabindex="-1" readonly="readonly"/></td>

            <td class="input-width1"><potdate-picker ng-model="item.startDate" dir-index="$index" date-name="plantStartDate" placeholder="dd-mm-yyyy" required="required" /></td>
            <td class="input-width1"><potdate-picker ng-model="item.finishDate" dir-index="$index" date-name="plantFinishDate" placeholder="dd-mm-yyyy" required="required" /></td>


            <td class="input-width"><input type="text" ng-model="projPlantClassmap[item.projPlantLabelKey.id].unitOfMeasure" placeHolder="Unit Of Measure" name="unitOfMeasure" readonly="readonly" /></td>

            <td ng-form name="myForm3"><input type="text" ng-model="item.quantity" pattern="^[\d]+$" placeHolder="Quantity" name="quan" readonly="readonly" maxlength="20" style="width: 50px;" />
              <span ng-show="myForm3.quan.$error.maxlength">You Reached Max Length</span> <span ng-show="myForm3.quan.$error.pattern">Only Digits Allowed</span> <span
              ng-show="myForm3.quan.$dirty && myForm3.quan.$error.required">This field is mandatory</span></td>

            <td ng-form name="myForm4"><input type="text" ng-model="item.estimateCost" pattern="^[\d]+$" required="required" placeHolder="EstimateCost" name="estcost" maxlength="20"
              style="width: 50px;" readonly="readonly" /> <span ng-show="myForm4.estcost.$error.maxlength">You Reached Max Length</span> <span ng-show="myForm4.estcost.$error.pattern">Only Digits Allowed</span> <span
              ng-show="myForm4.estcost.$dirty && myForm4.estcost.$error.required">This field is mandatory</span></td>



            <td class="input-width"><span>{{item.quantity * item.estimateCost}}<span></td>


          </tr>
        </tbody>
      </table>
    </div>
  </form>
</div>
