<div class="tab-pannel">
  <form name="manpowerForm" validate>
    <div class="tabTable_3_Res_height overflow-auto">
      <table id="vert-align" class="table table-hover table-bordered tabTable_3_height">
        <thead>
          <tr>

            <th>Schedule<br>Item ID
            </th>
            <th style="max-width:15%">Item<br>Description
            </th>
            <th>Employee Class</th>
            <th>Procurement<br>SubCategory
            </th>
            <th>Cost Code</th>
            <th>Delivery Place</th>
            <th style="max-width:8%">Start Date</th>
            <th style="max-width:8%">Finish Date</th>
            <th style="max-width:7%">Qty</th>
            <th style="max-width:7%">Quoted Rate</th>
            <th style="max-width:7%">Quoted <br> Amount ({{preContractObj.currencyCode}})
            </th>
            <th>Comments / Conditions from Vendor</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in preContractObj.preContractEmpDtlTOs">

            <td><span>{{item.itemCode}} </span></td>
            <td><span>{{item.itemDesc}}</span></td>
            <td><span>{{projEmpClassmap[item.projEmpLabelKey.id].code}}</span></td>
            <td><span>{{procureCategoryMap[item.procureSubCatgId].code}}</span></td>
            <td><span>{{item.costCode}}</span></td>
            <td><span> {{item.deliveryPlace}}</span></td>
            <td>{{item.startDate | date}}</td>
            <td>{{item.finishDate | date}}</td>
            <td><span>{{item.quantity}}</span></td>
            <td class="input-width">
              <input data-test='RFQ_EditQuotesfromVendor_ViewEdit_Manpower_quoterate' type="text" class="form-control"
               maxlength="20" ng-model="item.preContractsEmpCmpTOs[0].rate" name="rate" pattern="^(([0]+)?([\.\d+])?([1-9]))+([0-9]+)?"
                ng-disabled="preContractCmpTO.biddingStatus=='Closed'" valid-number/><span style="color: red" ng-show="manpowerForm.rate.$error.pattern">Enter value</span>
            </td>
            <td class="input-width"><span>{{item.quantity * item.preContractsEmpCmpTOs[0].rate}}</span></td>
            <td class="input-width"><textarea data-test='RFQ_EditQuotesfromVendor_ViewEdit_Manpower_comments'
                type="text" class="form-control" ng-model="item.preContractsEmpCmpTOs[0].comments"
                ng-disabled="preContractCmpTO.biddingStatus=='Closed'"></textarea></td>
        </tbody>
      </table>
    </div>
    <div class="panel-footer">
      <div class="pull-right"
        ng-show="preContractObj.workFlowStatusTO.value ==5 || preContractObj.workFlowStatusTO.value ==6">
        <input type="Submit" data-test='RFQ_EditQuotesfromVendor_ViewEdit_save' ng-hide="preContractCmpTO.biddingStatus=='Closed'" value="Save"
          ng-click="manpowerForm.$valid && saveManPowerDetails()" class="btn btn-primary btn-sm" validate />
      </div>
    </div>
  </form>
</div>