<div id="tab-pannel" class="panel-group">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title ">Document Transmittal Message</h4>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-lg-3 col-md-3 col-lsm-3 col-xs-3">
					<label>Company Name:<br>Address:
					</label>
				</div>
				<div class="col-lg-3 col-md-3 col-lsm-3 col-xs-3">
					<label>Vendor Name:<br>Address:
					</label>
				</div>
				<div class="col-lg-3 col-md-3 col-lsm-3 col-xs-3">
					<label>EPS Name: </label>
				</div>
				<div class="col-lg-3 col-md-3 col-lsm-3 col-xs-3">
					<label>Project: </label>
				</div>
			</div>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-lsm-3 col-xs-3">
                    <label>Pre-Contract ID: </label>
                </div>
                <div class="col-lg-6 col-md-6 col-lsm-6 col-xs-6">
                    <label>Pre-Contract Description: </label>
                </div>
                <div class="col-lg-2 col-md-2 2 col-xs-2">
                    <label>Date: </label>
                </div>
            </div>
		<div class="row">
			<h4 class="text-center">Sub : Document Transmittal Message</h4>
			<lable class="left-padding spacer0">Vendor Rep Name:</lable>
			<div class="row spacer2 left-padding right-padding">
				<p style="border: 1px solid black;">This is to inform you that
					we had transmitted the following documents to your nomonated E mail
					address in relation to RFQ / Bidding process of ther above mentined
					project and Precontract. ( This deafult darft text message is
					editable by the user). Please acknowledge receipt of those
					documents.</p>
			</div>
			<table class="table table-striped spacer0">
				<thead>
					<tr>
						<th>Select</th>
						<th>Document ID</th>
						<th>Description</th>
						<th>Version</th>
						<th>File Type</th>
						<th>File Size</th>

					</tr>
				</thead>
				<tbody>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="row">
			<div class="col-lg-6 col-sm-6 colxs-6 col-md-6">
				<h4>Issued By</h4>
				<br> <label>Name: </label><br> <label>Designation:
				</label>
			</div>
			<div class="col-lg-6 col-sm-6 colxs-6 col-md-6">
				<h4>Received By</h4>
				<br> <label>Name: </label><br> <label>Designation
					:</label> <br>
			</div>
		</div>
            </div>
		<div class="panel-footer">
			<div class="pull-right">
				<input class="btn btn-primary btn-sm" type="button" value="Save">
			</div>
		</div>
	</div>
</div>
