<div class="tabTable_2_10_Res_height" id="tab-pannel">
    <table class="table table-striped table-bordered tabTable_2_10_Res_height">
        <thead id="tab-head">
            <tr>
                <th>Cost ID</th>
                <th>Cost Description</th>
                <th>Unit</th>
                <th>Original Budget</th>
                <th>Revised Budget</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{}}</td>
                <td>{{}}</td>
                <td>{{}}</td>
                <td>{{}}</td>
                <td>{{}}</td>
            </tr>
        </tbody>
    </table>
</div>