<section class="content-header">
    <h1>Resource Assignment Data Table</h1>
    <button class="pull-right btn btn-primary btn-sm help-each-page" 
	onclick="window.open('views/helptutorials/ResourceAssignmentDataTable.html', '_blank', 
		'toolbar=yes,scrollbars=yes,resizable=no,top=50,left=100,width=1400,height=700')">
		Help
	</button>
</section>
<section class="content">
    <div id="tab-pannel" class="panel-group panel panel-default block footer-parent">
        <div class="panel-body">
            <div class="col-sm-12 no-padding">
                <div class="col-sm-2 padL-0">
                    <md-input-container>
                        <label>Project ID/Name</label>
                        <input type="text" data-test='Schedules_ProjectSchedules_ProjectIdClick' ng-model="searchCriteria.searchProject.projName" ng-click="getUserProjects()"
                            autocomplete="off" readonly>
                    </md-input-container>
                </div>
                <div class="col-sm-2">
					<md-input-container>
						<label>Dataset</label>
						<input type="text" data-test='Schedules_ResourceAssignment_Dataset' ng-click="getDatasets()" ng-model="searchCriteria.searchDataset.datasetName" readonly>
					</md-input-container>
				</div>
				<div class="col-sm-1">
					<md-input-container>
						<label>Is Current?</label>
						<input type="text" disabled ng-model="searchCriteria.searchDataset.current" data-test='Schedules_ResourceAssignment_Current'> 
					</md-input-container>
				</div>
				<div class="col-sm-1">
					<md-input-container>
						<label>Is Baseline?</label>
						<input type="text" disabled ng-model="searchCriteria.searchDataset.baseline" data-test='Schedules_ResourceAssignment_Baseline'> 
					</md-input-container>
				</div>
                <div class="col-sm-6 padR-0">
                    <div class="pull-right marT15">
                        <input type="button" ng-click="manageDatasets()" class="btn  btn-primary btn-sm" value="Manage Datasets">
                        <input type="button" ng-click="addDataSet();" class="btn  btn-primary btn-sm" value="Add Dataset">
                    </div>
                </div>
            </div>
            <div class="col-sm-12 no-padding">
                <div class="singleTableResHeight_2" style="overflow-y:auto;">
                    <table class="table table-striped table-hover table-bordered sticky-table">
                        <thead>
                            <tr>
                                <th class="text-nowrap">Resource ID</th>
                                <th class="text-nowrap">Resource Name</th>
                                <th class="text-nowrap">Resource Type</th>
                                <th class="text-nowrap">Activity ID</th>
                                <th class="text-nowrap">Activity Name</th>
                                <th>WBS</th>
                                <th class="text-nowrap">WBS Name</th>
                                <th>SOE</th>
                                <th>Start</th>
                                <th>Finish</th>
                                <th>Unit of Measure</th>
                                <th>Budgeted Units</th>
                                <th>Actual Units</th>
                                <th>Remaining Units</th>
                                <th>Calendar</th>
                                <th>Curve</th>
                                <th ng-repeat="headerColumn in headerColumns"><div style="writing-mode:vertical-rl;float:right;padding:7px;">{{headerColumn.forecastDate | date}}</div></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat ="resourceAssignmentDataTableTO in scheduleActivityDataSet.resourceAssignmentDataTableTOs" ng-class="{'info' : resourceAssignmentDataTableTO.id==selectedUniqueIdentifier}" ng-click="setSelectedRow(resourceAssignmentDataTableTO)">
								<td>{{resourceAssignmentDataTableTO.code}}</td>
								<td class="text-nowrap">{{resourceAssignmentDataTableTO.name}}</td>
								<td>{{resourceAssignmentDataTableTO.type}}</td>
								<td>{{resourceAssignmentDataTableTO.activityCode}}</td>
								<td class="text-nowrap">{{resourceAssignmentDataTableTO.activityName}}</td>
								<td>{{resourceAssignmentDataTableTO.wbsCode}}</td>
								<td class="text-nowrap">{{resourceAssignmentDataTableTO.wbsName}}</td>
								<td class="text-nowrap">{{resourceAssignmentDataTableTO.soeCode}}</td>
								<td class="text-nowrap">{{resourceAssignmentDataTableTO.startDate | date}}</td>
								<td class="text-nowrap">{{resourceAssignmentDataTableTO.finishDate | date}}</td>
								<td class="text-nowrap">{{resourceAssignmentDataTableTO.unitOfMeasure}}</td>
								<td class="text-right">{{resourceAssignmentDataTableTO.budgetUnits | number : 2}}</td>
								<td class="text-right">{{resourceAssignmentDataTableTO.actualUnits | number : 2}}</td>
								<td class="text-right">{{resourceAssignmentDataTableTO.budgetUnits - resourceAssignmentDataTableTO.actualUnits | number : 2}}</td>
								<td class="text-nowrap">{{resourceAssignmentDataTableTO.calendar}}</td>
								<td class="text-nowrap">{{resourceAssignmentDataTableTO.curve}}</td>
                                <!-- Dynamic dates -->
                                <td ng-repeat="resourceAssignmentDataValueTO in resourceAssignmentDataTableTO.resourceAssignmentDataValueTOs" class="text-right">{{resourceAssignmentDataValueTO.budget | number : 2}}</td>
							</tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="pull-left">
                <input type="button" class="btn btn-primary btn-sm" value="Group" ng-click="group();">
                <input type="button" class="btn btn-primary btn-sm" value="Sort" ng-click="sort();">
                <input type="button" class="btn btn-primary btn-sm" value="Summarize" ng-click="summarize();">
                <input type="button" class="btn btn-primary btn-sm" value="Print" ng-click="print();">
                <input type="button" class="btn btn-primary btn-sm" value="Export" ng-click="export();">
            </div>
        </div>
    </div>
</section>