<div ng-if="account.appCodeTemplate['PRJ_SCHEDULES_SUMMARYACTIVITY_VIEW']" class="tabTable_2_10_Res_height"
	id="tab-pannel">
	<table class="table table-striped table-bordered tabTable_2_10_Res_height">
		<thead id="tab-head">
			<tr>
				<th>WBS ID</th>
				<th>WBS Description</th>
				<th>Act ID</th>
				<th>Act Description</th>
				<th>Duration</th>
				<th>Early Start</th>
				<th>Early Finish</th>
				<th>Actual Start</th>
				<th>Actual Finish</th>
				<th>Predesessor</th>
				<th>Successor</th>
				<th>Lag  or Lead</th>
				<th>% Complete</th>
				<th>Calander</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{}}</td>
				<td>{{}}</td>
				<td>{{}}</td>
				<td>{{}}</td>
				<td>{{}}</td>
				<td>{{}}</td>
				<td>{{}}</td>
				<td>{{}}</td>
				<td>{{}}</td>
				<td>{{}}</td>
				<td>{{}}</td>
				<td>{{}}</td>
				<td>{{}}</td>
				<td>{{}}</td>
			</tr>
		</tbody>
	</table>
</div>