<div id="tab-pannel">
	<form name="addressForm" validate>
		<div class="panel panel-default" modal-movable>
			<div class="panel-heading">
				<h4 class="panel-title" ng-show="action =='Add'">Add Bank</h4>
				<h4 class="panel-title" ng-show="action =='Edit'">Edit Bank</h4>
			</div>
			<div class="panel-body">
					<div class="tabTable_2_Res_height">
				<table class="table table-striped table-hover table-bordered tabTable_2_height">
					<thead>
						<tr>
							<th><span ng-hide="action =='Edit'">Select</span></th>
							<th>Account Name<span style="color: red; font-sfont-size: '50px'">
								*</span></th>
							<th>Name of Bank<span style="color: red; font-sfont-size: '50px'">
									*</span></th>
							<th>Bank Code<span style="color: red; font-sfont-size: '50px'">
									*</span></th>
							<th>Account Number<span
								style="color: red; font-sfont-size: '50px'"> *</span></th>
															<th>Bank Address<span
								style="color: red; font-sfont-size: '50px'"> *</span></th>
								
						</tr>
					</thead>
					<tr fixed-header="" ng-repeat ="bank in bankList">
						<td><input data-test='Companylist_Bank_Create_addrows_Checkbox1' ng-disabled="action =='Edit'" type="checkbox"
							ng-model="bank.selected"
							ng-change="bankPopUpRowSelect(bank)"></td>
						<td><ng-form name="bankForm"> <input data-test='Companylist_Bank_Create_Bank' type="text" 
							class="form-control"
								ng-model="bank.accountName" name="bankaccountname"
								pattern=[^\w\d]*((.*[A-Za-z]+.*)|[A-Za-z]+.*) minlength="2"
								maxlength=200 placeholder="AccountName" ng-required="true" /> 
								<span class="procurment-pot-errors"
								ng-show="bankForm.bank.$touched && bankForm.bank.$error.required">
								Account Name is mandatory</span> 
								<span class="procurment-pot-errors"
								ng-show="bankForm.bankaccountname.$error.pattern">Alphabets only allowed</span> </ng-form>
							</td>

						<td ng-form name="cityForm"><input data-test='Companylist_Bank_Create_City' type="text" class="form-control"
							ng-model="bank.bankName" name="city" ng-trim="false"
							placeholder="BankName"
							pattern=[^\w\d]*((.*[A-Za-z]+.*)|[A-Za-z]+.*([0-9]+.*)) minlength="2"
							maxlength=50 ng-required="true" /> <span class="procurment-pot-errors"
							ng-show="cityForm.city.$touched && cityForm.city.$error.required">BankName
								is mandatory</span> <span class="procurment-pot-errors"
								ng-show="cityForm.city.$error.pattern">Alpha
								numeric data should be allowed </span> </td>
								
						<td ng-form name="cityForm"><input data-test='Companylist_Bank_Create_City' type="text" class="form-control"
							ng-model="bank.bankCode" name="bankCode" 
							placeholder="BankCode"
							pattern= ^[A-Za-z0-9]+$ ng-required="true"/> <span class="procurment-pot-errors"
							ng-show="cityForm.bankCode.$touched && cityForm.bankCode.$error.required">BankCode
								is mandatory</span>
								<span class="procurment-pot-errors"
							ng-show="cityForm.bankCode.$error.pattern">Special Characters Not Allowed</span></td>		
						<td ng-form="stateForm"><input type="text" data-test='Companylist_Bank_Create_State' class="form-control"
							ng-model="bank.accountNumber" name="state" 
							placeholder="AccountNumber" ng-change="checkDuplicate1(bank)"
							pattern="[0-9]+" /> 
							<span class="procurment-pot-errors"
							ng-show="stateForm.state.$touched && stateForm.state.$error.required">Account Number
								is mandatory</span> 
								<span class="procurment-pot-errors"
							ng-show="stateForm.state.$error.pattern">Alphabets are not Allowed</span>
								</td>
						<td ng-form="pcForm"><input data-test='Companylist_Bank_Create_PinCode' type="text" class="form-control"
							ng-model="bank.bankAddress" name="pinCode" ng-trim="false"
							placeholder="BankAddress"
							ng-required="true" /> 
							<span class="procurment-pot-errors"
							ng-show="pcForm.pinCode.$touched && pcForm.pinCode.$error.required">Bank Address Is Mandatory</span> </td>
					</tr>
				</table>
				</div>
			</div>
			<div class="panel-footer">
				<div class="pull-left">
					<input data-test='Companylist_Bank_Create_addrows' type="submit" class="btn btn-primary btn-sm"
						ng-click="addressForm.$valid && addRows()" value="Add Rows"
						ng-show="action =='Add'" /> <input data-test='Companylist_Bank_Create_deleterows' type="button"
						class="btn btn-secondary btn-sm" ng-click="deleteBankRows()"
						value="Delete Rows" ng-show="action =='Add'" />
				</div>
				<div class="pull-right">
					<input data-test='Companylist_Bank_Save' type="submit" class="btn btn-primary btn-sm" value="Save"
						ng-click="addressForm.$valid && saveBank()" />
				</div>
			</div>
		</div>
		<div class="ngdialog-close"></div>
	</form>
</div>
