<div id="tab-pannel" ng-if="account.appCodeTemplate['CMPLIST_ADDRESS_VIEW']">
	<div class="firstTableResHeight b-sh" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<!-- <table class="table table-striped table-hover table-bordered tabTable_1_height" >
			<thead>
				<tr>
					<th style="width:50px !important">Select</th>
					<th class="text-center">Address</th>
					<th class="text-center">City</th>
					<th class="text-center">State</th>
					<th class="text-center">Pin Code</th>
				</tr>
			</thead>
			<tbody>
				<tr fixed-header="" ng-repeat ="addrVar  in address">
					<td><input type="checkbox" ng-model="addrVar.selected" ng-change="addressRowSelect(addrVar)" /></td>
					<td class="text-center">{{addrVar.address}}</td>
					<td class="text-center">{{addrVar.city}}</td>
					<td class="text-center">{{addrVar.state}}</td>
					<td class="text-center">{{addrVar.pincode}}</td>
				</tr>
			</tbody>
		</table> -->
		<div id="grid" ui-grid="gridOptions1" ng-if="stylesSvc.finishedStyling" ui-grid-exporter ui-grid-move-columns ui-grid-auto-resize class="grid grid-tabs"></div>
	</div>
	<div class="panel-footer tab-footer">
		<div class="pull-right">
			<input type="button" data-test='Companylist_Address_Create' class="btn  btn-primary btn-sm" ng-click="addAddress('Add')" value="Create" ng-if="account.appCodeTemplate['CMPLIST_ADDRESS_ADD']" />
		</div>
		<div class="pull-left">
			<!-- <input type="button" class="btn btn-primary btn-sm" value="Group" ng-click="group();">
			<input type="button" class="btn btn-primary btn-sm" value="Sort" ng-click="sort();">
			<input type="button" class="btn btn-primary btn-sm" value="Summarize" ng-click="summarize();">
			<input type="button" class="btn btn-primary btn-sm" value="Print" ng-click="print();">
			<input type="button" class="btn btn-primary btn-sm" value="Export" ng-click="export();"> -->
			<input data-test='Companylist_Address_Edit' type="button" class="btn  btn-primary btn-sm" ng-click="addAddress('Edit')" value="Edit" ng-if="account.appCodeTemplate['CMPLIST_ADDRESS_ADD']"/>
			<input data-test='Companylist_Address_Deactivate' type="button" class="btn btn-secondary btn-sm" ng-click="deleteAddress()" value="Deactivate" ng-if="account.appCodeTemplate['CMPLIST_ADDRESS_DELETE']"/>
		</div>
	</div>
</div>