<div id="tab-pannel" class="panel-group" ng-init="getCurrentProjs()">
 <div id="tab-pannel" class="panel panel-default" modal-movable>
  <div class="panel-heading">
   <h4 class="panel-title">Current Project Details</h4>
  </div>
  <div class="panel-body">
  <div class="popUpTableResHeight">
   <table class="table table-striped table-hover table-bordered popUpTableHeight" >
    <thead>
     <tr>
      <th>Project Code</th>
      <th>Project Name</th>
      <th>EPS ID</th>
     </tr>
    </thead>
    <tbody>
     <tr fixed-header="" ng-repeat ="proj in currentProjsDetails" ng-dblclick="projDetailsPopUp(proj)">
      <td>{{proj.projCode}}</td>
      <td>{{proj.projName}}</td>
      <td>{{proj.parentCode}}</td>
     </tr>
    </tbody>
   </table>
  </div>
</div>
  <div class="panel-footer"></div>
  <div class="ngdialog-close"></div>
 </div>
</div>

