<section class="content-header">
    <h1>Cost Schedule Variance - Units</h1>
    <input type="submit" value ="Help !"
		ng-click="helpPage();" class="pull-right btn  btn-primary btn-sm help-each-page">
</section>
<section class="content">
	<div class="panel panel-default block footer-parent">
        <div class="panel-body">
            <div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 padL-0">
						<md-input-container>
                    		<label class="labelName">EPS Name</label>
                      		<input type="text" ng-model="searchProject.parentName" ng-click="getUserProjects()" readonly="readonly" 
                      			data-test="Dashboard_Performance_CostSchedule_Units_EPS">
                      	</md-input-container>
					</div>
					<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
						<md-input-container>
							<label class="labelName">Project Name</label>
							<input type="text" ng-model="searchProject.projName" ng-click="getUserProjects()" readonly="readonly" 
                      			data-test="Dashboard_Performance_CostSchedule_Units_Project">
                      	</md-input-container>
					</div>
					<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
						<div class="pull-right spacer3 marT15">
							<input type="button" ng-click="getCostScheduleUnitsDetails()" class="btn btn-primary btn-sm" value="Apply" 
								data-test="Dashboard_Performance_CostSchedule_Units_Apply"> 
							<!-- <input type="button" class="btn btn-primary btn-sm" ng-click="print()" value="Print" 
								data-test="Dashboard_Performance_CostSchedule_Units_Print"> 
							<input type="button" ng-click="exportData()" class="btn btn-primary btn-sm" value="Export" 
								data-test="Dashboard_Performance_CostSchedule_Units_Export"> -->
                      </div>
                  </div>
              </div>
          </div>
          <div class="singleTableResHeight_2" style="overflow: auto;">
              <div ng-include="'views/dashboards/performance/costschedulevarianceunits.html'"></div>
          </div>
      </div>
</div>
</section>