<section class="content-header">
	<h1>Crew List</h1>	
	<!-- <input type="submit" value ="Help !"
		ng-click="helpPage();" class="pull-right btn  btn-primary btn-sm help-each-page"> -->
	<button class="pull-right btn btn-primary btn-sm help-each-page" 
		onclick="window.open('views/helptutorials/CrewList.html', '_blank', 
		'toolbar=yes,scrollbars=yes,resizable=no,top=50,left=100,width=1400,height=700')">
		Help
	</button>
</section>
<section class="content">
<div id="tab-pannel">
		<div class="panel panel-default block footer-parent">
			<div class="panel-body">
					<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 no-padding">
							<div class="col-lg-3 col-md-3 col-xs-3 col-sm-3 padL-0">
								<md-input-container class="md-block">
										<input type="text" data-test='Projects_ProjectLibrary_CrewList_Eps' ng-model="searchProject.parentName"
							placeholder="Select EPS ID/EPS Name" readonly="readonly"
							ng-click="getUserProjects()">
							</div>
							<div class="col-lg-3 col-md-3 col-xs-3 col-sm-3">
									<md-input-container class="md-block">
											<input type="text" ng-model="searchProject.projName"
											placeholder="Select Project ID/Project Name" readonly="readonly"
											ng-click="getUserProjects()">
									</md-input-container>
								</div>
							<div class="col-lg-3 col-md-3 col-xs-3 col-sm-3">
									<md-input-container >
											<md-select data-test='Projects_ProjectLibrary_CrewList_Status' ng-model="crewReq.status">
												<md-option  value="1" selected="selected" label="Active">Active</md-option>
												<md-option  value="2" label="In Active">In Active</md-option>
											</md-select>
										</md-input-container>		
							</div>
							<div class="col-lg-3 col-md-3 col-xs-3 col-sm-3 padR-0">
								<div class="pull-right marT15">
										<input type="button" data-test='Projects_ProjectLibrary_CrewList_Search' ng-click="getProjCrewLists(searchProject)"
							class="btn  btn-primary btn-sm" value="Search"> <input
							type="reset" class="btn  btn-default btn-sm"
							ng-click="resetProjCrewList()" data-test='Projects_ProjectLibrary_CrewList_Reset' value="Reset">
								</div>
							</div>
						</div>
			<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 no-padding">
					<div class="singleTableResHeight_2">
					<div id="grid" ui-grid="gridOptions" class="singleTableResHeight_3" ng-if="stylesSvc.finishedStyling"
            			 ui-grid-exporter ui-grid-move-columns ui-grid-auto-resize ui-grid-resize-columns class="grid"></div>
					<!-- <table class="table table-striped table-hover table-bordered singleTableHeight_2" >
						<thead id="tab-head">
							<tr>
								<th>Select</th>
								<th><span
									ng-click="sortType = 'code'; sortReverse = !sortReverse">
										Crew ID <span ng-show="sortType == 'code'"
											ng-class="(sortReverse ? 'fa fa-caret-up':'fa fa-caret-down')"></span>
										<span ng-show="sortType != 'code'" class="fa fa-sort"></span>
								</span></th>


								<th><span
									ng-click="sortType = 'desc'; sortReverse = !sortReverse">
										Crew Name <span ng-show="sortType == 'desc'"
											ng-class="(sortReverse ? 'fa fa-caret-up':'fa fa-caret-down')"></span>
										<span ng-show="sortType != 'desc'" class="fa fa-sort"></span>
								</span></th>

								<th><span
									ng-click="sortType = 'projWorkShiftTO.code'; sortReverse = !sortReverse">
										Shift Type <span ng-show="sortType == 'projWorkShiftTO.code'"
											ng-class="(sortReverse ? 'fa fa-caret-up':'fa fa-caret-down')"></span>
										<span ng-show="sortType != 'projWorkShiftTO.code'"
											class="fa fa-sort"></span>
								</span></th>
								<th>Status</th>
							</tr>
						</thead>
						<tbody>
							<tr fixed-header="" ng-repeat ="tab in tableData | orderBy:sortType:sortReverse">
								<td><input type="checkbox" value="id" ng-model="tab.select"
									ng-change="rowSelect(tab)"></td>
								<td>{{tab.code}}</td>
								<td>{{tab.desc}}</td>
								<td>{{tab.projWorkShiftTO.code}}</td>
								<td>{{tab.status | potstatusfilter:tab.status}}</td>
							</tr>
						</tbody>
					</table> -->
					<div class="panel-footer ">
				<div class="pull-right padR-0">
					<input type="submit" data-test='Projects_ProjectLibrary_CrewList_Create' ng-click="addTableData('Add',searchProject)"
						value="Create" class="btn bottomaligned btn-primary btn-sm"
						ng-if="account.appCodeTemplate['PRJ_PRJLIB_CRWLIST_ADD']&& activeFlag==1" />
				</div>
				<div class="pull-left padL-0">
					<!-- <input type="button" class="btn btn-primary btn-sm" value="Group" ng-click="group();">
					<input type="button" class="btn btn-primary btn-sm" value="Sort" ng-click="sort();">
					<input type="button" class="btn btn-primary btn-sm" value="Summarize" ng-click="summarize();">
					<input type="button" class="btn btn-primary btn-sm" value="Print" ng-click="print();">
					<input type="button" class="btn btn-primary btn-sm" value="Export" ng-click="export();"> -->
					<input data-test='Projects_ProjectLibrary_CrewList_Edit' type="submit" ng-click="addTableData('Edit',searchProject)"
						value="Edit" class="btn bottomaligned btn-primary btn-sm"
						ng-if="account.appCodeTemplate['PRJ_PRJLIB_CRWLIST_ADD'] && activeFlag==1" />
					<input data-test='Projects_ProjectLibrary_CrewList_Deactivate' type="button" ng-click="deleteCrewList()" value="Deactivate"
						class="btn bottomaligned btn-default btn-sm"
						ng-if="account.appCodeTemplate['PRJ_PRJLIB_CRWLIST_DELETE'] && activeFlag==1" />
					<input data-test='Projects_ProjectLibrary_CrewList_Activate' type="button" ng-click="activeCrewList()" value="Activate"
						class="btn bottomaligned btn-secondary btn-sm"
						ng-if="account.appCodeTemplate['PRJ_PRJLIB_CRWLIST_ADD'] && activeFlag==2" />
				</div>
			</div>
				</div>
			</div>
		</div>
			
		</div>
</div>
</section>