<!-- <table class="table table-striped table-hover table-bordered tabTable_1_height">
	<thead>
		<tr>
			<th>Project Name</th>
			<th>Planned Hours</th>
			<th>Actual Hours</th>
			<th>Earned Hours</th>
		</tr>
	</thead>
	<tbody>
		<tr fixed-header="" ng-repeat="labour in planActualEarnedDirManHrs">
			<td>{{labour.projName}}</td>
			<td>{{labour.plannedDirectManHours | number:2}}</td>
			<td>{{labour.actualHrsTotal | number:2}}</td>
			<td>{{labour.earnedManHoursTotal | number:2}}</td>
		</tr>
	</tbody>
</table> -->
<div id="grid" ui-grid="gridOptions" class="singleTableResHeight_3" ng-if="stylesSvc.finishedStyling"
ui-grid-exporter ui-grid-move-columns ui-grid-auto-resize ui-grid-grouping class="grid"></div>