<section class="content-header">
	<h1>Employee Transfer Request</h1>
	<!-- <input type="submit" value ="Help !"
		ng-click="helpPage();" class="pull-right btn  btn-primary btn-sm help-each-page"> -->
		<button class="pull-right btn btn-primary btn-sm help-each-page" 
	onclick="window.open('views/helptutorials/EmployeeTransfer.html', '_blank', 
		'toolbar=yes,scrollbars=yes,resizable=no,top=50,left=100,width=1400,height=700')">
		Help
	</button>
</section>

<section ng-if="account.appCodeTemplate['REQUEST_EMPTRNASFER_VIEW']" class="content">
	<div class="panel panel-default block footer-parent">
		<div class="panel-body">
			<div class="col-md-12 col-lg-12 no-padding">
				<div class="col-sm-2 col-xs-2 col-md-2 col-lg-2 padL-0">
					<md-input-container class="md-block"><label>From Date (dd-mm-yyyy)</label>
						<pot-currentdate-display dir-index="$index" ng-model="transferReq.fromDate" date-name="fromDate" 
						data-test="Requests&Approvals_Requests_EmployeeTransfer_Fromdate" />
					</md-input-container>
				</div>
				<div class="col-sm-2 col-xs-2 col-md-2 col-lg-2">
					<md-input-container class="md-block"><label>To Date (dd-mm-yyyy)</label>
						<pot-currentdate-display dir-index="$index" ng-model="transferReq.toDate" date-name="toDate" 
						data-test="Requests&Approvals_Requests_EmployeeTransfer_Todate"/>
					</md-input-container>
				</div>
				<div class="col-md-4 col-lg-4">
					<md-radio-group ng-model="transferReq.userType" layout="row">
						<md-radio-button value="1" class="md-primary" data-test="Requests&Approvals_Requests_EmployeeTransfer_Loginuserrecords">Login User Records</md-radio-button>
						<md-radio-button value="2" class="md-primary" data-test="Requests&Approvals_Requests_EmployeeTransfer_Alluserrecords">All User Records</md-radio-button>
					</md-radio-group>
				</div>
				<div class="col-md-4 col-lg-4 padR-0">
					<div class="pull-right marT15">
						<input type="button" ng-click="getEmpTransfers(false)" class="btn  btn-primary btn-sm" value="Search"
						data-test="Requests&Approvals_Requests_EmployeeTransfer_Search">
						<input type="reset" ng-click="reset()" class="btn btn-default btn-sm" value="Reset"
						data-test="Requests&Approvals_Requests_EmployeeTransfer_Reset">
					</div>
				</div>
			</div>
			<div class="col-md-12 col-lg-12 no-padding">
				<div class="singleTableResHeight_2">
					<!-- <table class="table table-striped table-hover table-bordered singleTableHeight_2">
						<thead id="tab-head">
							<tr>
								<th>Date of Request</th>
								<th>Requester</th>
								<th>Approver</th>
								<th>Origin Project</th>
								<th>Destination Project</th>
								<th>Requisition ID</th>
								<th>Requisition Notification</th>
								<th>Approval Status</th>
								<th class="text-center">More Details</th>
							</tr>
						</thead>
						<tbody>
							<tr fixed-header="" ng-repeat="request in empReqTransTOs">
								<td>{{request.reqDate | date}}</td>
								<td>{{request.reqUserTO.empCode}}</td>
								<td>{{request.apprUserTO.empCode}}</td>
								<td>{{request.fromProjName}}</td>
								<td>{{request.toProjName}}</td>
								<td>{{request.reqCode}}</td>
								<td>{{request.reqNotifyCode}}</td>
								<td>{{request.apprStatus}}</td>
								<td class="text-center"><span class="btn btn-primary btn-sm" ng-click="createOrEditTransRequest('Edit',request);" data-test="Requests&Approvals_Requests_EmployeeTransfer_Viewdetails">View</span></td>
							</tr>
						</tbody>
					</table> -->
					<div class="singleTableResHeight_3 marT15 ui-rid-customization-pot">
						<div id="grid" ui-grid="gridOptions" class="singleTableResHeight_3" ng-if="stylesSvc.finishedStyling"
							ui-grid-exporter ui-grid-move-columns ui-grid-auto-resize ui-grid-resize-columns ui-grid-grouping class="grid"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="panel-footer">
			<div class="pull-right">
				<input type="button" class="btn btn-primary btn-sm" type="button" ng-click="createOrEditTransRequest('Add','')"
				 value="New Request" ng-if="account.appCodeTemplate['REQUEST_EMPTRNASFER_SUBMIT']"
				 data-test="Requests&Approvals_Requests_EmployeeTransfer_Newrequest">
			</div>
			<!-- <div class="pull-left">
				<input type="button" class="btn btn-primary btn-sm" value="Group" ng-click="group();">
				<input type="button" class="btn btn-primary btn-sm" value="Sort" ng-click="sort();">
				<input type="button" class="btn btn-primary btn-sm" value="Summarize" ng-click="summarize();">
				<input type="button" class="btn btn-primary btn-sm" value="Print" ng-click="print();">
				<input type="button" class="btn btn-primary btn-sm" value="Export" ng-click="export();">
			</div> -->
		</div>
	</div>
	<script type="text/ng-template" id="template.html">
		<span class="btn btn-primary btn-sm" ng-click="grid.appScope.createOrEditTransRequest('Edit', row.entity, row.entity.request);" data-test="Requests&Approvals_Requests_EmployeeTransfer_Viewdetails">View</span>
	</script>
</section>