<div id="tab-pannel" class="panel-group">
	<div id="tab-pannel" class="panel panel-default" modal-movable>
		<div class="panel-heading">
			<h4 class="panel-title">Schedule Items List</h4>
		</div>
		<div class="panel-body">
				<div class="popUpTableResHeight">
			<table class="table table-striped table-bordered popUpTableHeight">
				<thead>
					<tr>
						<th>Schedule Item ID</th>
						<th>Schedule Item Desc</th>
						<th>Schedule Item Qty</th>
						<th>Schedule Item Rate</th>
						<th>Available Qty</th>
					</tr>
				</thead>
				<tbody>
					<tr fixed-header="" ng-repeat ="labelKeyTO in labelKeyTOList" 
						ng-class="{'disabledItem' : ((labelKeyTO.displayNamesMap['recievedQty']) 
						&& (0 == (convertToNumber(labelKeyTO.displayNamesMap['qty']) - convertToNumber(labelKeyTO.displayNamesMap['recievedQty']))))}"
						ng-click="selectRecord(labelKeyTO, ((labelKeyTO.displayNamesMap['recievedQty']) 
							&& (0 == (convertToNumber(labelKeyTO.displayNamesMap['qty']) - convertToNumber(labelKeyTO.displayNamesMap['recievedQty'])))))" data-test='MaterialandStoreConsumption_AddSupplierDocket_ScheduleItemSelect'>
						<td>{{labelKeyTO.code}}</td>
						<td>{{labelKeyTO.name}}</td>
						<td>{{labelKeyTO.displayNamesMap['qty']}}</td>
						<td>{{labelKeyTO.displayNamesMap['unitOfRate']}}</td>
 						<td>{{labelKeyTO.displayNamesMap['actualQty'] ? (labelKeyTO.displayNamesMap['qty'] - labelKeyTO.displayNamesMap['actualQty'])  : labelKeyTO.displayNamesMap['qty']}}</td>
 					</tr>
				</tbody>
			</table>
		</div>
	</div>
		<div class="panel-footer"></div>
		<div class="ngdialog-close"></div>
	</div>
</div>
