<div id="tab-pannel" class="panel-group">
	<div class="panel-group ">
		<div class="panel-body">
			<table class="table table-striped table-hover table-bordered" >
				<thead>
					<tr>
						<th>Cost Code ID</th>
						<th>Cost Code Description</th>
						<th>% Split</th>
						<th>Amount</th>
					</tr>
				</thead>
				<tbody>
					<tr fixed-header="" ng-repeat ="cost in assignCostCodesDetails">
						<td>{{costCode}}</td>
						<td>{{name}}</td>
						<td><input type = "text" ng-model="cost.split"></td>
						<td><input type = "text" ng-model="cost.amount"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="panel-footer">
		<div class="pull-left">
			<input type="Submit" ng-click="getCostCodes()" value="Add Cost Code"
				class="btn  btn-secondary btn-sm" />
		</div>
		<div class="pull-right">
			<input type="Submit" ng-click="saveInvoiceAssignCostCodes()" value="Save"
				class="btn  btn-primary btn-sm" />
		</div>
	</div>
</div>
