<div ng-if="account.appCodeTemplate['PRJ_PROJECT_STATUS_DURATION_STATUS_VIEW']" class="panel-body">
	<div class="tabTable_3_Res_height">
		<table class="table table-striped table-bordered table-hover tabTable_3_height">

			<tr>
				<td class="col-sm-2 col-xs-2 col-md-2 col-lg-2 labelName">Original Duration</td>
				<td class="col-sm-2 col-xs-2 col-md-2 col-lg-2"><input type="text" class="form-control"
						data-test='Projects_ProjectStatus_ProjectStatusTab_DurationStatusTab_OriginalDuration'
						ng-model="originalDuration" ng-change="populateDuration(originalDuration)" valid-number /></td>
			</tr>
			<tr>
				<td class="col-sm-2 col-xs-2 col-md-2 col-lg-2 labelName">Forecast Duration</td>
				<td class="col-sm-2 col-xs-2 col-md-2 col-lg-2"><input type="text" class="form-control"
						data-test='Projects_ProjectStatus_ProjectStatusTab_DurationStatusTab_ForecastDuration'
						ng-model="foreCastDuration" valid-number /></td>
			</tr>
			<tr>
				<td class="col-sm-2 col-xs-2 col-md-2 col-lg-2 labelName">Actual Duration</td>
				<td class="col-sm-2 col-xs-2 col-md-2 col-lg-2"><input type="text" class="form-control"
						data-test='Projects_ProjectStatus_ProjectStatusTab_DurationStatusTab_ActualDuration'
						ng-model="actualDuration" disabled /></td>
			</tr>
			<tr>
				<td class="col-sm-2 col-xs-2 col-md-2 col-lg-2 labelName">Remaining Duration</td>
				<td class="col-sm-2 col-xs-2 col-md-2 col-lg-2"><input type="text" class="form-control"
						data-test='Projects_ProjectStatus_ProjectStatusTab_DurationStatusTab_RemainingDuration'
						ng-model="remainingDuration" disabled /></td>
			</tr>
			<tr>
				<td class="col-sm-2 col-xs-2 col-md-2 col-lg-2 labelName">At Completion</td>
				<td class="col-sm-2 col-xs-2 col-md-2 col-lg-2"><input type="text" class="form-control"
						ng-model="completionDuration"
						data-test='Projects_ProjectStatus_ProjectStatusTab_DurationStatusTab_AtCompletion' disabled />
				</td>
			</tr>

		</table>
	</div>
	
</div>
<div class="panel-footer">
	<div class="pull-right right-padding">
		<input type="submit" data-test='Projects_ProjectStatus_ProjectStatusTab_DurationStatusTab_Save'
			ng-click="saveProjDurationStatus(originalDuration,foreCastDuration,actualDuration,remainingDuration,completionDuration)"
			class="btn bottomaligned btn-primary btn-sm" value="Save"
			ng-show="account.appCodeTemplate['PRJ_PROJECT_STATUS_DURATION_STATUS_ADD']">
	</div>
	<div class="pull-left">
		<input type="button" class="btn btn-primary btn-sm" value="Group" ng-click="group();">
		<input type="button" class="btn btn-primary btn-sm" value="Sort" ng-click="sort();">
		<input type="button" class="btn btn-primary btn-sm" value="Summarize" ng-click="summarize();">
		<input type="button" class="btn btn-primary btn-sm" value="Print" ng-click="print();">
		<input type="button" class="btn btn-primary btn-sm" value="Export" ng-click="export();">
	</div>
</div>