<section class="content">
	<div class="panel panel-default block footer-parent" ng-controller="CoMaterialController">
		<div class="panel-body">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding table-responsive">
				<table class="table table-striped table-hover table-bordered tabTable_5_Height">
		            <thead>
		                <tr>
		                    <th>Select</th>
		                    <th class="text-center">Material Classification ID</th>
		                    <th class="text-center">Material Description</th>
		                    <th class="text-center">Unit Of Measure</th>
		                    <th class="text-center">Approved Materials Qty upto previous order</th>
		                    <th class="text-center">Materials Qty-Pending orders for approval</th>
		                    <th class="text-center">Materials Qty under the current order</th>
		                    <th class="text-center">Cumulative Materials Qty</th>
		                    <th class="text-center">Upload Documents</th>
		                    <th class="text-center">Notes</th>
		                </tr>		                
		            </thead>
		            <tbody>
		                <tr ng-repeat="materialrow in coMaterialRows">
		                    <td>
		                    	<!-- <input type="checkbox" ng-change="progressRowSelect(progress)" ng-model="progress.select">  -->
		                    	<select ng-model="materialrow.itemType" ng-options="itemType as itemType.name for itemType in materialItemType" ng-change="coChangeMaterialItemType(materialrow,materialrow.itemType)"></select>
		                    </td>
		                    <td><input type="text" ng-model="materialrow.materialClassificationId" ng-click="coMaterialClassification(materialrow)"/></td>
		                    <td><input type="text" ng-model="materialrow.materialDescription" ng-readonly="true"/></td>
		                    <td>Hours</td>
		                    <td><input type="text" ng-model="materialrow.approvedMaterialQty"/></td>
		                    <td><input type="text" ng-model="materialrow.pendingMaterialQty"/></td>
		                    <td><input type="text" ng-model="materialrow.currentMaterialQty"/></td>	
		                    <td><input type="text" ng-model="materialrow.cumulativeMaterialQty"/></td>
		                    <td><input type="file" ng-model="manpowerUploadFile"/></td>
		                    <td><input type="text" ng-model="materialrow.notes"/></td>	                    
		                </tr>
		            </tbody>
		        </table>	
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
				<input type="button" class="btn btn-primary" value="Add Rows" ng-click="addMaterialRows()"/>
				<input type="button" class="btn btn-primary" value="Save"/>
			</div>				
		</div>
	</div>
</section>