<section class="content">
	<div class="panel panel-default block footer-parent" ng-controller="CoPlantController">
		<div class="panel-body">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding table-responsive">
					<table class="table table-hover table-bordered singleTableHeight_3">
						<thead>
							<tr>
								<th class="text-center">Select</th>
							    <th class="text-center">Exg or New Item List</th>
								<th class="text-center">Plant Classification ID</th>
								<th class="text-center">Plant Descrption</th>
								<th class="text-center">Unit of Measure</th>
								<th class="text-center">Approved Plant Hours up to previous order</th>
								<th class="text-center">Plant hours - Pending orders for Approval</th>
								<th class="text-center">Plant Hours under the current Order</th>
								<th class="text-center">Cumulative Plant Hours</th>
								<th class="text-center">Upload Documents</th>
								<th class="text-center">Notes</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="plantrow in coPlantRows">
								<td class="text-center"><input type="checkbox" ng-change="progressRowSelect(progress)" ng-model="progress.select"></td>
								<td>
			                    	<select name="plantItems" ng-options="plantItem.name for plantItem in plantItemList" ng-model="coPlantItemSelected">
										<option value="">--Select--</option>
									</select>
		                    	</td>		                    	
								<td class="text-center"><input style="width: 7em !important;" type="text" ng-click="coProjPlantClassification(plantrow)" ng-model="plantrow.plantlClassificationId"/></td><!-- Select Item ID from project Plant Budget table and central library plant table -->
		                    	<td class="text-center"><input type="text" ng-model="plantrow.plantDescription" ng-readonly="true"/></td>
								<td class="text-center"><span>Hours</span></td>
							 	<td class="text-center"><input type="text" ng-model="plantrow.approvedPlantHrs" ng-readonly="true"/></td>
							 	<td class="text-center"><input type="text" ng-model="plantrow.pendingPlantHrs" ng-readonly="true"/></td>
							 	<td class="text-center"><input type="text" ng-model="plantrow.currentPlantHrs"/></td>	
							 	<td class="text-center"><input type="text" ng-model="plantrow.cumulativePlantHrs" ng-readonly="true"/></td>
								<td class="text-center"><input style="width: 14em !important;" type="file"/></td>
								<td class="text-center"><input type="text" ng-model="notes"/></td>
							</tr>
						</tbody>
					</table>
				</div>	
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
				<input type="button" class="btn btn-primary" value="Add Rows" ng-click="addCoPlantRows()"/>
				<input type="button" class="btn btn-primary" value="Save" ng-click="saveCoPlantDetails()"/>
			</div>		
		</div>
	</div>
</section>