<div id="tab-pannel" class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">Request For AdditionalTime</h4>
    </div>
    <div class="panel-body">
          <div class="col-xs-12 col-sm-12 col-md-12 no-padding">
          <div class="col-xs-2 col-sm-2 col-md-2">
            <md-input-container>
            <label>Project Name</label>
            <input type="text" ng-model="selectedValue.toProjName"  readonly="readonly">
            </md-input-container>
          </div>
           <div class="col-xs-2 col-sm-2 col-md-2">
              <md-input-container>
            <label>Requisition Id</label>
            <input type="text" ng-model="selectedValue.reqCode"  readonly="readonly">
            </md-input-container>
          </div>
          <div class="col-xs-2 col-sm-2 col-md-2">
              <md-input-container>
            <label>Notification Id</label>
            <input type="text" ng-model="selectedValue.notifyCode" readonly="readonly">
            </md-input-container>
          </div>
           <div class="col-xs-2 col-sm-2 col-md-2">
              <md-input-container>
            <label><span style="color: red; font-size: 6px">*</span>Approver</label>
            <input type="text" ng-model="approverTo.name" data-test='Resources_Materials_ApprovaForMaterialTransfer_Requestforadditionaltime_Approver' ng-click="getModuleUserDetails(approverTo)" required>
            </md-input-container>
          </div>
           <div class="col-xs-2 col-sm-2 col-md-2">
              <md-input-container>
            <label>Comments</label>
            <textarea data-test='Resources_Materials_ApprovaForMaterialTransfer_Requestforadditionaltime_Comment' type="text" ng-model="comments"></textarea>
            </md-input-container>
          </div>
        </div>
    </div>
    <div class="panel-footer">
      <div class="pull-right">
        <input type="button" ng-click="submitNotifications()" class="btn btn-primary btn-sm" data-test='Resources_Materials_ApprovaForMaterialTransfer_Requestforadditionaltime_Submit' value="Submit">
      </div>
    </div>
    <div class="ngdialog-close"></div>
    </div>
  </div>
</div>