<div id="tab-pannel" ng-controller="UserController" ng-model="users">
	<div class="panel-group">
		<div class="panel panel-default" modal-movable>
			<div class="panel-heading">
				<h4 class="panel-title">Comments</h4>
			</div>
			<div id="textarea" class="firstTableResHeight">
				<div class="comment-margin">
					<textarea disabled="disabled" class="form-control input-lg"
						ng-model="remarks">{{remarks}}</textarea>
				</div>
			</div>
		</div>
		<div class="ngdialog-close"></div>
	</div>
</div>


<table class="table table-striped table-bordered table-hover">
 ........
</table>