<div id="tab-pannel" class="panel-group">
	<div id="tab-pannel" class="panel panel-default" modal-movable>
		<div class="panel-heading">
			<h4 class="panel-title">Province List</h4>
		</div>
		<div class="panel-body">
				
			<table class="table table-striped table-bordered">
				<thead>
					<tr>

						<th>Tax Code</th>
						<th>Province</th>
						<th>From Date</th>
						<th>To Date</th>
						<th>Effective Date</th>

					</tr>
				</thead>
				<tbody>
					<tr fixed-header="" ng-repeat ="detail in provinceDetails"
						ng-click="selectCountryDetails(detail);">

						<td>{{detail.code}}</td>
						<td >{{detail.provisionLabelKeyTO.name}}</td>
						<td >{{detail.fromDate}}</td>
						<td>{{detail.toDate}}</td>
						<td>{{detail.effectiveDate}}</td>

					</tr>
					<tr ng-show="provinceDetails.length <=0">
						<td colspan="5" class="text-center" style="color: red;">Tax
							codes not defined for the selected country</td>
					</tr>
				</tbody>
			</table>
			
		</div>
		<div class="panel-footer"></div>
		<div class="ngdialog-close"></div>
	</div>
</div>
