<div id="tab-pannel" class="panel-group">
	<form name="empForm" validate>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title" ng-show="action =='Add'">Add Project</h4>
				<h4 class="panel-title" ng-show="action =='Edit'">Edit Project</h4>
			</div>
			<div class="panel-body">
				<div class="popUpTableResHeight">
					<table class="table table-striped table-hover table-bordered popUpTableHeight" >
						<thead>
							<tr>
								<th rowspan=2 ng-hide="action =='Edit'">Select</th>
								<th colspan=2>Total Employee Wages</th>
								<th rowspan=2>Fixed amount of Tax</th>
								<th rowspan=2>variable Tax Rate in % on annual taxable
									income</th>
								<th rowspan=2>Notes</th>
							</tr>

							<tr>
								<th class="text-center">Min</th>
								<th class="text-center">Max</th>
							</tr>
						</thead>
						<tbody>
							<tr fixed-header="" ng-repeat ="emp in empList">
								<td ng-hide="action =='Edit'"><input type="checkbox"
									ng-model="emp.selected" ng-change="empPopUpRowSelect(emp)"></td>

								<td ng-form name="empForm1"><input type="text"
									ng-model="emp.annualMinTax" name="annualMinTax"
									placeholder="annualMinTax" pattern="^[0-9<>]+$"
									ng-required="true" minlength="1" maxlength="50" /> <span
									ng-show="empForm1.annualMinTax.$dirty && empForm1.annualMinTax.required">annualMinTax
										is mandatory</span> <span
									ng-show="empForm1.annualMinTax.$error.pattern">Enter
										correct annualMinTax</span> <span
									ng-show="empForm1.annualMinTax.$error.minlength">To
										Short!</span></td>

								<td ng-form name="empForm2"><input type="text"
									ng-model="emp.annualMaxTax" name="annualMaxTax"
									placeholder="annualMaxTax" pattern="^[0-9<>]+$"
									ng-required="true" minlength="1" maxlength="50" /> <span
									ng-show="empForm2.annualMaxTax.$dirty && empForm2.annualMaxTax.required">annualMaxTax
										is mandatory</span> <span
									ng-show="empForm2.annualMaxTax.$error.pattern">Enter
										correct annualMaxTax</span> <span
									ng-show="empForm2.annualMaxTax.$error.minlength">Short!</span></td>

								<td ng-form name="empForm3"><input type="text"
									ng-model="emp.fixedTax" name="fixedTax" placeholder="fixedTax"
									pattern="^[0-9<>]+$" ng-required="true" minlength="1"
									maxlength="50" /> <span
									ng-show="empForm3.fixedTax.$dirty && empForm3.fixedTax.required">fixedTax
										is mandatory</span> <span ng-show="empForm3.fixedTax.$error.pattern">Enter
										correct fixedTax</span> <span
									ng-show="empForm3.fixedTax.$error.minlength">To Short!</span></td>

								<td ng-form name="empForm4"><input type="text"
									ng-model="emp.variableTax" name="variableTax"
									placeholder="variableTax" pattern="^[0-9<>%.]+$"
									ng-required="true" minlength="1" maxlength="50" /> <span
									ng-show="empForm4.variableTax.$dirty && empForm4.variableTax.required">variableTax
										is mandatory</span> <span
									ng-show="empForm4.variableTax.$error.pattern">Enter
										correct variableTax</span> <span
									ng-show="empForm4.variableTax.$error.minlength">To
										Short!</span></td>

								<td><input type="text" ng-model="emp.comments"
									name="comments" placeholder="comments">
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="panel-footer">
				<div class="pull-left">
					<input type="submit" class="btn btn-secondary btn-sm"
						ng-click="addempTaxRows()" value="Add" ng-show="action =='Add'" />
					<input type="button" class="btn btn-secondary btn-sm"
						ng-click="deleteProjRows()" value="Delete"
						ng-show="action =='Add'" />
				</div>
				<div class="pull-right">
					<input type="submit" class="btn btn-primary btn-sm" value="Save"
						ng-click="empForm.$valid && saveemppayroll()" />
				</div>
			</div>
			<div class="ngdialog-close"></div>
		</div>
	</form>
</div>





