<div id="tab-pannel" class="panel-group">
	<form name="taxonForm" validate>
		<div id="tab-pannel" class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title" ng-show="action =='Add'">Add Project</h4>
				<h4 class="panel-title" ng-show="action =='Edit'">Edit Project</h4>
			</div>
			
			<div class="panel-body">
				<div class="popUpTableResHeight">
					<table class="table table-hover table-bordered popUpTableHeight">
						<thead>
							<tr>
						    <th ng-hide="action =='Edit'">Select</th>
							<th>Annual Taxable Income Limit</th>
        		            <th>Super Fund Contribution(Before Tax)</th>
        		            <th>Tax Rate in % over Super fund amount</th>
        		            <th>Notes</th>
        		         </tr>
							
						</thead>
						<tbody>
							<tr fixed-header="" ng-repeat ="taxon in taxonList">
								<td ng-hide="action =='Edit'"><input type="checkbox"
									ng-model="taxon.selected"
									ng-change="taxonPopUpRowSelect(taxon)"></td>

						      
									  <td ng-form name="taxonForm1"><input type="text" class="form-control" 
									ng-model="taxon.limitIncome" name="limitIncome"
								    placeholder="limitIncome" pattern="^[0-9<>]+$"
									ng-required="true" minlength="1" maxlength="50" /> <span
									ng-show="taxonForm1.limitIncome.$dirty && taxonForm1.limitIncome.required">limitIncome is mandatory</span> 
									<span ng-show="taxonForm1.limitIncome.$error.pattern">Enter
										correct limitIncome</span> <span
									ng-show="taxonForm1.limitIncome.$error.minlength">To Short!</span></td>
									
									 <td ng-form name="taxonForm2"><input type="text" class="form-control" 
									ng-model="taxon.fundAmount" name="fundAmount"
									 placeholder="fundAmount" pattern="^[0-9<>]+$"
									ng-required="true" minlength="1" maxlength="50" /> <span
									ng-show="taxonForm2.fundAmount.$dirty && taxonForm2.fundAmount.required">fundAmount is mandatory</span> 
									<span ng-show="taxonForm2.fundAmount.$error.pattern">Enter
										correct fundAmount</span> <span
									ng-show="taxonForm2.fundAmount.$error.minlength">To Short!</span></td>
									
									 <td ng-form name="taxonForm3"><input type="text" class="form-control"
									ng-model="taxon.taxRate" name="taxRate"
									 placeholder="taxRate" pattern="^[0-9<>%]+$"
									ng-required="true" minlength="1" maxlength="50" /> <span
									ng-show="taxonForm3.taxRate.$dirty && taxonForm3.taxRate.required">taxRate is mandatory</span> 
									<span ng-show="taxonForm3.taxRate.$error.pattern">Enter
										correct taxRate</span> <span
									ng-show="taxonForm3.taxRate.$error.minlength">To Short!</span></td>
									
									 <td ng-form name="taxonForm4"><input type="text" class="form-control" 
									ng-model="taxon.comments" name="comments"
								    placeholder="comments" pattern="^[a-zA-Z0-9-_%,$]+$"
									ng-required="true" minlength="1" maxlength="50" /> <span
									ng-show="taxonForm4.comments.$dirty && taxonForm4.comments.required">comments is mandatory</span> 
									<span ng-show="taxonForm4.comments.$error.pattern">Enter
									correct comments</span> <span
									ng-show="taxonForm4.comments.$error.minlength">To Short!</span></td>					
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="panel-footer">
				<div class="pull-left">
					<input type="submit" class="btn  btn-brown btn-sm"
						ng-click="addtaxonRows()" value="Add"
						ng-show="action =='Add'" /> <input type="button"
						class="btn  btn-brown btn-sm"
						ng-click="deleteRows()" value="Delete"
						ng-show="action =='Add'" />
				</div>
				<div class="pull-right">
					<input type="submit" class="btn  btn-brown btn-sm"
						value="Save" ng-click="taxonForm.$valid && save()" />
				</div>
			</div>
			<div class="ngdialog-close"></div>
		</div>
	</form>
</div>
 
 
 
 
 
 