<div id="tab-pannel" class="panel-group">
	<div class="panel panel-default" modal-movable>
		<div class="panel-heading">
			<h4 class="panel-title">Plant Service Classifications</h4>
		</div>
		<div class="panel-body">
		<div class="popUpTableResHeight">
			<table id="tree" class="table table-striped table-bordered popUpTableHeight">
				<thead>
					<tr>
						<th>Category ID</th>
						<th>Category Name</th>
					</tr>
				</thead>
				<tbody>
					<tr
						fixed-header="" ng-repeat ="tab in plantServiceCategoryDetails | plantRegServiceClassFilterTree:itemId:isExpand"
						class="abc{{tab.level}}"
						ng-dblclick="plantServiceCategoryPopUp(tab)">
						<td style="width: 200px !important"><span ng-repeat="level in [].constructor(tab.level) track by $index" class="xyz" style="padding-left: 30px;"></span> <span
								ng-show="((!tab.leaf && tab.expand) || (!tab.leaf  && tab.plantServiceClassificationMstrTOs.length <= 0))"
								ng-click="itemClick(tab.id,tab.expand);" class="fa fa-minus"></span>
							<span
								ng-show="((!tab.leaf && !tab.expand) && (tab.plantServiceClassificationMstrTOs.length > 0))"
								ng-click="itemClick(tab.id,tab.expand);" class="fa fa-plus"></span>
							<span style="padding-left: 10px;">{{tab.code}} <span
								style="padding-left: 5px;"></span></span> <!-- <span ng-click="addPlantServiceHistoryRecord('Edit',tab)" name="pencil"> </span> -->
						</td>
						<td>{{tab.name}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	</div>
</div>