<div ng-if="account.appCodeTemplate['RESOURCE_PLANTRECDOFREPAIR_VIEW']" id="tab-pannel"
	ng-controller="PlantServiceHistoryRepairController">
	<div class="panel-body">
			<div class="nestedTabTable_2_Res_Height" ng-if="plantServiceRepairTable">
			<div id="grid" ui-grid="gridOptions" ng-if="stylesSvc.finishedStyling" 
            ui-grid-exporter ui-grid-move-columns ui-grid-auto-resize ui-grid-resize-columns class="grid emp-subtabs"></div>
					<!-- <table class="table table-striped table-bordered nestedTabTable_2_Height">
			<thead>
				<tr>
					<th class="text-center">Date</th>
					<th class="text-center">Odo Meter Reading</th>
					<th class="text-center">Repair Category</th>
					<th class="text-center">Item of Repair</th>
					<th class="text-center">Major Spare Part Items Replaced</th>
					<th class="text-center">Unit of Measure</th>
					<th class="text-center">Quantity</th>
					<th class="text-center">Project Docket</th>
					<th class="text-center">Notes</th>
			</thead>
			<tbody>

				<tr fixed-header="" ng-repeat ="plantRepairsTO in plantRepairsTOs">
					<td>{{plantRepairsTO.date}}</td>
					<td class="text-right">{{plantRepairsTO.odoMeter}}</td>
					<td>{{plantRepairsTO.serviceParentName}}</td>
					<td>{{plantRepairsTO.serviceName}}</td>
					<td>{{plantRepairsTO.materialName}}</td>
					<td>{{plantRepairsTO.materialUnit}}</td>
					<td class="text-right">{{plantRepairsTO.quantity}}</td>
					<td>{{plantRepairsTO.projDocket}}</td>
					<td class="text-left"><span name="comment" flip="horizontal"
							ng-click="showServiceHistoryRepair(plantRepairsTO.comments)"></span></td>
				</tr>
			</tbody>
		</table> -->
		<div class="panel-footer">
		<div class="pull-right">
			<input data-test='PlantandEquipment_ServiceHistoryRepairs_RecordsofRepair_create' type="button" class="btn btn-primary btn-sm"
			ng-if="account.appCodeTemplate['RESOURCE_PLANTRECDOFREPAIR_ADD']" ng-click="addServiceHistoryRepair('Add')" value="Create">
		</div>
	</div>
	</div>
	</div>
</div>






