<div id="tab-pannel">
		<div class="panel panel-default" modal-movable>
			<div class="panel-heading">
				<h4 class="panel-title">Enterprise Projects</h4>
			</div>
			<div class="panel-body">
			<div class="popUpTableResHeight">
				<table id="tree" class="table table-striped table-hover table-bordered popUpTableHeight" >
					<thead>
						<tr>
							<th>Project ID</th>
							<th>Project Name</th>
              <!--<th>Enable ContractType</th>-->
						</tr>
					</thead>
					<tbody>
						<tr data-test='Documents_ProjectFolders_Projectselect' fixed-header="" ng-repeat="tab in epsData" ng-click="tab.proj  && selectEPSProject(tab)"
						 class="abc{{tab.level}}" ng-show="!tab.collapse">
							<td>
								<span ng-repeat="level in [].constructor(tab.level) track by $index" class="xyz" style="padding-left: 30px;"></span>
								<span ng-show="tab.expand || (!tab.proj  && tab.childProjs.length <= 0)" ng-click="itemClick(tab,true);" class="fa fa-minus" title="Collapse EPS"></span>
								<span ng-show="!tab.expand && tab.childProjs.length > 0" ng-click="itemClick(tab,false);" class="fa fa-plus" title="Expand EPS"></span>
								<i class="fa fa-leaf" ng-if="tab.proj"> </i> {{tab.projCode}}
								<span style="padding-left: 10px;">
									<span style="padding-left: 5px;"></span>
								</span>
							</td>
							<td>{{tab.projName}}</td>
              <!--<td >{{tab.enableContractType}}</td>-->
						</tr>
					</tbody>
				</table>
			</div>
			</div>
			<div class="panel-footer"></div>
		</div>
		<div class="ngdialog-close"></div>
</div>
