<div id="tab-pannel" class="panel-group"
	ng-init="getPlantCategoryDetails()">
	<div id="tab-pannel" class="panel panel-default" modal-movable>
		<div class="panel-heading">
			<h4 class="panel-title">Plant Category List</h4>
		</div>
		<div class="panel-body">
		<div class="popUpTableResHeight">
			<table class="table table-striped table-bordered popUpTableHeight">
				<thead>
					<tr>
						<th>Category ID</th>
						<th>Category Name</th>
					</tr>
				</thead>
				<tbody>
					<tr fixed-header="" ng-repeat ="detail in plantCategoryDetails"
						ng-click="plantCategoryPopUp(detail)">
						<td>{{detail.code}}</td>
						<td>{{detail.desc}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
		<div class="panel-footer"></div>
	</div>
	<div class="ngdialog-close"></div>
</div>
