<div ng-repeat="acutlaCostByCountryTab in acutlaCostByCountryTabs">
    <div class="dbmodulecard">
        <p class="ngdialog-close dbdclose" style="font-size: 26px; margin-right: 10px;"
            ng-click="acutlaCostByCountryTabs.splice($index,1)"></p>
        <canvas class="chart chart-base" chart-data="acutlaCostByCountryTab.data"
            chart-labels="acutlaCostByCountryTab.labels" height="50" chart-type="chart_type"
            chart-options="options" chart-colors="colors" chart-series="series" chart-legend="true"
            context-menu="menuOptions"></canvas>
    </div>
</div>