<div ng-if="account.appCodeTemplate['RESOURCE_QUALIFICATIONRECORDS_VIEW']" id="tab-pannel"
    ng-controller="EmpQualificationRecordsController">
    <div class="tabTable_1_Res_height_topB">
    <div id="grid" ui-grid="gridOptions" ng-if="stylesSvc.finishedStyling" 
            ui-grid-exporter ui-grid-move-columns ui-grid-auto-resize ui-grid-resize-columns class="grid"></div>
        <!-- <table class="table table-striped table-hover table-bordered tabTable_1_height_topB">
            <thead id="tab-head">
                <tr>
                	<th>&nbsp;</th>
                    <th>Record ID</th>
                    <th>Qualification / Licence / Certificate / Training</th>
                    <th>Name of The University / Institution</th>
                    <th>University / Institution address</th>
                    <th>University / Institution Contact details</th>
                    <th>Certificate / Licence Number</th>
                    <th>Date of issue / award</th>
                    <th>Required Renewal</th>
                    <th>Expiry Date</th>
                    <th>New Training Due Date for start</th>
                    <th>Download / View Certificate</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr fixed-header="" ng-repeat="qualrecord in projEmpQualRecord">
                	<td><input type="checkbox" value="id" ng-model="qualrecord.selected" ng-change="empQualRowSelect(qualrecord)"></td>
                    <td>{{ qualrecord.code }}</td>
                    <td>{{ qualrecord.recordType }}</td>
                    <td>{{ qualrecord.instituteName}}</td>
                    <td>{{qualrecord.instituteAddress}}</td>
                    <td>{{qualrecord.instituteContactDetails}}</td>
                    <td>{{qualrecord.certificateNumber}}</td>
                    <td>{{qualrecord.dateOfIssue}}</td>
                    <td>{{qualrecord.isRenewalRequired=="Y"?"Yes":"No"}}</td>
                    <td>{{qualrecord.expiryDate}}</td>
                    <td>{{qualrecord.newTrainingDueDate}}</td>
                    <td>{{ }}</td>
                    <td><span class="fa fa-download" ng-if="qualrecord.fileName" ng-click="downloadQualDoc(qualrecord.id,qualrecord.fileName)" title="Click To Download {{qualrecord.fileName}}"></span></td>
                </tr>
            </tbody>
        </table> -->
    </div>
    <div class="panel-footer padL-0">
        <div class="pull-left">
            <!-- <input type="button" class="btn btn-primary btn-sm" value="Group" ng-click="group();">
            <input type="button" class="btn btn-primary btn-sm" value="Sort" ng-click="sort();">
            <input type="button" class="btn btn-primary btn-sm" value="Summarize" ng-click="summarize();">
            <input type="button" class="btn btn-primary btn-sm" value="Print" ng-click="print();">
            <input type="button" class="btn btn-primary btn-sm" value="Export" ng-click="export();"> -->
            <input ng-if="account.appCodeTemplate['RESOURCE_EMPENROLLMENTPROMOTION_ADD']" type="button"
                class="btn btn-primary btn-sm" ng-click="addEmpQualifyRecord('Edit')" value="Edit">
        </div>
        <div class="pull-right">
            <input ng-if="account.appCodeTemplate['RESOURCE_EMPENROLLMENTPROMOTION_ADD']" type="button"
                class="btn btn-primary btn-sm" ng-click="addEmpQualifyRecord('Add')" value="Add">
        </div>
    </div>
</div>