<div id="tab-pannel">
	<div class="panel-group panel panel-default" modal-movable>
		<div class="panel-heading">
			<h4 class="panel-title">Copy Time Sheet</h4>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
						<span class="labelName">Crew</span>
					</div>
					<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
						<span class="labelName">Week Commencing Day</span>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
						<input type="text" class="form-control"
							ng-click="getCrewList(projectLabelKeyTO.projId,crewLabelKeyTO)"
							ng-model="crewLabelKeyTO.code " placeholder="Select Crew" data-test='AsbuiltRecords_TimeSheets_CreateTimeSheets_Create_CopyTemplate_Crew'>
					</div>
					<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
						<day-picker commence-start-day="weekCommenceDay" class="form-control"
							week-commence-Day="projWeekStartNo" placeholder="dd-mm-yyyy"
							ng-model="weekCommenceDay | date:'dd-MMM-yyyy'" data-test='AsbuiltRecords_TimeSheets_CreateTimeSheets_Create_CopyTemplate_WeekCommencingDay'>
					</div>
					<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
						<div class="pull-right right-padding" style="padding-bottom: 10px;">
								<input type="button" ng-click="getEmpDetails()"
									class="btn  btn-brown btn-sm" value="Search" data-test='AsbuiltRecords_TimeSheets_CreateTimeSheets_Create_CopyTemplate_Search'>
						</div>
					</div>
				</div>
			</div>
			<div class="row spacer0 b-sh panel-body-res">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="popUpTableResHeight">
						<table class="table table-striped table-hover table-bordered" > 
							<thead id="tab-head">
								<tr>
									<th><input type="checkbox" ng-model="selectAll"
										ng-change="selectAllEmps()">
									<th>Employee ID</th>
									<th>First Name</th>
									<th>Last Name</th>
									<th>Designation</th>
									<th>Parent Company</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="emptimesheet in timeSheetDetails">
									<td style="width: 30px !important;"><input type="checkbox"
										ng-model="emptimesheet.select" ng-change="selectEmp(emptimesheet)"></td>
									<td>{{emptimesheet.empDetailLabelKeyTO.code}}</td>
									<td>{{emptimesheet.empDetailLabelKeyTO.displayNamesMap['firstName']}}</td>
									<td>{{emptimesheet.empDetailLabelKeyTO.displayNamesMap['lastName']}}</td>
									<td>{{emptimesheet.empDetailLabelKeyTO.displayNamesMap['className']}}</td>
									<td>{{emptimesheet.empDetailLabelKeyTO.displayNamesMap['cmpCatgName']}}</td>
								</tr>
							</tbody>
							<!-- <tbody>
								<tr ng-repeat ="emp in empRegLabelKeyTOs">
									<td style="width: 30px !important;"><input type="checkbox"
										ng-model="emp.select" ng-change="selectEmp(emp)"></td>
									<td>{{emp.code}}</td>
									<td>{{emp.displayNamesMap['firstName']}}</td>
									<td>{{emp.displayNamesMap['lastName']}}</td>
									<td>{{emp.displayNamesMap['classType']}}</td>
									<td>{{emp.displayNamesMap['cmpCatgName']}}</td>
								</tr>
							</tbody> -->
						</table>
						<div ng-show="searchFlag">
							<h5 align="center" style="color: red">No Employee Records for
								selected search criteria</h5>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="panel-footer">
			<div class="pull-right">
				<input type="button" class="btn btn-brown btn-sm"
					ng-click="addEmpRegToTimeSheet()" value="Save" data-test='AsbuiltRecords_TimeSheets_CreateTimeSheets_Create_CopyTemplate_Save'>
			</div>
		</div>
		<div class="ngdialog-close"></div>
	</div>
</div>