<div id="tab-pannel" class="panel-group">
	<div class="panel panel-default" modal-movable>
		<div class="panel-heading">
			<h4 class="panel-title">Project Cost Code</h4>
		</div>
		<div class="panel-body">
			<div class="popUpTableResHeight">
				<table id="tree" class="table table-striped table-hover table-bordered popUpTableHeight">
					<thead>
						<tr>
							<th>Cost Id</th>
							<th>Cost Name</th>
							<th>Cost Class Id</th>
							<th>Cost Class Name</th>
							<th>Start Date</th>
							<th>Finish Date</th>
						</tr>
					</thead>
					<tbody>
						<tr fixed-header="" ng-repeat="tab in tabData"
							data-test="{{tab.level ? 'AsbuiltRecords_TimeSheets_CreateTimeSheets_Create_CostCodeSelect':'AsbuiltRecords_TimeSheets_CreateTimeSheets_Create_CostCodeView' }}"
							class="abc{{tab.level}}" ng-dblclick="selectedCostCode(tab)" ng-hide="tab.collapse">
							<td><span ng-repeat="level in [].constructor(tab.level) track by $index" class="xyz"
									style="padding-left: 30px;"></span>
								<span
									ng-show="((!tab.item && tab.expand) || (!tab.item  && tab.projCostCodeItemTOs.length <= 0))"
									ng-click="itemClick(tab,true);" class="fa fa-minus"></span>
								<span ng-show="(!tab.item && !tab.expand && tab.projCostCodeItemTOs.length > 0)"
									ng-click="itemClick(tab,false);" class="fa fa-plus"></span>
								<span ng-show="(tab.item)" class="fa fa-leaf"> </span> <span
									style="padding-left: 10px;">{{tab.code}} <span
										style="padding-left: 5px;"></span></span> </span></td>
							<td>{{tab.name}}</td>
							<td>{{tab.costCodeTO.code}}</td>
							<td>{{tab.costCodeTO.name}}</td>
							<td>{{tab.startDate | date}}</td>
							<td>{{tab.finishDate | date }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="panel-footer"></div>
		<div class="ngdialog-close"></div>
	</div>
</div>