<div id="tab-pannel" class="panel-group">
	<form name="empRegForm" validate class="resources-empinputs">
		<div class="panel panel-default" modal-movable>
			<div class="panel-heading">
				<h4 class="panel-title" ng-show="action=='Add'">Add Employee
					Details</h4>
				<h4 class="panel-title" ng-show="action=='Edit'">Edit Employee
					Details</h4>
			</div>
			<div class="panel-body">
				<div class="popUpTableResHeight" style="overflow: auto;">
					<table class="table table-striped  table-bordered popUpTableHeight">
						<thead id="tab-head">
							<tr>
								<th ng-show="action=='Add'">Select</th>
								<th>Employee ID <span style="color: red; ">*</span></th>
								<th>First Name<span style="color: red; ">*</span></th>
								<th>Last Name<span style="color: red; ">*</span></th>
								<th>Company ID<span style="color: red; ">*</span></th>
								<th>Company Name<span style="color: red; ">*</span></th>
								<th>Gender<span style="color: red; ">*</span></th>
								<th>Date of Birth<span style="color: red; ">*</span></th>
								<th>Designation<span style="color: red; ">*</span></th>
								<th>Local/Non-Local<span style="color: red; ">*</span></th>
								<th>Employment Type<span style="color: red; ">*</span></th>
								<th>Existing or New<span style="color: red; ">*</span></th>
							</tr>
						</thead>
						<tbody id="vert-align">
							<tr ng-repeat="employee in addEmpDetails">
								<td ng-show="action=='Add'"><input data-test='Resources_Employee_Create_Add_CheckBox'
										type="checkbox" value="employee.id" ng-model="employee.selected"
										ng-change="empDetailsPopUpRowSelect(employee)"></td>

								<td class="input-width">
									<ng-form name="idForm">
										<input data-test='Resources_Employee_Create-EmployeeId' type="text" name="empId" 
											class="form-control" ng-model="employee.empCode" placeholder="Emp Id" maxlength="15" ng-disabled="action=='Edit'"
											ng-required="true" ng-class="{coloumnHighlightColor:employee.duplicateFlag}"
											ng-blur="duplicateCode(employee)" pattern="[a-zA-Z-\d\s]+">
										<span class="procurment-pot-errors"
											ng-show="idForm.empId.$error.required && idForm.empId.$touched">
											This field is mandatory
										</span>
										<span ng-show="idForm.empId.$error.pattern" class="procurment-pot-errors">only
											alpha
											numerics allowed</span>
										<span ng-show="isValid" class="procurment-pot-errors">{{errorMessage}}</span>
									</ng-form>
								</td>

								<td class="input-width">
									<ng-form name="nameForm">
										<input data-test='Resources_Employee_Create_FirstName' type="text"
											name="firstName" ng-model="employee.firstName" class="form-control" maxlength="50"
											placeholder="First Name" ng-required="true" pattern="[a-zA-Z-\d\s]+">
										<span class="procurment-pot-errors"
											ng-show="(nameForm.firstName.$touched && nameForm.firstName.$error.required)">
											This field is mandatory
										</span>
										<span class="procurment-pot-errors" ng-show="nameForm.firstName.$error.pattern">
											At Least One Alphabet Is Mandatory
										</span>
									</ng-form>
								</td>

								<td class="input-width">
									<ng-form name="lastNameForm">
										<input data-test='Resources_Employee_Create_LastName' type="text"
											class="form-control" name="lastName" ng-model="employee.lastName"  maxlength="50"
											placeholder="Last Name" ng-required="true" pattern="[a-zA-Z-\d\s]+">
										<span class="procurment-pot-errors"
											ng-show="(lastNameForm.lastName.$touched && lastNameForm.lastName.$error.required)">
											This field is mandatory
										</span>

										<span class="procurment-pot-errors"
											ng-show="lastNameForm.lastName.$error.pattern">only alpha numerics
											allowed</span>
									</ng-form>
								</td>

								<td class="input-width">
									<ng-form name="cmpForm">
										<input data-test='Resources_Employee_Create_CompanyId' type="text"
											class="form-control" placeholder="Company Id"
											ng-click="companyList(employee)" name="cmpId" ng-model="employee.cmpCode"
											ng-required="true" custom-read-only>
										<span class="procurment-pot-errors"
											ng-show="(cmpForm.cmpId.$touched && cmpForm.cmpId.$error.required)">
											This field is mandatory
										</span>
									</ng-form>
								</td>

								<td class="input-width1"><input data-test='Resources_Employee_Create_CompanyName'
										type="text" class="form-control" placeholder="Company Name"
										ng-click="companyList(employee)" name="cmpId" ng-model="employee.cmpName"
										ng-required="true" style="width: 109px !important;" custom-read-only></td>

								<td><select data-test='Resources_Employee_Create_Gender' ng-model="employee.gender"
										class="form-control" ng-required="true"
										ng-options="gender for gender in genderList">
										<option value="">Select </option>
									</select></td>

								<td class="input-width1">
									<potdate-picker data-test='Resources_Employee_Create_DateOfBirth' dir-index="2"
										date-name="dateOfBirthDate" ng-model="employee.dob" placeholder="dd-mm-yyyy"
										max-date="todayDate" title="dd-mm-yyyy" class="form-control" custom-read-only ng-required="true">
									</potdate-picker>
								</td>

								<td class="input-width3"><input type="text"
										data-test='Resources_Employee_Create_Designation' class="form-control"
										ng-model="employee.empClassName" placeholder="Designation Name"
										name="designationNames" ng-click="empDesignation(employee)" ng-required="true"
										custom-read-only></td>

								<td><select ng-model="employee.location"
										data-test='Resources_Employee_Create_LocalOrNonlocal' class="form-control"
										ng-required="true" ng-options="locality for locality in empLocalityList">
										<option value="">Select </option>
									</select></td>

								<td><select data-test='Resources_Employee_Create_Employment'
										ng-options="category.name for category in emppocureMentCatgMap track by category.id"
										name="empType" ng-model="employee.procureLabelKeyTO" ng-required="true"
										class="form-control">
										<option value="">Select </option>
									</select>
								</td>

								<td><select data-test='Resources_Employee_Create_ExistingOrNew'
										ng-model="employee.empStatus" class="form-control" ng-required="true"
										ng-options="empType for empType in employeeTypeList">
										<option value="">Select</option>
									</select></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="panel-footer">
				<div class="pull-right padR-0">
					<input data-test='Resources_Employee_Save' type="submit" class="btn btn-primary btn-sm" ng-disabled="isValid"
						ng-click="empRegForm.$valid && saveEmpRegisters()" value="Save">
				</div>
				<div class="pull-left padL-0">
					<input data-test='Resources_Employee_Create_Add' type="submit" class="btn btn-primary btn-sm"
						ng-click="empRegForm.$valid && addRows()" value="Add Rows" ng-show="action =='Add'" validate> <input
						data-test='Resources_Employee_Create_Delete' type="button" class="btn btn-secondary btn-sm"
						ng-click="deleteRows()" value="Delete Rows" ng-show="action =='Add'">
				</div>
			</div>
		</div>
		<div class="ngdialog-close"></div>
	</form>
</div>
