<div id="tab-pannel">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<span ng-show="header=='Warning'" class="fa fa-exclamation-circle text-warning"></span>
				<span ng-show="header=='Info'" class="fa fa-check-circle-o text-success"></span>
				<span ng-show="header=='Error'" class="fa fa-times-circle-o text-error"></span>
				{{header}}
			</h4>
		</div>
		<div class="panel-body">
		<div id="tab-pannel" class="spacer2 text-center panel-body0">
			<span ng-show="header=='Warning'" ng-bind-html="message"
				class="text-warning"></span> <span ng-show="header=='Info'"
				ng-bind-html="message" class="text-success "></span> <span
				ng-show="header=='Error'" ng-bind-html="message"
				class="text-danger "></span>
		</div>
	</div>
		<div class="panel-footer">
		<div class="text-center">
			<input data-test='Confirm_OK' type="button" value="{{button1}}"
				class="btn btn-primary btn-sm"
				ng-click="continueAction()"> <input data-test='Confirm_NO' type="button"
				value="{{button2}}" class="btn btn-default btn-sm"
				ng-click="confirm()">
		</div>
		</div>
	</div>
	<div class="ngdialog-close"></div>
</div>
