<div id="tab-pannel">
	<div class="panel-group">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">Invoice to Project Owner</h4>
			</div>
			<div class="panel-body">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
					<div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
						<md-input-container>
							<label>EPS ID/Name</label>
							<input type="text" ng-model="searchProject.parentName" ng-click="getUserProjects()"
								readonly>
						</md-input-container>
					</div>
					<div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
						<md-input-container>
							<label>Project ID/Name</label>
							<input type="text" ng-model="searchProject.projName" ng-click="getUserProjects()" readonly>
						</md-input-container>
					</div>
					<div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
						<md-input-container>
							<label>Project Owner</label>
							<input type="text" ng-model="generalValues.userLabelKeyTO.name" ng-click="getProjectOwner()"
								readonly>
						</md-input-container>
					</div>
					<div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
						<md-input-container>
							<label>Originator</label>
							<input type="text" ng-click="getProjectEmployeeDetails()" readonly>
						</md-input-container>
					</div>
					<div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
						<md-input-container>
							<label>Contract</label>
							<input type="text" autocomplete="off">
						</md-input-container>
					</div>
					<div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
						<md-input-container>
							<label>Date Of Claim</label>
							<potdate-picker dir-index="$index" date-name="dateOfClaim" ng-model="date|date"
								custom-read-only />
						</md-input-container>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
					<div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
						<md-input-container>
							<label>Profit Center</label>
							<input type="text" autocomplete="off">
						</md-input-container>
					</div>
					<div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
						<md-input-container>
							<label>Period From</label>
							<potdate-picker dir-index="$index" date-name="fromDate" ng-model="fromDate" custom-read-only
								ng-required="true" />
						</md-input-container>

					</div>
					<div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
						<md-input-container>
							<label>Period To</label>
							<potdate-picker dir-index="$index" date-name="toDate" ng-model="toDate" custom-read-only
								ng-required="true" />
						</md-input-container>
					</div>
					<div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
						<md-input-container>
							<label>Internal Approval Required</label>
							<input type="text" autocomplete="off">
						</md-input-container>
						<!-- <select style="min-width: 170px;"><option value="Yes">Select</option></select> -->
					</div>
					<div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
						<md-input-container>
							<label>Internal Approval</label>
							<input type="text" autocomplete="off">
						</md-input-container>
					</div>
					<div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
						<md-input-container>
							<label>Invoice Number</label>
							<input type="text" autocomplete="off" />
						</md-input-container>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
					<div class="popUpTableResHeight">
						<table class="table table-striped table-hover table-bordered popUpTableHeight">
							<thead>
								<tr>
									<th>Select</th>
									<th>Description</th>
									<th>Currency</th>
									<th>Amount</th>
									<th>Comments</th>
								</tr>
							</thead>
							<tbody>
								<tr fixed-header="" ng-repeat="progress in progressClaim ">

									<td><input type="checkbox" ng-model="progress.selected"
											ng-change="progressRowSelect(progress)"></td>

									<td>{{progress.desc}}</td>
									<td>{{progress.currency}}</td>
									<td>{{progress.amount}}</td>
									<td>{{progress.comments}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="panel-footer">
				<div class="pull-right">
					<input type="submit" ng-click="save()" value="Save" class="btn  btn-primary btn-sm" />
				</div>
			</div>
			<div class="ngdialog-close"></div>
		</div>
	</div>
</div>