<section class="content-header">
	<h1>Generate Progress Claim & Invoice</h1>
</section>
<section class="content">
	<div class="panel panel-default block footer-parent">
		<div class="panel-body">
			<div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 no-padding">
				<div class="col-md-2 col-lg-2 col-sm-2 col-xs-2 padL-0">
					<md-input-container>
						<label>EPS ID/Name</label>
						<input type="text" ng-model="searchProject.parentName" ng-click="getUserProjects()"
							autocomplete="off" readonly>
					</md-input-container>
				</div>
				<div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
					<md-input-container>
						<label>Project ID/Name</label>
						<input type="text" ng-model="searchProject.projName" ng-click="getUserProjects()"
							autocomplete="off" readonly>
					</md-input-container>
				</div>
				<div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
					<md-input-container>
						<label>Project Owner</label>
						<input type="text" ng-model="generalValues.userLabelKeyTO.name" ng-click="getProjectOwner()"
							autocomplete="off" readonly>
					</md-input-container>
				</div>
				<div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
					<md-input-container>
						<label>Originator</label>
						<input type="text" ng-click="getProjectEmployeeDetails()" autocomplete="off" readonly>
					</md-input-container>
				</div>
				<div class="col-md-1 col-lg-1 col-sm-1 col-xs-1">
					<md-input-container>
						<label>Contract</label>
						<input type="text" autocomplete="off">
					</md-input-container>
				</div>
				<div class="col-md-1 col-lg-1 col-sm-1 col-xs-1">
					<md-input-container>
						<label>Claim #</label>
						<input type="text" autocomplete="off">
					</md-input-container>
				</div>
				<div class="col-md-2 col-lg-2 col-sm-2 col-xs-2 padL-0">
					<md-input-container>
						<label>Date Of Claim</label>
						<potdate-picker dir-index="$index" date-name="dateOfClaim" ng-model="date | date"
							custom-read-only>
					</md-input-container>
				</div>
			</div>
			<div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 no-padding">
				
				<div class="col-md-2 col-lg-2 col-sm-2 col-xs-2  padL-0">
					<md-input-container>
						<label>Profit Center</label>
						<input type="text" autocomplete="off">
					</md-input-container>
				</div>
				<div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
					<md-input-container>
						<label>Period From (dd-mm-yyyy)</label>
						<potdate-picker dir-index="$index" date-name="fromDate" ng-model="progressClaim.fromDate"
							custom-read-only />
					</md-input-container>
				</div>
				<div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
					<md-input-container>
						<label>Period To (dd-mm-yyyy)</label>
						<potdate-picker dir-index="$index" date-name="toDate" ng-model="progressClaim.toDate"
							custom-read-only />
					</md-input-container>
				</div>
				<div class="col-sm-2 col-xs-2 col-md-2 col-lg-2">
					<md-input-container>
						<label>Internal Approval Required</label>
						<!--  <select style="width: 154px;" ng-model="approval.name" ng-options="approval.name for approval in approvalList track by approval.name"> -->
						<md-select ng-model="approval">
							<md-option value="approval" ng-repeat="approval in approvalList track by approval">
								{{approval}}
							</md-option>
						</md-select>
					</md-input-container>
				</div>
				<div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
					<md-input-container>
						<label>Internal Approval</label>
						<input type="text" ng-click="getUserProjects()" readonly>
					</md-input-container>
				</div>
				<div class="col-md-2 col-lg-2 col-sm-2 col-xs-2 padR-0">
					<div class="pull-right marT15">
						<input type="button" class="btn btn-primary btn-sm" value="Generate Invoice"
							ng-click="generateInvoice()" />
						<input type="button" ng-click="getDetails()" class="btn btn-primary btn-sm" value="Search">
						<!--<input
							type="reset" class="btn  btn-brown btn-sm"
							ng-click="resetDetails()" value="Reset" /> -->
					</div>
				</div>
			</div>
			<div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 no-padding">
				<div class="singleTableResHeight_3 overflow-auto">
					<table class="table table-hover table-bordered singleTableHeight_3">
						<thead>
							<tr>
								<th rowspan="2">Select</th>
								<th rowspan="2">EPS</th>
								<th rowspan="2">Project</th>
								<th rowspan="2">SOR Group Name</th>
								<th rowspan="2">SOR Sub-Group Name</th>
								<th rowspan="2">SOR Item Description</th>
								<th rowspan="2">Cost Code Group Name</th>
								<th rowspan="2">Cost Code Sub-Group Name</th>
								<th rowspan="2">Cost Code Description</th>
								<th rowspan="2">Unit Of Measure</th>
								<th rowspan="2">Contract Quantity</th>
								<th rowspan="2">Unit Rate</th>
								<th rowspan="2">Estimated Amount</th>
								<th rowspan="2">Currency</th>
								<th colspan="2" class="text-center">Progress-Previous Period</th>
								<th colspan="2" class="text-center">Progress-Current Period</th>
								<th colspan="2" class="text-center">Progress-To Date</th>
							</tr>
							<tr>
								<th>Quantity</th>
								<th>Amount</th>
								<th>Quantity</th>
								<th>Amount</th>
								<th>Quantity</th>
								<th>Amount</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="progress in progressClaim">
								<td><input type="checkbox" ng-model="progress.selected"
										ng-change="progressRowSelect(progress)"></td>
								<td>{{ }}</td>
								<td>{{ }}</td>
								<td>{{progress.sorgName}}</td>
								<td>{{progress.sorSubgName}}</td>
								<td>{{progress.sorItemDesc}}</td>
								<td>{{progress.costCodegName}}</td>
								<td>{{progress.costCodeSubgName}}</td>
								<td>{{progress.costCodeDesc}}</td>
								<td>{{progress.unitMeasure}}</td>
								<td>{{progress.contractQty}}</td>
								<td>{{progress.unitRate }}</td>
								<td>{{progress.estimatedAmount}}</td>
								<td>{{progress.currency}}</td>
								<td>{{progress.prevPeriod}}</td>
								<td>{{progress.currentPeriod}}</td>
								<td>{{progress.qty1}}</td>
								<td>{{progress.amt1}}</td>
								<td>{{progress.qty2}}</td>
								<td>{{progress.amt2}}</td>
								<td>{{progress.qty3}}</td>
								<td>{{progress.amt3}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</section>