<div ng-if="account.appCodeTemplate['RESOURCE_MATRLSTORITMSTCKONSITINTRANS_VIEW']" id="tab-pannel" ng-controller="MaterialStoreItemStockController" ng-init="getStoreItemStockBlncRecords()">
				<div class="singleTableResHeight_3">
				<div id="grid" ui-grid="gridOptions" class="singleTableResHeight_3" ng-if="stylesSvc.finishedStyling" 
            ui-grid-exporter ui-grid-move-columns ui-grid-auto-resize ui-grid-resize-columns class="grid"></div>
					<!-- <table class="table table-striped table-bordered singleTableHeight_3" >
						<thead id="tab-head">
							<tr>
								<th rowspan="2">Date</th>
								<th rowspan="2">EPS</th>
								<th rowspan="2">Project</th>
								<th rowspan="2">Project Docket</th>
								<th rowspan="2">Resource Name</th>
								<th rowspan="2">Resource Sub Group Name</th>
								<th rowspan="2">Origin Project</th>
								<th rowspan="2">Origin Store Stock Yard</th>
								<th rowspan="2">Destination Project</th>
								<th rowspan="2">Destination Store Stock Yard</th>
								<th rowspan="2">Supplier Name</th>
								<th rowspan="2">Issuer Employee Name</th>
								<th rowspan="2">Receiver Employee Name</th>
								<th rowspan="2">Unit Of Measure</th>
								<th rowspan="2">Rate</th>
								<th colspan="5" class="text-center">Quantity</th>
							</tr>
							<tr>
								<th>Opening Stock</th>
								<th>Issued</th>
								<th>date wise - Consumption</th>
								<th>Cumulative Consumption</th>
								<th>Closing Stock</th>
							</tr>

						</thead> 
						<tbody>
							<tr fixed-header="" ng-repeat ="storestock in storeStockBalanceDetails">
								<td>{{storestock.date | date:'dd-MMM-yyyy'}}</td>
								<td>{{storestock.eps}}</td>
								<td>{{storestock.projName}}</td>
								<td>{{storestock.docketNumber}}</td>
								<td>{{storestock.resourceMaterial}}</td>
								<td>{{storestock.resourceSubGroup}}</td>
								
								<td>{{storestock.originProject}}</td>
								<td>{{storestock.originLocation}}</td>
								<td>{{storestock.destinationProject}}</td>
								<td>{{storestock.destinationLocation}}</td> 

								<td>{{storestock.supplierName}}</td>
								<td>{{storestock.issuerEmpName}}</td>
								<td>{{storestock.receiverEmpName}}</td> 
								<td>{{storestock.unitOfMeasure}}</td>
								<td>{{storestock.rate}}</td>
								<td>{{storestock.openingStock}}</td>
								<td>{{(storestock.issued) ? storestock.issued : storestock.supplied}}</td>
								<td>{{storestock.consumption}}</td>
								<td>{{storestock.cumulativeConsumption}}</td>
								<td>{{storestock.closingStock}}</td>
						</tbody>
					</table> -->
				</div>
			<!-- <div class="panel-footer">
				<div class="pull-left">
					<input type="button" class="btn btn-primary btn-sm" value="Group" ng-click="group();">
					<input type="button" class="btn btn-primary btn-sm" value="Sort" ng-click="sort();">
					<input type="button" class="btn btn-primary btn-sm" value="Summarize" ng-click="summarize();">
					<input type="button" class="btn btn-primary btn-sm" value="Print" ng-click="print();">
					<input type="button" class="btn btn-primary btn-sm" value="Export" ng-click="export();">
				</div>
			</div> -->
</div>