<section class="content-header">
	<h1>Finance Center Master</h1>
	<!-- <input type="submit" value ="Help !"
		ng-click="helpPage();" class="pull-right btn  btn-primary btn-sm help-each-page"> -->
		<button class="pull-right btn btn-primary btn-sm help-each-page" 
	onclick="window.open('views/helptutorials/FinanceCenter.html', '_blank', 
		'toolbar=yes,scrollbars=yes,resizable=no,top=50,left=100,width=1400,height=700')">
		Help
	</button>
</section>
<section class="content">
	<div id="tab-pannel">
		<div class="panel-group">
			<form name="financeMasterForm" autocomplete="off">
				<div class="panel panel-default block footer-parent">
					<div class="panel-body" ng-init="getCountries();getFinanceCenters();getEmployeeTypes()">
						<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 no-padding">
							<div class="col-lg-3 col-md-3 col-xs-3 col-sm-3 padL-0">
								<md-input-container class="md-block">
									<label>Country</label>
									<input type="text" ng-model="countryProvision.countryName" class="form-control" data-test="FinanceCenter_Country"
										ng-click="getCountryDetails(countryProvision)" readonly>
								</md-input-container>

							</div>
							<div class="col-lg-3 col-md-3 col-xs-3 col-sm-3">
								<md-input-container class="md-block">
									<label>Status</label>
									<md-select ng-model="status" data-test="FinanceCenter_Status">
										<md-option fixed-header="" ng-repeat="item in items" ng-value="item">
											{{ item }}
										</md-option>
									</md-select>
								</md-input-container>
							</div>
							<div class="col-lg-6 col-md-6 col-xs-6 col-sm-6 padR-0">
								<div class="pull-right marT15 marB15">
									<input type="button" ng-click="financeCentreSearch()" class="btn  btn-primary btn-sm" data-test="FinanceCenter_Search"
										value="Search" />
									<input type="reset" class="btn  btn-default btn-sm" ng-click="reset()" data-test="FinanceCenter_Reset"
										value="Reset" />
								</div>
							</div>
						</div>
						<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 no-padding">
							<div class="singleTableResHeight_2">
							<div id="grid" ui-grid="gridOptions" class="singleTableResHeight_3" ng-if="stylesSvc.finishedStyling" 
           				  ui-grid-exporter ui-grid-move-columns ui-grid-auto-resize ui-grid-resize-columns class="grid"></div>
								<!-- <table class="table table-striped table-hover table-bordered singleTableHeight_2">
									<thead id="tab-head">
										<tr>
											<th style="width: 50px !important">Select</th>
											<th>Effective From</th>
											<th>Province</th>
											<th>Finance Center Code</th>
											<th>Employee - Unit of Pay Rates</th>
											<th>Employee Pay Roll Cycle / Credit Cycle</th>
											new code
											<th>Regular Pay Allowances Codes</th>
											<th>Non Regular Pay Allowances Codes</th>
											<th>Super fund / Provident Fund Code</th>
											<th>Tax Codes, Rates & Rules Code</th>
											<th>Pay Deduction Codes</th>
											<th>Tax Payment Receiver Code</th>
											<th>Status</th>
											end
										</tr>
									</thead>
									<tbody>
										fixed-header="" ng-repeat ="employees in employeesClassification | orderBy:sortType:sortReverse"
										<tr ng-repeat="item in financeCenterRecordTos">

											<td><label class="checkboxcontainer"> <input type="checkbox"
														ng-model="item.selected"
														ng-change="financeCentreRowSelect(item)"> <span
														class="checkmark"></span>
												</label></td>
											<td>{{item.effectiveFrom}}</td>
											<td>{{item.provisionName}}</td>
											<td>{{item.displayFinanceCenterId}}</td>
											<td style="text-align:center;"><input type="submit"
													class="btn  btn-primary btn-sm" value="View"
													ng-click="viewUnitOfPay(item)" /></td>
											<td style="text-align:center;"><input type="submit"
													class="btn  btn-primary btn-sm" value="View"
													ng-click="viewEmpPayRoll(item)" /></td>
											new code
											<td style="text-align:center;"><input type="submit"
													class="btn  btn-primary btn-sm" value="View" ng-click="viewRegularPay(item)" /></td>
											<td style="text-align:center;"><input type="submit"
													class="btn  btn-primary btn-sm" value="View" ng-click="viewNonRegularOfPay(item)" /></td>
											<td style="text-align:center;"><input type="submit"
													class="btn  btn-primary btn-sm" value="View" ng-click="viewSuperFund(item)" /></td>
											<td style="text-align:center;"><input type="submit"
													class="btn  btn-primary btn-sm" value="View" ng-click="viewTaxCodes(item)" /></td>
											<td style="text-align:center;"><input type="submit"
													class="btn  btn-primary btn-sm" value="View" ng-click="viewPayDeduction(item)" /></td>
											<td style="text-align:center;"><input type="submit"
													class="btn  btn-primary btn-sm" value="View" ng-click="viewTaxReciver(item)" /></td>
											<td>{{item.status | potstatusfilter :item.status}}</td>
											end
										</tr>
									</tbody>
								</table> -->
								<div class="panel-footer">
						<div class="pull-right">
							<input type="button" ng-click="addFinanceCentre('Add')" class="btn btn-primary btn-sm" data-test="FinanceCenter_CreateNew"
								value="Create New" />
						</div>
						<div class="pull-left">
							<!-- <input type="button" class="btn btn-primary btn-sm" value="Group" ng-click="group();">
							<input type="button" class="btn btn-primary btn-sm" value="Sort" ng-click="sort();">
							<input type="button" class="btn btn-primary btn-sm" value="Summarize" ng-click="summarize();">
							<input type="button" class="btn btn-primary btn-sm" value="Print" ng-click="print();">
							<input type="button" class="btn btn-primary btn-sm" value="Export" ng-click="export();"> -->
							<input type="button" ng-click="addFinanceCentre('Edit')" class="btn  btn-primary btn-sm" data-test="FinanceCenter_Edit"
								value="Edit" ng-if="account.appCodeTemplate['ENTRPRSE_CENTLIB_EMPCLSFY_ADD'] " />
							<input type="button" ng-click="deactivateFinanceCenterRecords()" data-test="FinanceCenter_Deactivate"
								class="btn  btn-secondary btn-sm" value="Deactivate"
								ng-if="account.appCodeTemplate['ENTRPRSE_CENTLIB_EMPCLSFY_ADD'] " />

							</a>
						</div>
					</div>
							</div>
						</div>
					</div>
				</div>
		</div>
		</form>
	</div>
	</div>
</section>