<div id="tab-pannel" class="panel-group">
	<form name="companyForm" autocomplete="off">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">Tax Codes, Rates & Rules</h4>
			</div>
			<div class="panel-body">
				<div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 no-padding">
					<div class="col-md-2 col-lg-2 col-sm-2 col-xs-2 padL-0">
						<md-input-container><label>Country</label> <input type="text" ng-model="" tabindex=-1 readonly="readonly"  /></md-input-container>
					</div>
					<div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
							<md-input-container><label>Province</label> <input type="text" tabindex=-1 ng-model="" readonly="readonly" /></md-input-container>
					</div>
					<div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
							<md-input-container><label>Effective Date </label><input type="text" tabindex=-1 ng-model="" name="yard" readonly="readonly" /></md-input-container>
					</div>
					<div class="col-md-2 col-lg-2 col-sm-2 col-xs-2 padR-0">
							<md-input-container><label>Tax Codes & Tax Rules ID </label><input type="text" tabindex=-1 ng-model="" name="employees List ID" readonly="readonly" /></md-input-container>
					</div>
                </div>
			<div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 no-padding">
				<div  class="popUpTableResHeight">
					<table class="table table-striped table-hover table-bordered popUpTableHeight">
						<thead id="tab-head">
							<tr>
								<th>Tax code</th>
								<th>Description</th>
								<th>applicable for Individual or Company</th>
								<th>Tax Credit Run Cycle</th>
								<th>Due Date for Credit to Tax Receiver ( Governmernt)</th>
								<th>Tax Rate and Rules</th>
							</tr>
						</thead>
						<tbody>
							<tr
								fixed-header="" ng-repeat ="employees in employeesClassification | orderBy:sortType:sortReverse">
								<td>{{ }}</td>
								<td>{{ }}</td>
								<td>{{}}</td>
								<td>{{}}</td>
								<td>{{}}</td>
								<td>{{}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			</div>
			<div class="panel-footer">
				<div class="pull-right">
					<input type="button" ng-click="viewPastrecords()"
						class="btn btn-primary btn-sm" value="View Past Records" />
				</div>
				<div class="pull-left">
					<input type="button" ng-click="newFinanceCentre('Add')"
						class="btn btn-secondary btn-sm" value="Sort" /> <input type="button"
						ng-print print-element-id="printThisElement"
						class="btn btn-secondary btn-sm" value="print" print-btn> <a
						ng-click='csv.generate()' ng-href="{{ csv.link() }}"
						download="progressAttendance.csv">
						<button class="btn btn-secondary btn-sm">Export</button>
					</a> <input type="button" ng-click="newFinanceCentre('Add')"
						class="btn btn-secondary btn-sm" value="Modify" /> <input
						type="button" ng-click="newFinanceCentre('Add')"
						class="btn btn-secondary btn-sm" value="Save" />

				</div>
			</div>
			<div class="ngdialog-close"></div>
		</div>
	</form>
</div>