<div id="tab-pannel" class="panel-group">
	<form name="plntRegForm4" validate>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">Requisition</h4>
			</div>
			<div class="panel-body">
			<div class="row">
					<div class="col-sm-12 col-md-9 col-lg-8">
						<table id="input-width4" class="table table-hover table-bordered">
							<thead>
								<tr>
									<th>Date of Request</th>
									<th>Requisition ID</th>
									<th>Origin Project</th>
									<th>Destination Project</th>
									<th>Notification ID</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="input-width0"><input type="text"
										ng-model="plantTransReqData.reqDate"></td>

									<td class="input-width4"><input type="text"
										ng-disabled="true" ng-model="request.reqId"
										placeholder="Requistion ID"></td>

									<td class="input-width4"><input type="text"
										ng-disabled="true"
										ng-model="userProjMap[plantTransReqData.fromProjId].name"
										placeholder="Origin Project" ng-click="getUserProjects(1)"></td>

									<td class="input-width4"><input type="text"
										ng-disabled="true"
										ng-model="userProjMap[plantTransReqData.toProjId].name"
										placeholder="Destination Project"
										ng-click="getUserProjects(2)"></td>


									<td class="input-width4"><input type="text"
										ng-disabled="true" ng-model="plantTransReqData.notifyCode"
										placeholder="Notification ID"></td>

								</tr>
							</tbody>
						</table>
				</div>
				<div class="col-sm-12 col-md-3 col-lg-4">
					<table id="input-width4" class="table table-hover table-bordered">
						<thead>
							<tr>
								<th>Approval Date</th>
								<th>Approval ID</th>
								<th>Notification ID</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><pot-futuredate-picker
										ng-model="plantTransReqData.apprDate" dir-index="$index"
										date-name="apprlDate" placeholder="dd-mm-yyyy"
										required="required" style="width:80px !important;"></td>

								<td><input type="text" ng-disabled="true"
									ng-model="plantTransReqData.apprCode" placeholder="Approval ID"></td>

								<td><input type="text" ng-disabled="true"
									ng-model="plantTransReqData.notifyCode"
									placeholder="Notification ID"></td>

							</tr>
						</tbody>
					</table>

				</div>
			</div>
			</div>
			<div class="panel-heading">
				<h4 class="panel-title">Requester</h4>
			</div>
			<div class="panel-body">
					<div class="row">
							<div class="col-sm-12 col-md-12 col-lg-12">
							<div class="overflow-auto">
				<table id="input-width4" class="table table-hover table-bordered">
					<thead>
						<tr>
							<th>Employee ID</th>
							<th>First Name</th>
							<th>Last Name</th>
							<th>Designation</th>
							<th>Current Project</th>
							<th>Phone Number</th>
							<th>Email Address</th>
						</tr>
					</thead>
					<tbody>
						<tr>

							<td><input type="text"
								ng-model="plantTransReqData.reqUserTO.empCode"
								readonly="readonly" placeholder="Employee ID"></td>

							<td><input type="text" readonly="readonly"
								ng-model="plantTransReqData.reqUserTO.firstName"
								placeholder="First Name"></td>

							<td><input type="text" readonly="readonly"
								ng-model="plantTransReqData.reqUserTO.lastName"
								placeholder="Last Name"></td>

							<td><input type="text" readonly="readonly"
								ng-model="plantTransReqData.reqUserTO.empDesg"
								placeholder="Designation" style="width: 115px !important"></td>

							<td><input type="text" readonly="readonly"
								ng-model="plantTransReqData.reqUserTO.currProj"
								placeholder="Current Project"></td>

							<td><input type="text" readonly="readonly"
								ng-model="plantTransReqData.reqUserTO.phone"
								placeholder="Phone Number"></td>

							<td><input type="text" readonly="readonly"
								ng-model="plantTransReqData.reqUserTO.email"
								placeholder="Email ID"></td>

						</tr>
					</tbody>
				</table>
				</div>
				</div>
				</div>
			</div>

			<div class="panel-heading">
				<h4 class="panel-title">Approver</h4>
			</div>
			<div class="panel-body">
					<div class="row">
							<div class="col-sm-12 col-md-12 col-lg-12">
							<div class="overflow-auto">
				<table id="input-width4" class="table table-hover table-bordered">
					<thead>
						<tr>
							<th>Employee ID</th>
							<th>First Name</th>
							<th>Last Name</th>
							<th>Designation</th>
							<th>Current Project</th>
							<th>Phone Number</th>
							<th>Email Address</th>
						</tr>
					</thead>
					<tbody>
						<tr>

							<td><input type="text" readonly="readonly"
								ng-model="plantTransReqData.apprUserTO.empCode"
								placeholder="Employee ID"></td>

							<td><input type="text" readonly="readonly"
								ng-model="plantTransReqData.apprUserTO.firstName"
								placeholder="First Name"></td>

							<td><input type="text" readonly="readonly"
								ng-model="plantTransReqData.apprUserTO.lastName"
								placeholder="Last Name"></td>

							<td><input type="text" readonly="readonly"
								ng-model="plantTransReqData.apprUserTO.empDesg"
								placeholder="Designation" style="width: 115px !important"></td>

							<td><input type="text" readonly="readonly"
								ng-model="plantTransReqData.apprUserTO.currProj"
								placeholder="Current Project"></td>

							<td><input type="text" readonly="readonly"
								ng-model="plantTransReqData.apprUserTO.phone"
								placeholder="Phone Number"></td>

							<td><input type="text" readonly="readonly"
								ng-model="plantTransReqData.apprUserTO.email"
								placeholder="Email ID"></td>

						</tr>
					</tbody>
				</table>
				</div>
				</div>
				</div>
			</div>

			<div class="panel-heading">
				<h4 class="panel-title">Plant List</h4>
			</div>
			<div class="panel-body">
					<div class="row">
							<div class="col-md-12 col-lg-12">
							<div class="tabTable_1_Res_height overflow-auto">
				<table id="input-width3" class="table table-hover table-bordered">
					<thead>
						<tr>
							<th>Select</th>
							<th>Asset ID</th>
							<th>Registration Number</th>
							<th>Plant Description</th>
							<th>Make</th>
							<th>Model</th>
							<th>Expected Date of Availability for Transfer</th>
							<th>Required Date of Transfer</th>
							<th>Approver Decision</th>
							<th>Date Set for Asset Transfer</th>
							<th>Actual Delivered Date at Destination</th>
							<th>Received By</th>
							<th>Notes from Receiver</th>
							<th>Plant Transfer Note Records</th>
						</tr>
					</thead>
					<tbody>
						<tr fixed-header="" ng-repeat ="plant in plantTransReqData.plantTransReqApprDtlTOs"
							ng-if="plantTransferExistingMap[plant.assertId]==null">

							<td><input type="checkbox" ng-model="plant.select"
								ng-change="plantRowSelect(plant)"></td>

							<td class="input-width4"><input type="text"
								ng-disabled="true"
								ng-model="transferPlantMap[plant.plantId].code"
								placeholder="Asset ID"></td>

							<td class="input-width4"><input type="text"
								ng-disabled="true"
								ng-model="transferPlantMap[plant.plantId].displayNamesMap['plntRegNo']"
								placeholder="Registration Number"></td>

							<td class="input-width4"><input type="text"
								ng-disabled="true"
								ng-model="transferPlantMap[plant.plantId].name"
								placeholder="Plant Description"></td>

							<td class="input-width4"><input type="text"
								ng-disabled="true"
								ng-model="transferPlantMap[plant.plantId].displayNamesMap['plntManfature']"
								placeholder="Make"></td>

							<td class="input-width4"><input type="text"
								ng-disabled="true"
								ng-model="transferPlantMap[plant.plantId].displayNamesMap['plntModel']"
								placeholder="Model"></td>

							<td class="input-width0"><pot-futuredate-picker
									ng-model="plant.expectedTransDate" dir-index="$index"
									date-name="expectedTransDate" placeholder="Expected Date"
									required="required" style="width:80px !important;"></td>

							<td class="input-width0"><pot-futuredate-picker
									ng-model="plant.transDate" dir-index="$index"
									date-name="trasnferDate" placeholder="dd-mm-yyyy"
									required="required" style="width:80px !important;"></td>

							<td class="input-width4"><input type="text"
								ng-disabled="true" ng-model="plantTransReqData.apprStatus"
								readonly="readonly" placeholder="Approver Decision"></td>

							<td class="input-width0"><pot-futuredate-picker
									ng-disabled="true" ng-model="plantTransReqData.apprDate"
									dir-index="$index" date-name="apprlDate"
									placeholder="dd-mm-yyyy" readonly="readonly"
									required="required" style="width:80px !important;"></td>

							<td class="input-width0"><pot-futuredate-picker
									ng-model="plantTransReqData.actualDeliveryDate"
									dir-index="$index" date-name="actualDeliveryDate"
									placeholder="dd-mm-yyyy" readonly="readonly"
									required="required" style="width:80px !important;"></td>

							<td class="input-width4"><input type="text"
								readonly="readonly"
								ng-model="plantTransReqData.apprUserTO.firstName"
								placeholder="Received By"></td>

							<td class="input-width4"><input type="text"
								ng-model="plant.comments" placeholder="Comments"></td>

							<td class="input-width4"><input type="file"
								ng-model="plant.documents" placeholder="Documents"></td>

						</tr>
					</tbody>
				</table>
				</div>
				</div>
				</div>
			</div>

			<div class="panel-footer">
				<div class="pull-right">
					<input data-test='PlantandEquipment_ApprovalForTransfer_Moredetails_Aapprove' type="button" class="btn  btn-brown btn-sm"
						ng-click="savePalntTrasnferRequest('Approved')" value="Approve">
					<input type="button" class="btn  btn-brown btn-sm" data-test='PlantandEquipment_ApprovalForTransfer_Moredetails_Reject'
						ng-click="savePalntTrasnferRequest('Rejected')" value="Reject">
				</div>
			</div>
		</div>
		<div class="ngdialog-close"></div>
	</form>
</div>